{% extends 'base.html.twig' %}

{% block title %} Projekt HUNGMEM | {{ parent() }} {% endblock %}

{% block body %}

    <div class="container mt-5">
        <h2>„Digitale Gedenk- und Forschungsinfrastruktur – Der Holocaust in Ungarn 80 Jahre später“ (HUNGMEM) </h2>
        <h3 class="mt-4">Hintergrund und Ziele des Projektes</h3>
        <div class="row">
            <div class="col-lg">
                <p>
                    One in ten Holocaust victims came from Hungary within its borders at the time. 500,000-600,000 Jews and Roma*nja were murdered by the National Socialists and their Hungarian allies. The names of most of these persecuted people are still unknown today. 80 years after the Holocaust in Hungary, a transnational research and remembrance project has set itself the goal of researching the fate of the deported women, men and children, coming to terms with it and preventing it from being forgotten. Together with partner institutions in Hungary, Romania and Slovakia, the Institute for the History of German Jews (IGdJ) will establish a digital commemoration and research infrastructure.</p>
            </div>
            <div class="col-lg">
                <p>
                    The IGdJ is coordinating the archive research to collect as many names and stories as possible of those who were deported to the concentration camps in northern Germany. Thanks to the good cooperation with the Neuengamme and Bergen-Belsen concentration camp memorials and the intensive research of the two project team members, comprehensive data has already been collected in recent months and new information could be added in some cases.
                </p>
                <p>
                    The aim now is to bring together the findings and make them accessible in a public presentation.
                </p>
            </div>
        </div>
    </div>


    <div class="container mt-2">
        <h3>Kooperationspartner</h3>
        <div class="row">
            <div class="col-md">
                <p>
                    The project "Digital Commemoration and Research Infrastructure - The Holocaust in Hungary 80 Years Later" (HUNGMEM) is being carried out in cooperation with the Hungarian Jewish Museum and Archive in Budapest, the Romanian Institute for Research on National Minorities and the Jewish Community in Komárno. The project is supported by the EU Commission as part of the CERV - Citizens, Equality, Rights and Values funding program. The international cooperation offers the unique opportunity to provide new impulses for research on the Holocaust by evaluating scattered sources in various archives in order to reconstruct transportation routes and individual biographies.
                </p>
            </div>
            <div class="col-md">
                <div class="container">
                    <div class="row">
                        <img class="img-fluid" src="{{ asset('images/') }}"
                             alt="Logo des Hungarian Jewish Museum and Archive in Budapest"/>
                    </div>
                    <div class="row">
                        <img class="img-fluid" src="{{ asset('images/') }}"
                             alt="Logo des Romanian Institute for Research on National Minorities"/>
                    </div>
                    <div class="row">
                        <img class="img-fluid" src="{{ asset('images/') }}"
                             alt="Logo der Jewish Community in Komárno"/>
                    </div>
                    <div class="row">
                        <img class="img-fluid" src="{{ asset('images/') }}"
                             alt="Logo der EU Commission"/>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}