{% extends 'base.en.html.twig' %}

{% block title %} Einzelbiografien Übersicht | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-biographies.html.twig' %}


    <div class="container g-4 py-5">

        <div class="row justify-content-end">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_bio_blum') }}" title="Biografische Studie Yehuda Blum">
                        <img class="img-fluid" src="{{ asset('images/biographies/Titelbild-Blum.jpg') }}"
                             alt="Fotografie der Geschwister Blum">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_bio_blum') }}" title="Biografische Studie Yehuda Blum">
                                ## ENGLISH ##  Yehuda Blum – die Kasztner-Gruppe
                            </a>
                        </h2>
                        <p>Yehuda Blum wurde am 2. Oktober 1931 im damals tschechoslowakischen Bratislava geboren. Er war der
                            Älteste von insgesamt drei Kindern. Er hatte einen Bruder (Amram Blum) und eine Schwester (Leah
                            Blum). Yehuda Blums Vater ...
                            <a class="more" href="{{ path('app_bio_blum') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_sources') }}" title="Biografische Studie Gyula Fürst">
                        <img class="img-fluid" src="{{ asset('images/biographies/Titelbild-Geschwister_Fuerst.jpg') }}"
                             alt="Biografische Studie Gyula Fürst">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_bio_fuerst') }}" title="">
                                Gyula Fürst – ein ungewöhnlicher Deportationsweg
                            </a>
                        </h2>
                        <p>Gyula Fürst wurde am 1. Juli 1923 als jüngstes von insgesamt vier Kindern in der ungarischen
                            Gemeinde Boba im Komitat Vas geboren. Als er vier Jahre alt war,
                            ...
                            <a class="more" href="{{ path('app_bio_fuerst') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 mt-2">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_biographytemplate') }}" title="Biografische Studie Katharina Hardy">
                        <img class="img-fluid" src="{{ asset('images/biographies/Titelbild-Katharina-Hardy.jpg') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_bio_hardy') }}" title="Biografische Studie Katharina Hardy">
                                Katharina Hardy – Fokus „DP-Camp Bergen-Belsen“
                            </a>
                        </h2>
                        <p>Katharina Hardy, geborene Cohn (nach 1947 Kardos), wurde am 7. November 1928 in Budapest in Ungarn
                            geboren und wuchs in bescheidenen Verhältnissen auf. Ihr Vater ...
                            <a class="more" href="{{ path('app_bio_hardy') }}" title="Weiterlesen">[mehr]</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_biographytemplate') }}" title="Portraits von Lea und Zsuzsa Merényi">
                        <img class="img-fluid" src="{{ asset('images/biographies/Titelbild-Merenyi-Schwestern.jpg') }}"
                             alt="Portraits von Lea und Zsuzsa Merényi">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_bio_mereny') }}" title="Biographische Studie der Schwestern Lea und Zsuzsa Merényi">
                                Die Schwestern Lea und Zsuzsa Merényi – Fokus „Rückkehr“
                            </a>
                        </h2>
                        <p>Lea Merényi wurde am 3. Dezember 1914 im ungarischen Budapest geboren, wuchs jedoch in Deutschland
                            auf. Ihre jüngere Schwester Zsuzsa wurde knapp
                            ...
                            <a class="more" href="{{ path('app_bio_mereny') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}