{% extends 'base.en.html.twig' %}

{% block title %} Historical context | {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container g-4 py-5 study">
        <h2>Historical context: Hungary and National Socialist forced labor</h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p class="abstract">
                    The collapse of Austria-Hungary at the end of the First World War led to a comprehensive reorganization of the 
                    states of southeastern Europe from 1918 onward. In 1920, Hungary had to cede two thirds of its previous territory 
                    to neighboring and successor states such as the newly formed Czechoslovakia or Romania according to the Treaty of 
                    Trianon. The recovery of these territories and the restoration of a “Greater Hungary” was a central political goal 
                    of the Hungarian revanchists, who also promoted Hungary’s alliance with National Socialist Germany for this 
                    purpose.<sup><a href="#endnote1" id="footnote1">1</a></sup><br/>
                    Under pressure from Germany, a southern part of Czechoslovakia was initially occupied and annexed by Hungary in 
                    1938 and, after the final destruction of Czechoslovakia by Germany in 1939, the Transcarpathian region as well. 
                    Romania was also forced by the Axis powers to cede parts of its territory to Hungary in 1940. After the German and 
                    Italian attack on the Kingdom of Yugoslavia, Hungary also annexed areas in the northern part of the 
                    country.<sup><a href="#endnote2" id="footnote2">2</a></sup> The Jewish population of these regions, inhabited by a 
                    large number of different population groups with different languages and religions, thus shared the fate of the 
                    other Hungarian Jews and even today is often seen as part of this group in research and commemorative contexts, even 
                    though members of that population only partly saw themselves as Hungarian or spoke Hungarian. In 1941, Jews from 
                    the annexed territories made up approximately 45 percent of the Jewish population of what was then 
                    Hungary.<sup><a href="#endnote3" id="footnote3">3</a></sup>
                    This website therefore uses the phrasing “deported from Hungary.”
                </p>
                <a href="{{ asset('images/history/ungarn-1944.jpg') }}"
                   title="Click to enlarge the map"
                   data-lightbox="map-ungarn"
                   data-title="Map of Hungary in 1944 with annexed territories in Slovakia, Carpathian Ukraine, Transylvania, Prekmurje, Medimurje and Baranya Bácska">
                    <img class="gallery img-fluid" style="width: 600px;"
                         src="{{ asset('images/history/ungarn-1944.jpg') }}"
                         alt="Map of Hungary in 1944 with annexed territories in Slovakia, Carpathian Ukraine, Transylvania, Prekmurje, Medimurje and Baranya Bácska"/>
                </a>
                <p class="caption">
                    Hungarian territory in 1920 (yellow) and after annexations in 1941 (yellow and green). Source: <a
                            href="https://commons.wikimedia.org/wiki/File:Hungary_map_1941.png"
                            title="Image on Wiki Commons">https://commons.wikimedia.org</a>. License: <a
                            href="https://creativecommons.org/public-domain/"
                            title="More information about the license on the Creative Commons website">Public domain</a> &#128269; Click to enlarge.
                </p>
            </div>
        </div>

        <h3 class="mt-4">Antisemitism in Hungary</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    In 1941, Hungary entered the Second World War as an ally of Nazi Germany. This exacerbated the situation for the 
                    Jewish population.<sup><a href="#endnote4" id="footnote4">4</a></sup> Jews in Hungary had already been subject to 
                    discriminatory legislation since the 1920s, to which further laws were added after the country entered the war. 
                    Male Jews who were excluded from military service were assigned to forced labor battalions at the front, where an 
                    estimated 15,000 of them perished.<sup><a href="#endnote5" id="footnote5">5</a></sup> In 1941, marriages between 
                    Jewish and non-Jewish partners were also banned and the definition of who was to be considered Jewish was broadened. 
                    In future, not only religious affiliation was decisive, but also descent.<sup><a href="#endnote6" id="footnote6">6</a></sup>
                    Then, at the end of August 1941, some 18,000 Jews who had either previously fled to Hungary from other countries to 
                    escape the Nazis or who were unable to prove their Hungarian citizenship quickly enough were deported from 
                    Transcarpathia to German-occupied territories as “alien” Jews. There they were murdered in the Kamenez-Podolsk 
                    massacre along with local Jews by members of the German Order Police and the SS. The extent to which Ukrainian and 
                    Hungarian units were also involved is disputed. A total of 23,600 persons were murdered in the largest mass shooting 
                    and killing operation of the Holocaust up to that time, including about 14,000 to 16,000 Jews deported from 
                    Hungary.<sup><a href="#endnote7" id="footnote7">7</a></sup> A massacre also took place by Hungarian gendarmerie 
                    in the annexed territories of former Yugoslavia, in which approximately 2,550 Serbs and 700 Jews were 
                    murdered.<sup><a href="#endnote8" id="footnote8">8</a></sup> The Hungarian government initially refused to hand 
                    over the Jews, who were considered Hungarian, to the German Reich, meaning that they were spared deportation to 
                    the extermination camps for the time being.<sup><a href="#endnote9" id="footnote9">9</a></sup>
                </p>
                <p>
                    As an Axis victory became increasingly unlikely in 1943, the Hungarian government – like Italy before it – began 
                    to establish secret contact with the Allies. After Italy had actually signed an armistice with the Allies in 
                    September 1943 and dissolved the alliance with Nazi Germany, a repetition of these events in Hungary was to be 
                    prevented. In March 1944, Hungary was therefore occupied by German troops and a new government was installed, with 
                    the head of state Miklós Horthy retaining his office.<sup><a href="#endnote10" id="footnote10">10</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox mt-2">
                    <h4>&#9432; Jewish men and women</h4>
                    <p>
                        The Jewish men and women deported from Hungary belonged to various communities and religious movements within 
                        Judaism. Not all of them necessarily defined themselves as Jewish. Neither their religion nor their cultural 
                        affiliation to Judaism or self-identification was decisive for their persecution by the National Socialists. 
                        At the heart of the National Socialist worldview was a racist antisemitism that defined Jews according to their 
                        descent. Christians and atheists were also persecuted as Jews by the National Socialists, regardless of their 
                        self-definition or cultural affiliation, if they met their criteria of descent. Not all of the persons referred 
                        to here as Jews identified themselves as Jewish, but they were all persecuted as Jewish.
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Deportations of Jews under German occupation</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    A special unit of the SS, the “Sondereinsatzkommando Eichmann,” arrived in Hungary along with the German 
                    occupying forces. Under the leadership of Adolf Eichmann, this unit was to organize the deportation of 
                    Hungary’s Jews.<sup><a href="#endnote11" id="footnote11">11</a></sup> Immediately after the German occupation, 
                    the Jewish population was initially obliged to wear a star and then forced into ghettos from April 1944 onward. 
                    The first deportations to the Auschwitz concentration and extermination camp complex began as early as May 1944. 
                    The former Czechoslovakian and Romanian regions of Hungary were among the first areas from which the Jewish 
                    population was deported, as it was feared that they would soon be liberated by the Red Army. As well, the 
                    deportation of the Jews there seemed to the Hungarian government to be less of a domestic political risk. 
                    In less than two months, the National Socialists deported about 437,000 Jews to Auschwitz-Birkenau with assistance 
                    by the Hungarian gendarmerie.<sup><a href="#endnote12" id="footnote12">12</a></sup>
                </p>
                <div>
                    <img class="img-fluid" src="{{ asset('images/history/Auschwitz-Album_268_4.jpg') }}"
                         alt="Arrival of Jewish men, women and children in Auschwitz-Birkenau"/>
                    <p class="caption">
                        Arrival of Jewish men, women and children from Transcarpathia in Auschwitz-Birkenau in May 1944 before the 
                        selection. The photos were taken by SS men for an unknown purpose and represent their perspective. The photos 
                        are one of the few photographic sources from the extermination camps. Auschwitz album
                        (<a href="https://www.yadvashem.org/yv/de/exhibitions/album_auschwitz/arrival.asp" title="Website Yad Vashem">
                            https://www.yadvashem.org/yv/de/exhibitions/album_auschwitz/arrival.asp</a>), Copyright © 2024 Yad Vashem – 
                            The World Holocaust Remembrance Center, use according to Fair Use
                        (<a href="https://www.yadvashem.org/terms-and-conditions.html" title="Website Yad Vashem">
                            https://www.yadvashem.org/terms-and-conditions.html</a>)
                    </p>
                </div>
                <p>
                    The SS murdered the majority of them immediately after their arrival in the gas chambers in Birkenau. 
                    Only about a quarter were picked out during the “selections” to perform forced labor for the German 
                    Reich.<sup><a href="#endnote13" id="footnote13">13</a></sup> Some of the prisoners were deployed in labor 
                    detachments directly in the Auschwitz camp complex, for example in the industrial plants set up there. 
                    During their time in Auschwitz, the prisoners were in constant danger of being singled out for murder in new 
                    “selections.” Another group was selected for work detachments in one of the more than one thousand satellite 
                    camps within the National Socialist concentration camp system that were located at various industrial sites in 
                    the German Reich or in the occupied territories.<sup><a href="#endnote14" id="footnote14">14</a></sup>
                </p>
                <img class="img-fluid" src="{{ asset('images/history/karte-lager-norddeutschland.jpg') }}"
                     alt="Locations of concentration camps in northern Germany"/>
                <p class="caption">
                    Locations of concentration camps in northern Germany where persons deported from Hungary were imprisoned since 1944. 
                    Institute for the History of the German Jews. License: CC BY 4.0.
                    <a href="{{ path('app_map') }}" title="Map overview">
                        &#10149; To the interactive map
                    </a>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>


        <h3 class="mt-4" id="zwangsarbeit">Forced labor under National Socialism</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    National Socialist Germany made extensive use of forced labor in various forms to meet its labor needs. In the 
                    German Reich alone, over 13.5 million persons had to perform forced labor during the Second World 
                    War.<sup><a href="#endnote15" id="footnote15">15</a></sup> For ideological reasons and domestic political 
                    considerations, the National Socialists refused to increase the number of women in gainful employment, so that 
                    foreign workers were used instead.<sup><a href="#endnote16" id="footnote16">16</a></sup>
                    However, as the recruitment of voluntary civilian workers, so-called “alien workers,” in the allied states and 
                    the occupied territories fell far short of the expectations of the National Socialist rulers, from 1940 onward 
                    entire birth cohorts were sometimes conscripted or deported by force. After the invasion of the Soviet Union, people 
                    from the Soviet Union, so-called “Eastern European workers,” quickly formed the largest group of civilian forced 
                    laborers. They were joined by prisoners of war, who were also used for forced labor, as well as concentration camp 
                    inmates.<sup><a href="#endnote17" id="footnote17">17</a></sup> Forced labor was used in all branches of industry, 
                    but also in agriculture and in private households. Forced laborers were thus a visible part of everyday life in 
                    National Socialist Germany, especially in the final years of the war. The camps in which they were quartered were 
                    located in residential areas as well and they shared their workplaces and routes to work with German 
                    civilians.<sup><a href="#endnote18" id="footnote18">18</a></sup> An overview of the known camps and workplaces of 
                    forced laborers in Hamburg can be found <a href="https://zwangsarbeit-in-hamburg.de/"
                       title="Website on forced labor of the Hamburg State Center for Political Education (Landeszentrale für 
                       Politische Bildung Hamburg)">here</a>, for example.
                </p>
                <p>
                    The individual living and working conditions of the forced laborers depended on their legal status, nationality, 
                    gender, and place of work. People from Poland and the Soviet Union in particular were at the mercy of the 
                    arbitrariness and violence of their foremen and guards, and they were often forced to live and work in inhumane 
                    conditions. Even more brutal and inhumane were the working conditions of the Soviet prisoners of war, 1.3 million 
                    of whom did not survive. Together with the concentration camp prisoners, they formed the lowest end of the racist 
                    and social Darwinist hierarchy of National Socialist forced labor. The hard physical labor, deliberately induced 
                    malnutrition, and inadequate provisions made survival impossible for many prisoners. They were murdered by the 
                    National Socialists through the conditions under which they were forced to work and 
                    live.<sup><a href="#endnote19" id="footnote19">19</a></sup>
                </p>
                <p>
                    Wolfgang Sofsky therefore coined the term “terror work” for the labor of the concentration camp inmates to 
                    emphasize that the purpose of the work was not their productivity, but that the ineffective work assignments 
                    primarily served to terrorize the detainees. The historian Marc Buggeln explicitly rejects this term for the work 
                    in the Neuengamme satellite camps, arguing that the maximum exploitation of the prisoners’ labor until they died 
                    of exhaustion was in the economic interests of the companies. Instead, he advocates the term “slave labor,” which 
                    is also used by many survivors.<sup><a href="#endnote20" id="footnote20">20</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Forced labor of Jews deported from Hungary</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    After other labor reservoirs for forced labor had already been exhausted in 1944, the National Socialists decided to 
                    deport Jews from extermination camps as well to industrial sites in the German Reich in 1944. Some 200,000 Jews were 
                    subsequently deported to concentration camps and their satellite camps in the German Reich, including about 
                    110,000 Jews who had previously been deported from Hungary.<sup><a href="#endnote21" id="footnote21">21</a></sup> 
                    In order to limit contact with the civilian population as well as escape opportunities, these concentration camp 
                    prisoners were held in separate satellite camps, which remained under the control of the SS. The SS also insisted 
                    that Jews from Hungary, who were considered to be particularly dangerous in that organization’s antisemitic 
                    worldview, should not be deployed in groups of fewer than 500.<sup><a href="#endnote22" id="footnote22">22</a></sup> 
                    About 5,800 Jewish women who had been deported from Hungary were thus sent from Auschwitz to satellite camps of the 
                    Neuengamme concentration camp, in some cases via Bergen-Belsen or other concentration camps.<sup><a href="#endnote23" id="footnote23">23</a></sup>
                </p>
                <p>
                    After the deposition of Miklós Horthy and the coup d’état of the fascist Arrow Cross Party in Hungary in October 
                    1944, supported by the German occupiers, the deportations were resumed in the areas not yet liberated by the Red 
                    Army. Several tens of thousands of Jews were driven on foot to the Austrian border, where they were handed over 
                    to German authorities. They too were subsequently deployed as forced laborers.<sup><a href="#endnote24" id="footnote24">24</a></sup> 
                    Some of them were also deported to northern Germany, such as approximately 840 prisoners who arrived at Neuengamme 
                    main camp in November 1944. Furthermore, a number of male prisoners were also deported to northern Germany via 
                    Auschwitz for forced labor.<sup><a href="#endnote25" id="footnote25">25</a></sup> In addition, some inmates were 
                    deported via Bergen-Belsen to satellite camps of other main camps or arrived in Bergen-Belsen in the course of the 
                    evacuation of many concentration camps at the end of the war. Since over 15,000 names of concentration camp 
                    prisoners from Hungary are known in Bergen-Belsen, representing only a fraction of the actual number due to the 
                    poor source situation, the total number of prisoners deported from Hungary and imprisoned in northwest German 
                    concentration camps was certainly much higher. The overall number of concentration camp prisoners deported from 
                    Hungary who had to perform forced labor in the German Reich is estimated at 176,000.<sup><a href="#endnote26" id="footnote26">26</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">“Extermination through labor” and survival</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    The Jewish concentration camp prisoners were used in particular for the physically demanding underground 
                    relocation of the armaments industry, which the National Socialists had switched to by 1943 in view of Allied 
                    air superiority. However, the forced labor of Hungarian Jews was also used in other branches of the armaments 
                    industry and in clearing rubble.<sup><a href="#endnote27" id="footnote27">27</a></sup>
                </p>
                <img class="img-fluid" src="{{ asset('images/history/Bremen-Innenstadt.jpg') }}"
                     alt="Female concentration camp prisoners from Hungary and Poland clearing rubble in downtown Bremen"/>
                <p class="caption">
                    Female concentration camp prisoners from Hungary and Poland clearing rubble in downtown Bremen. The work of the 
                    concentration camp prisoners was a visible part of everyday life, as the presence of the civilians on the left 
                    of the picture shows. Bremen State Archives, 4.77/1 photos 3567, photo: Walter Cüppers, Bremen, 1944.
                </p>
                <p>
                    In many workplaces, the working conditions were such that survival was not possible in the long term. Thousands 
                    of prisoners were murdered by the National Socialists in the course of “extermination through labor.”<sup><a href="#endnote28" id="footnote28">28</a></sup> 
                    The prisoners’ chances of survival depended not least on the work assignments they were given. In order to prevent 
                    the liberation of the concentration camp prisoners by the Allies, their camps were evacuated before the approaching 
                    front. The prisoners were deported by train or on foot to concentration camps still under German control. 
                    Many prisoners perished on these transports, which survivors characterized as death marches. Only about 63 percent 
                    of the Jews deported to Germany who had previously been deported from Hungary survived the Nazi forced labor.<sup><a href="#endnote29" id="footnote29">29</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <ul class="bibliography">
                    <li>
                        Randolph L. Braham, “Historical Overview,” in: Idem. (ed.), The geographical encyclopedia of the
                        Holocaust in Hungary, Vol. 1, Evanston 2013, pp. XV-XCV.
                    </li>
                    <li>
                        Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009.
                    </li>
                    <li>
                        Marc Buggeln, “Were Concentration Camp Prisoners Slaves? The Possibilities and Limits of
                        Comparative History and Global Historical Perspectives,” in: International Review of Social
                        History 53 (2008), pp. 101-129.
                    </li>
                    <li>
                        Detlef Garbe, Neuengamme im System der Konzentrationslager. Studien zur Ereignis- und
                        Rezeptionsgeschichte, Berlin 2015.
                    </li>
                    <li>
                        Christian Gerlach / Götz Aly, Das letzte Kapitel. Der Mord an den ungarischen Juden, Stuttgart /
                        München 2002.
                    </li>
                    <li>
                        Susanne Heim et al. (eds.), Die Verfolgung und Ermordung der europäischen Juden durch das
                        nationalsozialistische Deutschland 1933-1945, Vol. 15. Ungarn 1944-1945. Edited by Regina
                        Fritz, Berlin / Boston 2021.
                    </li>
                    <li>
                        Johannes Meerwald, “The DEGOB Protocols and the Deportations of Jewish Prisoners to the Dachau
                        Camp Complex,” in: Henning Borggräfe / Akim Jah (eds.), Deportations in the Nazi Era: Sources
                        and Research, Berlin / Boston, pp. 405-428, p. 406.
                    </li>
                    <li>
                        Mark Spoerer, Zwangsarbeit unter dem Hakenkreuz, Stuttgart / München 2001.
                    </li>
                    <li>
                        Jens-Christian Wagner, “NS-Untertageanlagen und Gedenkstättenarbeit: Erfahrungen aus
                        Mittelbau-Dora,” in: Gedenkstätten-Rundbrief 147 (2009), pp. 5-13.
                    </li>
                </ul>
            </div>
        </div>

        <h3 class="mt-4">Footnotes</h3>
        <div class="row">
            <div class="col-lg-8 caption">
                <ol>
                    <li id="endnote1">
                        Cf. Christian Gerlach / Götz Aly, Das letzte Kapitel. Der Mord an den ungarischen Juden, 
                        Stuttgart / Munich 2002, pp. 28–30.
                        <a href="#footnote1">&uarr;</a>
                    </li>
                    <li id="endnote2">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 31–35.
                        <a href="#footnote2">&uarr;</a>
                    </li>
                    <li id="endnote3">
                        See Randolp L. Braham, “Historical Overview,” in: Idem. (ed.), The geographical encyclopedia of the Holocaust 
                        in Hungary, Vol. 1, Evanston 2013, pp. XV–XCV, p. XIX.
                        <a href="#footnote3">&uarr;</a>
                    </li>
                    <li id="endnote4">
                        Cf. Braham, “Overview,” p. XXII.
                        <a href="#footnote4">&uarr;</a>
                    </li>
                    <li id="endnote5">
                        Cf. Gerlach / Aly, letzte Kapitel, p. 78.
                        <a href="#footnote5">&uarr;</a>
                    </li>
                    <li id="endnote6">
                        Cf. Gerlach / Aly, letzte Kapitel, p. 49.
                        <a href="#footnote6">&uarr;</a>
                    </li>
                    <li id="endnote7">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 74–75; Braham, “Overview,” pp. XXIII–XXVIII.
                        <a href="#footnote7">&uarr;</a>
                    </li>
                    <li id="endnote8">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 75–76; Braham, “Overview,” pp. XXVIII–XXX.
                        <a href="#footnote8">&uarr;</a>
                    </li>
                    <li id="endnote9">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 81–83.
                        <a href="#footnote9">&uarr;</a>
                    </li>
                    <li id="endnote10">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 83–84, 91–98.
                        <a href="#footnote10">&uarr;</a>
                    </li>
                    <li id="endnote11">
                        Cf. in detail in Gerlach / Aly, letzte Kapitel, pp. 249–269; Braham, “Overview,” p. XLIV.
                        <a href="#footnote11">&uarr;</a>
                    </li>
                    <li id="endnote12">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 268–269, 274–283; Braham, “Overview,” pp. li–lxxx.
                        <a href="#footnote12">&uarr;</a>
                    </li>
                    <li id="endnote13">
                        Cf. Gerlach / Aly, letzte Kapitel, p. 294.
                        <a href="#footnote13">&uarr;</a>
                    </li>
                    <li id="endnote14">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 375–414.
                        <a href="#footnote14">&uarr;</a>
                    </li>
                    <li id="endnote15">
                        Cf. Mark Spoerer, Zwangsarbeit unterm Hakenkreuz. Ausländische Zivilarbeiter, Kriegsgefangene und 
                        Häftlinge im Deutschen Reich und im besetzten Europa 1939–1945, Stuttgart / Munich 2001.
                        <a href="#footnote15">&uarr;</a>
                    </li>
                    <li id="endnote16">
                        Cf. Spoerer, Zwangsarbeit, p. 31f.
                        <a href="#footnote16">&uarr;</a>
                    </li>
                    <li id="endnote17">
                        Cf. Spoerer, Zwangsarbeit, pp. 35–88, 99–115.
                        <a href="#footnote17">&uarr;</a>
                    </li>
                    <li id="endnote18">
                        Cf. in detail in Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009, pp. 605–624.
                        <a href="#footnote18">&uarr;</a>
                    </li>
                    <li id="endnote19">
                        Cf. Spoerer, Zwangsarbeit, pp. 24–34.
                        <a href="#footnote19">&uarr;</a>
                    </li>
                    <li id="endnote20">
                        Cf. Marc Buggeln, Arbeit und Gewalt, pp. 218-225; Spoerer, Zwangsarbeit, p. 17; 
                        Marc Buggeln, “Were Concentration Camp Prisoners Slaves? The Possibilities and Limits of Comparative History 
                        and Global Historical Perspectives,” in: International Review of Social History 53 (2008), pp. 101–129.
                        <a href="#footnote20">&uarr;</a>
                    </li>
                    <li id="endnote21">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 170f., 375–414.
                        <a href="#footnote21">&uarr;</a>
                    </li>
                    <li id="endnote22">
                        Gerlach / Aly, letzte Kapitel, p. 377f; Susanne Heim et al. (eds.), Die Verfolgung und Ermordung der 
                        europäischen Juden durch das nationalsozialistische Deutschland 1933-1945, Vol. 15. Ungarn 1944–1945. 
                        Edited by Regina Fritz, Berlin / Boston 2021, p. 60.
                        <a href="#footnote22">&uarr;</a>
                    </li>
                    <li id="endnote23">
                        The information is based on our own research as part of this project and estimates from the Neuengamme and 
                        Bergen-Belsen memorials.
                        <a href="#footnote23">&uarr;</a>
                    </li>
                    <li id="endnote24">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 355–367.
                        <a href="#footnote24">&uarr;</a>
                    </li>
                    <li id="endnote25">
                        See Detlef Garbe, Neuengamme im System der Konzentrationslager. Studien zur Ereignis- und Rezeptionsgeschichte, 
                        Berlin 2015, p. 101.
                        <a href="#footnote25">&uarr;</a>
                    </li>
                    <li id="endnote26">
                        Johannes Meerwald: “The DEGOB Protocols and the Deportations of Jewish Prisoners to the Dachau Camp Complex,” 
                        in: Henning Borggräfe / Akim Jah (eds.), Deportations in the Nazi Era: Sources and Research, Berlin / Boston, 
                        pp. 405–428, p. 406.
                        <a href="#footnote26">&uarr;</a>
                    </li>
                    <li id="endnote27">
                        Cf. Gerlach / Aly, letzte Kapitel, pp. 379, 394; Jens-Christian Wagner, “NS-Untertageanlagen und 
                        Gedenkstättenarbeit: Erfahrungen aus Mittelbau-Dora,” in: Gedenkstätten-Rundbrief 147 (2009), pp. 5–13, p. 6.
                        <a href="#footnote27">&uarr;</a>
                    </li>
                    <li id="endnote28">
                        A discussion of the term “extermination through labor” can be found in Spoerer, Zwangsarbeit, pp. 180–183.
                        <a href="#footnote28">&uarr;</a>
                    </li>
                    <li id="endnote29">
                        Cf. Gerlach / Aly, letzte Kapitel.
                        <a href="#footnote29">&uarr;</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Citation reference</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Louis Wörner, “Historischer Kontext: Ungarn und nationalsozialistische Zwangsarbeit,”
                    in: Der Holocaust in Ungarn und die Deportationen nach Norddeutschland. Biographien, Lager und Zwangsarbeit, 
                    edited by the Institute for the History of the German Jews, URL:
                    https://holocaust-ungarn-norddeutschland.de{{ path('app_context') }}.
                    License: <a href="https://creativecommons.org/licenses/by/4.0/" 
                    title="License terms on the Creative Commons website">CC BY 4.0</a>.
                </p>
            </div>
        </div>

    </div>

{% endblock %}