{% extends 'base.html.twig' %}

{% block title %} Gruppenstudien Übersicht | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-deportationen.html.twig' %}

    <div class="container g-4 py-5">

        <div class="row justify-content-end">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_deportation_vw') }}" title="Blick in eine Produktionshalle der V1 im Konzentrationslager Mittelbau-Dora, Mai 1946, Fotograf: unbekannt, D-Day Museum, Portsmouth, 089.006, online unter: https://fotoarchiv.dora.de/detail/2595, Public Domain">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-300-V1-Produktion.png') }}"
                             alt="Produktion der V1-Rakete: Ansicht der unterirdischen Produktionsstätte">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_vw') }}" title="Zur Gruppenstudie der Gruppe der 300">
                                Die Gruppe der 300. Zwangsarbeiter als Facharbeiter bei VW
                            </a>
                        </h2>
                        <p> Circa 13,5 Millionen Menschen wurden während des Zweiten Weltkrieges zu Zwangsarbeit im
                            Deutschen
                            Reich herangezogen. Die Aufrechterhaltung der Kriegswirtschaft war nur durch die
                            zwangsverpflichteten Arbeiterinnen und Arbeiter ...
                            <a class="more" href="{{ path('app_deportation_vw') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_deportation_dessauerUfer') }}" title="Das Lagerhaus G am Dessauer Ufer diente ab 1944 als KZ-Außenlager, Ansicht von der Wasserseite aus. Foto: Stiftung Hamburger Gedenkstätten und Lernorte zur Erinnerung an die Opfer der NS-Verbrechen, Rainer Viertlböck, 2020, https://gedenkstaetten-in-hamburg.de/gedenkstaetten/zeige/gedenktafeln-am-lagerhaus-g-kz-aussenlager-dessauer-ufer">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-Dessauer-Ufer.png') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_dessauerUfer') }}" title="Zur Gruppenstudie Dessauer Ufer">
                                Die Frauen vom KZ-Außenlager Dessauer Ufer. Zwangsarbeit im städtischen Raum
                            </a>
                        </h2>
                        <p>Ungefähr 200.000 der aus Ungarn deportierten Jüdinnen und Juden, mussten Zwangsarbeit
                            leisten. Über Auschwitz und Österreich wurden sie ab Mitte 1944 auf verschiedene Außenlager
                            im Deutschen Reich und den besetzten Gebieten verteilt.
                            ...
                            <a class="more" href="{{ path('app_deportation_dessauerUfer') }}"
                               title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 mt-2">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_deportation_salzwedel') }}" title="Befreite männliche und weibliche KZ-Häftlinge in Gardelegen am 5. Juni 1945. Privatbesitz, Johann-Friedrich-Danneil-Museum, Salzwedel">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-Salzwedel.png') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_salzwedel') }}" title="Zur Gruppenstudie Salzwedel">
                                Zwangsarbeit in der Rüstungsindustrie. Die Befreiung des KZ-Außenlagers Salzwedel
                            </a>
                        </h2>
                        <p>Bereits vor dem Beginn des Zweiten Weltkrieges hatten die Nationalsozialisten mit dem
                            forcierten
                            Ausbau der deutschen Rüstungsindustrie begonnen. So waren allein von 1933 bis 1938 die
                            Rüstungsausgaben von ...
                            <a class="more" href="{{ path('app_deportation_salzwedel') }}"
                               title="Weiterlesen">[mehr]</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_deportation_luebberstedt') }}" title="Auschwitz-Album, Yad Vashem ( https://www.yadvashem.org/yv/de/exhibitions/album_auschwitz/arrival.asp), Copyright © 2024 Yad Vashem – Internationale Holocaust Gedenkstätte, Nutzung gemäß Fair Use (https://www.yadvashem.org/terms-and-conditions.html)">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild_Luebberstedt.jpg') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_luebberstedt') }}" title="Zur Gruppenstudie Lübberstedt">
                                Die Räumung des KZ-Außenlagers Lübberstedt. In Güterwaggons durch Norddeutschland
                            </a>
                        </h2>
                        <p>Mit dem Vormarsch der Alliierten wurden ab Mitte 1944 auch die ersten Konzentrationslager
                            befreit.
                            Bevor alliierte Truppen die Lager erreichen konnten, versuchte die SS jedoch Spuren zu
                            vernichten und die Häftlinge
                            ...
                            <a class="more" href="{{ path('app_deportation_luebberstedt') }}"
                               title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}