{% extends 'base.html.twig' %}

{% block title %} Deportationen | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-deportationen.html.twig' %}

    <div class="container g-4 py-5">

        <div class="row justify-content-end">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_deportation_vw') }}" title="Zur Fallstudie der Gruppe der 300">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-300-V1-Produktion.png') }}"
                             alt="Produktion der V1-Rakete: Ansicht der unterirdischen Produktionsstätte">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_vw') }}" title="Zur Fallstudie der Gruppe der 300">
                                „Gruppe der 300“ bei VW
                            </a>
                        </h2>
                        <p> Circa 13,5 Millionen Menschen wurden während des Zweiten Weltkrieges zu Zwangsarbeit im Deutschen
                            Reich herangezogen. Die Aufrechterhaltung der Kriegswirtschaft war nur durch die
                            zwangsverpflichteten Arbeiterinnen und Arbeiter ...
                            <a class="more" href="{{ path('app_deportation_vw') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_deportation_dessauerUfer') }}" title="">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-Dessauer-Ufer.png') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_dessauerUfer') }}" title="">
                                „Ungarische“ Frauen am Dessauer Ufer, Wedel und Eidelstedt
                            </a>
                        </h2>
                        <p>Dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            ...
                            <a class="more" href="{{ path('app_deportation_dessauerUfer') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 mt-2">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_deportation_salzwedel') }}" title="">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-Salzwedel.png') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_salzwedel') }}" title="Fallstudie Salzwedel">
                                Überlebende Frauen im Außenlager Salzwedel
                            </a>
                        </h2>
                        <p>Bereits vor dem Beginn des Zweiten Weltkrieges hatten die Nationalsozialisten mit dem forcierten
                            Ausbau der deutschen Rüstungsindustrie begonnen. So waren allein von 1933 bis 1938 die
                            Rüstungsausgaben von ...
                            <a class="more" href="{{ path('app_deportation_salzwedel') }}" title="Weiterlesen">[mehr]</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_deportation_luebberstedt') }}" title="">
                        <img class="img-fluid" src="{{ asset('images/placeholder_840x560.jpg') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_luebberstedt') }}" title="">
                                Frauen im Außenlager Lübberstedt
                            </a>
                        </h2>
                        <p>Mit dem Vormarsch der Alliierten wurden ab Mitte 1944 auch die ersten Konzentrationslager befreit.
                            Bevor alliierte Truppen die Lager erreichen konnten, versuchte die SS jedoch Spuren zu vernichten und die Häftlinge
                            ...
                            <a class="more" href="{{ path('app_deportation_luebberstedt') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}