{% extends 'base.html.twig' %}

{% block title %} Deportationen | {{ parent() }} {% endblock %}

{% block body %}

    <div class="container g-4 py-5">

        <div class="row justify-content-end">
            <div class="col-sm">
                <div>
                    <a href="" title="">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-300-V1-Produktion.png') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_deportation_vw') }}" title="">
                                „Gruppe der 300“ bei VW
                            </a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum ...
                            <a class="more" href="{{ path('app_deportation_vw') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_sources') }}" title="">
                        <img class="img-fluid" src="{{ asset('images/studies/Titelbild-Dessauer-Ufer.png') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_studytemplate') }}" title="">
                                „Ungarische“ Frauen am Dessauer Ufer, Wedel und Eidelstedt
                            </a>
                        </h2>
                        <p>Dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            ...
                            <a class="more" href="{{ path('app_studytemplate') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 mt-2">
            <div class="col-sm">
                <div>
                    <a href="{{ path('app_studytemplate') }}" title="">
                        <img class="img-fluid" src="{{ asset('images/placeholder_840x560.jpg') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_studytemplate') }}" title="">
                                Überlebende Frauen im Außenlager Salzwedel
                            </a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum ...
                            <a class="more" href="{{ path('app_studytemplate') }}" title="Weiterlesen">[mehr]</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm offset-lg-1">
                <div>
                    <a href="{{ path('app_studytemplate') }}" title="">
                        <img class="img-fluid" src="{{ asset('images/placeholder_840x560.jpg') }}"
                             alt="">
                    </a>
                    <div class="studiesoverview">
                        <h2>
                            <a href="{{ path('app_studytemplate') }}" title="">
                                Frauen im Außenlager Lübberstedt, Räumungstransport Eutin
                            </a>
                        </h2>
                        <p>Dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            ...
                            <a class="more" href="{{ path('app_studytemplate') }}" title="Weiterlesen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}