{% extends 'base.en.html.twig' %}

{% block title %} Imprint | {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container g-4 py-5">
    <h2>Imprint</h2>
    <div class="row">
    <div class="col-lg-6">
        <p>
            The website is a service of the Institute for the History of the German Jews and presents project results from the 
            EU Commission-funded project entitled “Digital Commemoration and Research Infrastructure – The Holocaust in Hungary 80 Years 
            Later” (HUNGMEM).
        </p>
        <p>
            Institute for the History of the German Jews<br/>(Institut für die Geschichte der deutschen Juden)<br/>
            Beim Schlump 83<br/>
            20144 Hamburg<br/>
        </p>
        <p>
            +49 40 - 42 838-2617<br/>
            contact(at)igdj-hh.de
        </p>
        <p>
            The Institute, a foundation constituted under civil law and administered by the Free and Hanseatic City of Hamburg, 
            is institutionally funded by the Ministry of Science, Research, Equality, and Districts of the Free and Hanseatic City 
            of Hamburg. 
        </p>
        <img class="img-fluid" src="{{ asset('images/logos/BWFG-Logo.png') }}"
             alt="Logo for the Ministry of Science, Research, Equality, and Districts of the Free and Hanseatic City of Hamburg"/>

        <h4>Persons authorized to represent the organization:</h4>
        <p>
            Director Dr. Kim Wünschmann<br/>
            Deputy Director: Dr. Björn Siegel
        </p>
        <h4>Responsible for the content:</h4>
        <p>
            Lara Meinert, M.A.<br/>
            Louis Wörner, M.A.
        </p>
        <h4>Conception and coordination:</h4>
        <p>
            Dr. Anna Menny<br/>
            Dr. Kim Wünschmann
        </p>
        <h4>Technical conception and implementation:</h4>
        <p>
            Dr. Anna Neovesky<br/>
            Helena Geibel, M.A.
        </p>
        <h4>Translation:</h4>
        <p>
            Erwin Fink
        </p>
        <h4>Cooperation partner:</h4>
        <p>
            <a href="https://bergen-belsen.stiftung-ng.de/de/">Lower Saxony Memorials Foundation / Bergen-Belsen Memorial</a>
            <div class="partner">
                <a href="https://bergen-belsen.stiftung-ng.de/de/" title="Website of the Lower Saxony Memorials Foundation / Bergen-Belsen Memorial">
                    <img class="img-fluid" src="{{ asset('images/logos/bergen-belsen.png') }}"
                        alt="Logo of the Bergen-Belsen Concentration Camp Memorial"/>
                </a>
            </div>
            <a href="https://www.kz-gedenkstaette-neuengamme.de/">Neuengamme Concentration Camp Memorial</a>
            <div class="partner">
                <a href="https://www.kz-gedenkstaette-neuengamme.de/" title="Website of the Neuengamme Concentration Camp Memorial">
                    <img class="img-fluid" src="{{ asset('images/logos/neuengamme.png') }}"
                        alt="Logo of the Neuengamme Concentration Camp Memorial"/>
                </a>
            </div>
        </p>


        <h3>Acknowledgments</h3>
        <p>
            We would like to thank all the institutions and individuals involved for their permission to use images and 
            source material and for their support with the research.
        </p>

        <h3>Support</h3>
        <p>
            The transnational joint project “Digital Commemoration and Research Infrastructure – The Holocaust in Hungary 80 Years Later” 
            (HUNGMEM) is funded by the EU Commission as part of the 
            <a href="https://ec.europa.eu/info/funding-tenders/opportunities/portal/screen/programmes/cerv"
                    title="Website of the CERV funding program CERV">
                CERV – Citizens, Equality, Rights and Values
            </a> funding program.
        </p>
        <div class="row partner">
            <a href="https://commission.europa.eu/index_de" tilte="Website of the European Commission">
                <img class="img-fluid" src="{{ asset('images/logos/European_Commission_logo.jpg') }}"
                     alt="Logo of the EU Commission"/>
            </a>
        </div>

        <h2 class="pt-4" id="data-protection">Data protection</h2>
        <p>
            This is an online service of the Institute for the History of the German Jews (IGdJ). The 
            <a href="https://igdj-hh.de/datenschutz" target="_blank"
                   title="Privacy policy on the website of the Institute for the History of the German Jews">
                general privacy policy of the IGdJ
            </a> applies to the processing of all personal data collected in the course of operating this website.
        </p>
        <p>
            <em>Fathom Analytics</em> is used to collect anonymized access data. 
            Fathom Analytics is a service offered by Conva Ventures Inc. for anonymized analyses through which the 
            provider can determine how users use this application. 
            Collected data is anonymized by hashing processes. Further information is available 
            <a href="https://usefathom.com/data" title="Information on data processing by Fathom Analytics">here</a> 
            and via the <a href="https://usefathom.com/privacy" title="Privacy policy of Fathom Analytics">service’s privacy policy</a>. 
            <br/>Personal Data processed: Usage data. Place of processing: Canada.
        </p>

        <h3 id="usage">Rights of use</h3>
        <p>
            The texts are under a <a href="https://creativecommons.org/licenses/by/4.0/deed.de" 
            title="License terms on the Creative Commons website">CC BY 4.0 license</a> and can be used under attribution.
        </p>
        <p>
            The licensing conditions of the illustration may vary and are indicated on each of the illustrations.
        </p>

    </div>

{% endblock %}