{% extends 'base-map.html.twig' %}

{% block title %} Kartenansicht Konzentrationslager | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-map.html.twig' %}

    <div class="container g-4 py-5">
        <h2>Übersicht der Lager mit aus Ungarn Deportierten</h2>

        <div class="row">
            <div class="col-lg-6">
                <p>
                    Die Karte zeigt Standorte von Konzentrationslager in Norddeutschland, in denen aus Ungarn
                    deportierte Personen seit 1944 inhaftiert waren. Zunächst in dem sogenannten „Austauschlager“
                    Bergen-Belsen. Seit 1944 wurden auch Juden und Jüdinnen die zuvor in Vernichtungslager verschleppt
                    wurden, ins Deutsche Reich deportiert um hier zur Zwangsarbeit herangezogen zu werden. Dafür wurden
                    sie auch in KZ Außenlagern untergebracht, die in unmittelbarer räumlicher Nähe zu ihren Arbeitsorten
                    entstanden. Jüdinnen und Juden die zuvor aus Ungarn nach Auschwitz deportiert worden waren,
                    gelangten so ab Mitte 1944 nach Norddeutschland. Weitere Juden aus Budapest kamen Ende 1944 über
                    Österreich hinzu.
            </div>
            <div class="col-lg-6">
                <p>
                    Aufgrund von neuen Bedarfen an Zwangsarbeit sowie angesichts des Vorrückens der
                    Alliierten wurden die Häftlinge mitunter mehrfach in andere Lager verlegt.
                    <br>
                    Nach der Räumung der Außenlager des KZ Neuengamme kamen viele der Häftlinge nach Bergen Belsen, das
                    sich aufgrund der unmenschlichen Bedingungen und der akuten Überfüllung zu einem Sterbelager
                    entwickelte. Gezeigt werden die Lager, die in den hier präsentierten Fallstudien erwähnt werden und
                    für die im Rahmen des Projektes die Anwesenheit für aus Ungarn deportierte Personen nachgewiesen
                    werden konnte. Eine <a
                            href="https://www.kz-gedenkstaette-neuengamme.de/geschichte/kz-aussenlager/aussenlagerliste/"
                            title="Website der KZ-Gedenkstätte Neuengamme">
                        Übersicht aller Außenlager des KZ Neuengamme findet sich hier</a>, weitere
                    <a href="https://bergen-belsen.stiftung-ng.de/de/geschichte/konzentrationslager-1943-1945/"
                       title="Website der KZ-Gedenkstätte Neuengamme">
                        Informationen zum KZ Bergen Belsen finden sich hier</a>.</p>
                </p>
            </div>
        </div>

        <div class="row">
            <div id="map" class="mt-3">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Informationen zu ausgewählten Lagern</h3>
            <div class="col-lg-6">
                <h4 id="bergenbelsenMore">Bergen-Belsen</h4>
                <p>Das KZ Bergen-Belsen war 1943 zunächst zur Unterbringung jüdischer Geiseln gegründet worden, die
                    gegen deutsche Zivilpersonen im alliierten Gewahrsam ausgetauscht werden sollten. Von Juli bis
                    September 1944 richtete die SS Teillager für verschiedene Häftlingsgruppen ein, dazu gehörte auch
                    das sogenannte „Ungarnlager“. Schnell wurden ihm jedoch weitere Funktionen zugewiesen. Ende März
                    1944 wurde ein Lagerteil für männliche Häftlinge anderer Konzentrationslager eingerichtet, die zu
                    krank waren, um dort weiter Zwangsarbeit zu leisten. Die SS unternahm wenig, um ein Überleben der
                    kranken Häftlinge zu ermöglichen, so dass ein Großteil von ihnen in Bergen-Belsen starb. Im August
                    1944 wurde ein Lagerabschnitt für weibliche Häftlinge eingerichtet, die zur Arbeit in der deutschen
                    Rüstungsindustrie gezwungen werden sollten.  Innerhalb von wenigen Monaten deportierte die SS etwa
                    9.000 Häftlinge in das Frauenlager. Die Häftlinge stammten zunächst vor allem aus Polen, wo sie
                    infolge des Warschauer Aufstands verhaftet worden waren; später waren unter ihnen auch viele
                    polnische und ungarische Jüdinnen. Der Großteil der Frauen wurde nach kurzer Zeit in eines der
                    KZ-Außenlager an Standorten deutscher Rüstungsfirmen deportiert. Ab Ende 1944 wurde das KZ
                    Bergen-Belsen zum Ziel vieler Todesmärsche und Räumungstransporte aus den frontnahen
                    Konzentrationslagern. Allein zwischen Dezember 1944 bis Mitte April 1945 kamen so zusätzlich 85.000
                    Häftlinge nach Bergen-Belsen, so dass das Lager schnell völlig überbelegt war. Auch die
                    Versorgungssituation war katastrophal. Unter diesen Umständen kam es zu einem Ausbruch einer Typhus-
                    und Fleckfieberepidemie, die von der SS kaum bekämpft wurde. Das Konzentrationslager Bergen-Belsen
                    wurde zu einem Sterbelager. Am Standort des ehemaligen Konzentrationslagers befindet sich heute eine
                    Gedenkstätte. (Vgl. Stiftung niedersächsische Gedenkstätten: Bergen-Belsen. Kriegsgefangenenlager
                    1940–1945. Konzentrationslager 1943–1945. Displaced Persons Camp 1945–1950. Katalog der
                    Dauerausstellung, Celle 2009, S.144–295.)</p>
                <h4 id="fallerlebenMore">Fallersleben (Frauen)</h4>
                <p>
                    Das Frauenaußenlager Fallersleben war im Spätsommer 1944 im VW-Werk als Außenlager Neuengammes
                    eingerichtet worden. In den Unterkünften der Frauen waren zuvor 300 als Metallfacharbeiter
                    ausgewählte jüdische Männer untergebracht gewesen. Die ersten weiblichen Häftlinge waren Jüdinnen,
                    die aus Ungarn nach Auschwitz deportiert und von der SS für einen Arbeitseinsatz ausgewählt worden
                    waren.  Später kamen weitere Transporte aus Bergen-Belsen hinzu. Die Häftlinge mussten Panzerfäuste
                    und Tellerminen im VW-Werk produzieren. Im März 1945 kamen etwa 200 Frauen zusätzlich aus dem
                    Außenlager Porta Westfalica-Hausberge in Fallersleben an. Zusammen wurden beide Gruppen am 8. April
                    nach Salzwedel deportiert, bevor alliierte Truppen das VW-Werk befreiten.
                </p>
                <h4 id="dessauerUferMore">Hamburg-Dessauer Ufer</h4>
                <p>
                    Die etwa 1500 Frauen im KZ-Außenlager Dessauer Ufer (KZ Neuengamme) kamen mit zwei Transporten aus
                    Auschwitz. Der erste Transport im Juli 1944 bestand etwa zur Hälfte aus als Jüdinnen verfolgten
                    Frauen, die erst kurz zuvor aus dem Ghetto Theresienstadt in Auschwitz angekommen waren und
                    überwiegend aus der damaligen Tschechoslowakei stammten. Die andere Hälfte bestand aus Jüdinnen, die
                    aus dem kurz zuvor von den Deutschen besetzten Ungarn deportiert worden waren. Einige der Frauen aus
                    dem besetzten Ungarn stammten aus Gebieten, die erst 1943 durch Ungarn selbst besetzt oder
                    annektiert worden waren und zuvor zur Tschechoslowakei und zu Rumänien gehört hatten. Der zweite
                    Transport im August 1944 bestand vor allem aus Jüdinnen, die zuvor aus dem Ghetto Litzmannstadt
                    (Łódź) nach Auschwitz gekommen waren. Viele von ihnen stammten aus Polen, einige von ihnen aber auch
                    aus Deutschland. Die Frauen mussten vor allem Trümmer im Hamburger Hafen räumen, der zum Ziel
                    alliierter Bombardements geworden war.
                </p>
                <p>
                    Im September 1944 wurde das Frauenaußenlager am Dessauer Ufer aufgelöst und die Frauen auf mehrere
                    in diesem Zuge gegründete Frauenaußenlager in Sasel, Wedel und Neugraben verteilt. Kurz darauf wurde
                    am selben Standort ein Männeraußenlager des KZ Neuengamme eingerichtet.
                </p>
                <h4 id="eidelstedtMore">Hamburg-Eidelstedt</h4>
                <p>
                    Am 27. September 1944 wurden etwa 500 ungarische und tschechische Jüdinnen, die zuvor am Dessauer
                    Ufer und in Wedel inhaftiert waren, in das Außenlager Eidelstedt des KZ Neuengamme deportiert. Hier
                    mussten sie Zwangsarbeit beim Bau von Behelfswohnheimen für die Hamburger Zivilbevölkerung und bei
                    Trümmer- und Schneeräumungen im Stadtgebiet leisten. Anfang April 1945 wurden in Erwartung der
                    baldigen Befreiung Hamburgs die Hamburger Außenlager geräumt und die Häftlinge aus dem Stadtgebiet
                    deportiert. Die Häftlinge des Außenlagers Eidelstedt wurden nach Bergen-Belsen deportiert, wo viele
                    von ihnen starben.
                </p>
                <h4 id="ahlemMore">Hannover-Ahlem</h4>
                <p>
                    Das Lager wurde von KZ-Häftlingen aus dem Außenlager Hannover-Stöcken auf dem Gelände der
                    Continental-Gummiwerke im November 1944 errichtet. Es gehörte zum Außenlagersystem des KZ
                    Neuengamme. Insgesamt waren etwa 840 zumeist jüdische Männer dort untergebracht, die größtenteils
                    zuvor im Außenlager Hannover-Stöcken inhaftiert waren. Die Häftlinge mussten Zwangsarbeit für den
                    Bau eines unterirdischen Stollens für die Continental-Gummiwerke und die Maschinenfabrik
                    Niedersachsen Hannover leisten. Am 5. April wurde der Großteil der Häftlinge nach Bergen-Belsen
                    getrieben. Die noch im Lager verbliebenen Häftlinge wurden am 10. April 1945 von amerikanischen
                    Truppen befreit.
                </p>
                <h4 id="luebberstedtMore">Lübberstedt</h4>
                <p>
                    In einem Forstgebiet an der Bahnstrecke Bremen–Bremerhaven befand sich während des Zweiten
                    Weltkrieges eine Munitionsanstalt (Muna) der deutschen Luftwaffe. In Munitionsanstalten wurden
                    Kampfmittel und Munition aus Zwischenprodukten zusammengesetzt und gelagert. In der Muna
                    Lübberstedt-Bilohe mussten auch osteuropäische Zwangsarbeiter und Zwangsarbeiterinnen,
                    Kriegsgefangene und italienische Militiärinternierte sowie KZ-Häftlinge arbeiten. Letztere kamen im
                    Sommer 1944 aus Auschwitz, wohin sie fast alle kurz zuvor aus Ungarn deportiert worden waren. 500
                    jüdische Frauen mussten hier bis Ende April Zwangsarbeit in den Produktionsanlagen leisten. Auch das
                    Außenlager Lübberstedt-Bolihe (KZ Neuengamme) wurde geräumt, bevor alliierte Truppen das Lager
                    befreien konnten. Die Frauen wurden in Viehwagons gezwungen, die eineinhalb Wochen durch
                    Norddeutschland irrten, bis die überlebenden Frauen nach einem britischen Fliegerangriff in der Nähe
                    Eutins befreit wurden.
                </p>
                <h4 id="hausbergeMore">Porta Westfalica-Hausberge</h4>
                <p>
                    Das Frauenaußenlager Porta Westfalica-Hausberge war erst im Februar 1945 eingerichtet worden. In
                    Porta Westfalica befanden sich zu diesem Zeitpunkt bereits zwei Männeraußenlager des KZ-Neuengamme,
                    die Häftlinge sollten alte Bergmannsstollen zu unterirdischen Produktionsstätten umbauen. In einem
                    dieser Stollen sollten die etwa 1.000 Frauen des neuen Frauenaußenlagers Radioröhren für die Firma
                    Philipps und ihre Tochterfirmen herstellen. Die Häftlinge waren vor allem Jüdinnen, die aus den
                    Niederlanden und Ungarn nach Auschwitz deportiert worden waren. Ein Teil von ihnen hatte bereits in
                    einem Außenlager des KZ Groß Rosen Radioröhren produzieren müssen, bis diese Produktionsstätte im
                    Januar 1945 angesichts der sich nähernden sowjetischen Armee geräumt wurde.
                </p>
                <h4 id="salzwedelMore">Salzwedel</h4>
                <p>
                    In Salzwedel konnte die Draht- und Metallwarenfabrik vom deutschen Rüstungsboom profitieren; bereits
                    1937 war sie mit 600 Beschäftigten zum großen Industriebetrieb in der Stadt gewachsen. Auch hier
                    wurde auf ausländische Zwangsarbeiter zurückgegriffen. 1944 wurde ein Lager, das bis dahin für
                    osteuropäische Zwangsarbeiterinnen genutzt worden war, zu einem Außenlager des KZ Neuengamme
                    umgestaltet.Im Spätsommer 1944 kam hier der erste Transport von weiblichen KZ-Häftlingen an, die in
                    Auschwitz für die Arbeit selektiert worden waren. Die Gruppe bestand vor allem aus Jüdinnen, die
                    erst kurz zuvor aus Ungarn oder aus von Ungarn annektierten Gebieten deportiert worden waren. In der
                    Folgezeit wurden weitere weibliche KZ-Häftlinge in das neue Außenlager deportiert. Anders als der
                    erste Transport waren sie aber nicht direkt nach Salzwedel, sondern zunächst in das
                    Konzentrationslager Bergen-Belsen deportiert und dort für die Arbeit in Salzwedel ausgewählt worden.
                    Am 14. April 1945 wurde das Lager durch amerikanische Truppen befreit. Nur wenige Kilometer entfernt
                    hatten SS, Wehrmacht und Volksturmeinheiten sowie Hitlerjungen am Tag zuvor 1.061 männliche
                    KZ-Häftlinge beim Massaker von Gardelegen in einer Scheune verbrannt.
                </p>
                <h4 id="vwWerkMore">VW-Werk Halle1</h4>
                <p>
                    1938/1939 hatte die ein Jahr zuvor gegründete Volkswagen GmbH ihr Werk in der Nähe von Fallersleben
                    im heutigen Wolfsburg errichtet. Nach Kriegsbeginn wurden hier nicht, wie ursprünglich geplant,
                    Autos für die deutsche Zivilbevölkerung produziert, sondern Rüstungsaufträge übernommen. Dabei griff
                    der Volkswagen-Konzern auch auf die verschiedenen Formen nationalsozialistischer Zwangsarbeit
                    zurück. Ende 1944 stellten Zwangsarbeiter und Zwangsarbeiterinnen zwei Drittel der Belegschaft,
                    insgesamt mussten etwa 200.000 Menschen Zwangsarbeit bei Volkswagen leisten, viele von ihnen
                    überlebten die Arbeitsbedingungen nicht. Neben zivilen Zwangsarbeitern und Zwangsarbeiterinnen,
                    sowjetischen Kriegsgefangenen und italienischen Militärinternierten betraf dies auch insgesamt circa
                    5.000 KZ-Häftlinge. 300 von ihnen waren als Metallfacharbeiter im KZ Auschwitz aus einer Gruppe aus
                    Ungarn deportierter Juden ausgewählt worden, um die Kernbelegschaft einer unterirdischen
                    Raketenproduktion einer VW-Tochter zu bilden. Hierzu wurden sie zunächst im VW-Werk ausgebildet, in
                    dem sie auch untergebracht waren. Nachdem Teile des Werkes durch alliierte Bombardierung zerstört
                    worden waren, wurden die 300 ins nordfranzösische Thil deportiert.
                </p>
                <h4 id="wedelMore">Wedel (Frauen)</h4>
                <p>
                    Seit September 1944 wurden in dem Außenlager Wedel des KZ Neuengamme 500 ungarische und tschechische
                    Jüdinnen inhaftiert, die zuvor am Dessauer Ufer gewesen waren und Zwangsarbeit bei Räumungsarbeiten
                    im Stadtgebiet leisten mussten. Nach zwei Wochen wurde das Lager geräumt und die Frauen in das
                    Außenlager Eidelstedt gebracht.
                </p>
            </div>
        </div>

    </div>

    {# Coordinates set to Salzwedel [ 52.85, 11.15] as that allows to have a good overview of all camps #}
    <script>

        var isStudyIcon = L.icon({
            iconUrl: '{{ asset('images/marker-icon.png') }}',
            iconSize: [30, 48,6], // size of the icon
            iconAnchor: [19, 88], // point of the icon which will correspond to marker's location
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        var isInDataIcon = L.icon({
            iconUrl: '{{ asset('images/marker-icon_grey.png') }}',
            iconSize: [30, 48,6], // size of the icon
            iconAnchor: [19, 88], // point of the icon which will correspond to marker's location
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });


        const BergenBelsen = L.marker([52.757778, 9.907778], {icon: isStudyIcon}).bindPopup('<strong>Bergen-Belsen</strong><p>Das KZ Bergen-Belsen war 1943 zunächst als „Austauschlager“ für die Unterbringung jüdischer Geiseln gegründet worden. Schnell wurden ihm aber weitere Funktionen zugewiesen und ein Männer- sowie ein Frauenlager eingerichtet. Ab Ende 1944 wurde Bergen-Belsen Ziel vieler Todesmärsche und Räumungstransporte und entwickelte sich aufgrund der katastrophalen Bedingungen zu einem Sterbelager. Nach der Befreiung wurde in Bergen-Belsen ein polnisches und ein jüdisches Displaced Persons-Camp eingerichtet.</p>&#9656; <a href="#bergenBelsenMore">Mehr zu Bergen-Belsen</a><br/>&#9656; <a href="{{ path('app_deportation_vw') }}">Fallstudie 300er-Gruppe</a><br/>&#9656; <a href="{{ path('app_deportation_dessauerUfer') }}">Fallstudie Dessauer Ufer</a><br/>&#9656; <a href="{{ path('app_deportation_salzwedel') }}">Fallstudie Salzwedel</a><br/>&#9656; <a href="{{ path('app_bio_fuerst') }}">Fallstudie Gyula Fürst</a><br/>&#9656; <a href="{{ path('app_bio_mereny') }}">Fallstudie Schwestern Merény</a><br/>&#9656; <a href="{{ path('app_bio_blum') }}">Fallstudie Yehuda Blum</a><br/>&#9656; <a href="{{ path('app_bio_hardy') }}">Fallstudie Katharina Hardy</a><br/>');
        const Boizenburg = L.marker([53.37507, 10.698472], {icon: isInDataIcon}).bindPopup('<strong>Boizenburg</strong><br/>');
        const BraunschweigBuessingNAG = L.marker([52.256667, 10.541111], {icon: isInDataIcon}).bindPopup('<strong>Braunschweig (Büssing-NAG) </strong><br/>');
        const BraunschweigVechelde = L.marker([52.260111, 10.376306], {icon: isInDataIcon}).bindPopup('<strong>Braunschweig-Vechelde</strong><br/>');
        const BraunschweigSSReitschule = L.marker([52.243424, 10.536425], {icon: isInDataIcon}).bindPopup('<strong>Braunschweig (SS-Reitschule)</strong><br/>');
        const BremenFarge = L.marker([53.217222, 8.533333], {icon: isInDataIcon}).bindPopup('<strong>Bremen-Farge</strong><br/>');
        const BremenBlumenthal = L.marker([53.18146, 8.56473], {icon: isInDataIcon}).bindPopup('<strong>Bremen-Blumenthal</strong><br/>');
        const BremenHindenburgkaserne = L.marker([53.057302350927216, 8.816555094621869], {icon: isInDataIcon}).bindPopup('<strong>Bremen-Hindenburgkaserne</strong><br/>');
        const BremenObernheide = L.marker([53.00101850934623, 8.745048757476429], {icon: isInDataIcon}).bindPopup('<strong>Bremen-Obernheide</strong><br/>');
        const BremenOsterort = L.marker([53.141951279652694, 8.691817452772783], {icon: isInDataIcon}).bindPopup('<strong>Bremen-Osterort</strong><br/>');
        const BremenSchuetzenhof = L.marker([53.118994, 8.768726], {icon: isInDataIcon}).bindPopup('<strong>Bremen-Schützenhof</strong><br/>');
        const FallerslebenFrauen = L.marker([52.433333, 10.766667], {icon: isStudyIcon}).bindPopup('<strong>Fallersleben (Frauen)</strong><p>Das Frauenlager Fallersleben war als Außenlager des KZ Neuengamme im Spätsommer 1944 im VW-Werk eingerichtet worden. Die etwa 650 Häftlinge mussten Panzerfäuste und Tellerminen im VW-Werk produzieren. Am 8. April 1945 wurde das Frauenaußenlager von der SS geräumt und die Frauen nach Salzwedel transportiert.</p>&#9656; <a href="fallerslebenMore">Mehr zu Fallersleben</a><br/>&#9656; <a href="{{ path('app_deportation_salzwedel') }}">Fallstudie Salzwedel</a>');
        const HAhlem = L.marker([52.37835, 9.65748], {icon: isStudyIcon}).bindPopup('<strong>Hannover-Ahlem</strong><p>Das Männeraußenlager Hannover-Ahlem war als Außenlager des KZ Neuengamme im November 1944 errichtet worden. Die etwa 840 Häftlinge mussten einen unterirdischen Stollen für die Continental-Gummiwerke und die Maschinenfabrik Niedersachsen anlegen. Am 5. April wurde der Großteil der Häftlinge nach Bergen-Belsen getrieben.</p><a href="ahlemMore">Mehr zu Hannover-Ahlem</a><br/><a href="{{ path('app_bio_fuerst') }}">Fallstudie Gyula Fürst</a>');
        const HelmstedtBeendorfFrauen = L.marker([52.23989233360328, 11.089496406413582], {icon: isInDataIcon}).bindPopup('<strong>Helmstedt-Beendorf (Frauen)</strong><br/>');
        const HHDessauerUfer = L.marker([53.525, 10.010556], {icon: isStudyIcon}).bindPopup('<strong>Hamburg-Dessauer Ufer</strong><p>Das Außenlager des KZ Neuengamme war im September 1944 eingerichtet worden. Die etwa 500  Häftlinge waren zuvor im Außenlager Wedel inhaftiert und mussten insbesondere Zwangsarbeit beim Bau von Behelfswohnheimen leisten. Anfang April 1945 wurden die Häftlinge nach Bergen-Belsen deportiert.</p></p>&#9656; <a href="{{ path('app_map') }}#eidelstedtMore">Mehr zu Hamburg-Dessauer Ufer</a><br/></p>&#9656; <a href="{{ path('app_deportation_dessauerUfer') }}">Fallstudie Dessauer Ufer</a>');
        const HHEidelstedt = L.marker([53.60677, 9.87835], {icon: isStudyIcon}).bindPopup('<strong>Hamburg-Eidelstedt</strong><br/>');
        const HHHammerbrook = L.marker([53.55075, 10.022389], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Hammerbrook (Spaldingstraße)</strong><br/>');
        const HHLangenhorn = L.marker([53.672192, 9.99293], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Langenhorn</strong><br/>');
        const HHNeugraben = L.marker([53.460985, 9.868133], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Neugraben</strong><br/>');
        const HHSasel = L.marker([53.664662, 10.104215], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Sasel</strong><br/>');
        const HHSteinwerder = L.marker([53.534444, 9.957222], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Steinwerder (Stülckenwerft)</strong><br/>');
        const HHTiefstack = L.marker([53.52316641100441, 10.07133832394324], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Tiefstack</strong><br/>');
        const HHWandsbek = L.marker([53.582778, 10.108611], {icon: isInDataIcon}).bindPopup('<strong>Hamburg-Wandsbek</strong><br/>');
        const HLangenhagen = L.marker([52.4181400953558, 9.722412926738725], {icon: isInDataIcon}).bindPopup('<strong>Hannover-Langenhagen</strong><br/>');
        const HLimmer = L.marker([52.381435, 9.68499], {icon: isInDataIcon}).bindPopup('<strong>Hannover-Limmer</strong><br/>');
        const Hildesheim = L.marker([52.157, 9.944], {icon: isInDataIcon}).bindPopup('<strong>Hildesheim</strong><br/>');
        const HMuehlenberg = L.marker([52.3413, 9.696], {icon: isInDataIcon}).bindPopup('<strong>Hannover-Mühlenberg</strong><br/>');
        const Horneburg = L.marker([53.509444, 9.575], {icon: isInDataIcon}).bindPopup('<strong>Horneburg</strong><br/>');
        const Luebberstedt = L.marker([53.339065476033376, 8.807211550174749], {icon: isStudyIcon}).bindPopup('<strong>Lübberstedt</strong><p>In der Munitionsanstalt Lübberstedt-Bilohe befand sich ab dem August 1944 ein Frauenaußenlager des KZ Neuengamme. Etwa 500 Häftlinge mussten Zwangsarbeit in der Rüstungsproduktion leisten. Im April 1945 wurde das Lager geräumt. Der Großteil der Häftlinge wurde daraufhin tagelang mit dem Zug durch Norddeutschland geschickt.</p>&#9656; <a href="#luebberstedtMore">Mehr zu Lübberstedt</a>');
        const MeppenVersen = L.marker([52.724636, 7.183722], {icon: isInDataIcon}).bindPopup('<strong>Meppen-Versen</strong><br/>');
        const NeuengammeStammlager = L.marker([53.430556, 10.233611], {icon: isInDataIcon}).bindPopup('<strong>Neuengamme Stammlager</strong><br/>');
        const PortaWestfalicaHausberge = L.marker([52.246275, 8.912079], {icon: isStudyIcon}).bindPopup('<strong>Porta Westfalica-Hausberge</strong><p>Das Frauenaußenlager Porta Westfalica-Hausberge wurde im Februar 1945 eingerichtet. Die etwa 1000 Häftlinge mussten Radioröhren für die Firma Philipps und ihre Tochterfirmen herstellen. Im Januar 1945 wurde das Lager geräumt und die Häftlinge in verschiedene andere Außenlager, unter anderem nach Fallersleben, deportiert.</p>&#9656; <a href="#hausbergeMore">Mehr zu Porta Westfalica-Hausberge</a><br/>&#9656; <a href="{{ path('app_deportation_salzwedel') }}">Fallstudie Salzwedel</a>');
        const SalzgitterDruette = L.marker([52.158292, 10.418464], {icon: isInDataIcon}).bindPopup('<strong>Salzgitter-Drütte</strong><br/>');
        const Salzwedel = L.marker([52.840299, 11.166065], {icon: isStudyIcon}).bindPopup('<strong>Salzwedel</strong><p>Die Draht- und Metallwarenfabrik in Salzwedel profitierte ebenfalls vom Deutschen Rüstungsboom, bereits 1937 war sie mit 600 Beschäftigten der größte Industriebetrieb in Salzwedel. Auch hier wurde auf ausländische Zwangsarbeiter zurückgegriffen.  1944 wurde ein Lager, das bis dahin für osteuropäische Zwangsarbeiterinnen genutzt worden war, zu einem KZ-Außenlager umgestaltet.  Im Spätsommer 1944 kam hier der erste Transport von weiblichen KZ-Häftlingen an, die in Auschwitz für die Arbeit selektiert worden waren. Die Gruppe bestand vor allem aus als Jüdinnen verfolgten Frauen, die erst kurz zuvor aus Ungarn oder von Ungarn annektierten Gebieten deportiert worden waren. In der Folgezeit wurden weitere weibliche KZ-Häftlinge in das neue Außenlager deportiert. Anders als der erste Transport waren sie aber nicht direkt nach Salzwedel, sondern zunächst ins Konzentrationslager Bergen-Belsen deportiert worden und dort für die Arbeit in Salzwedel ausgewählt worden. Am 14. April 1945 wurde das Lager durch amerikanische Truppen befreit. Nur wenige Kilometer entfernt hatten SS, Wehrmacht und Volksturmeinheiten sowie Hitlerjungen am Tag zuvor 1.061 männliche KZ-Häftlinge beim Massaker von Gardelegen in einer Scheune verbrannt.</p>&#9656; <a href="#salzwedelMore">Mehr zu Salzwedel</a></br>&#9656; <a href="">Fallstudie Salzwedel</a>');
        const Schandelah = L.marker([52.296205, 10.711765], {icon: isInDataIcon}).bindPopup('<strong>Schandelah</strong><p>1944 wurde ein Lager, das bis dahin für osteuropäische Zwangsarbeiterinnen genutzt worden war, zu einem Frauenaußenlager des KZ Neuengamme umgestaltet. Die etwa 1.500 Häftlinge mussten Zwangsarbeit in einem Rüstungsunternehmen leisten. Am 14. April 1945 konnten amerikanische Truppen das Lager befreien, in das zuvor noch Häftlinge anderer Außenlager deportiert worden waren.</p>&#9656; <a href="{{ path('app_deportation_salzwedel') }}">Fallstudie Salzwedel</a>');
        const VWWerkHalle1 = L.marker([52.4275, 10.7922], {icon: isStudyIcon}).bindPopup('<strong>VW-Werk Halle 1</strong><p>Neben bereits bestehenden Konzentrations- und anderen Zwangsarbeitslagern waren im Juni 1944 300 jüdische KZ-Häftlinge direkt im VW-Werk untergebracht. Sie sollten die Kernbelegschaft für eine unterirdische Raketenproduktion bilden und im VW-Werk ausgebildet werden. Nach der Bombardierung des Werkes Ende Juni wurden die Häftlinge ins Außenlager Thil des KZ Natzweiler in Frankreich deportiert.</p><a href="#vwWerkMore">Mehr zu VW-Werk Halle1</a></br>&#9656; <a href="{{ path('app_deportation_vw') }}">Fallstudie 300er-Gruppe</a>');
        const WatensteidtLeindeMen = L.marker([52.137516462553755, 10.436547953373374], {icon: isInDataIcon}).bindPopup('<strong>Salzgitter-Watenstedt/Leinde (Männer)</strong><br/>');
        const WatensteidtLeindeFrauen = L.marker([52.13748315467425, 10.43655563535315], {icon: isInDataIcon}).bindPopup('<strong>Salzgitter-Watenstedt/Leinde (Frauen)</strong><br/>');
        const WedelFrauen = L.marker([53.58404849833425, 9.720774436136473], {icon: isStudyIcon}).bindPopup('<strong>Wedel (Frauen)</strong><p>Seit September 1944 wurden in dem Außenlager Wedel des KZ Neuengamme 500 ungarische und tschechische Jüdinnen inhaftiert, die zuvor am Dessauer Ufer gewesen waren und Zwangsarbeit bei Räumungsarbeiten im Stadtgebiet leisten mussten. Nach zwei Wochen wurde das Lager geräumt und die Frauen in das Außenlager Eidelstedt gebracht.</p><a href="#wedelMore">Mehr zu Wedel (Frauen</a></br>&#9656; <a href="{{ path('app_deportation_dessauerUfer') }}">Fallstudie Dessauer Ufer</a>');
        const WilhelmshavenAlterBanterWeg = L.marker([53.515253, 8.086887], {icon: isInDataIcon}).bindPopup('<strong>Wilhelmshaven (Alter Banter Weg)</strong><br/>');
        const Wittenberge = L.marker([52.992716, 11.771057], {icon: isInDataIcon}).bindPopup('<strong>Wittenberge</strong><br/>');
        const Woebbelin = L.marker([53.366944, 11.491944], {icon: isInDataIcon}).bindPopup('<strong>Wöbbelin</strong><br/>');


        const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
        const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

        const streets = L.tileLayer(mbUrl, {
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            attribution: mbAttr
        });

        const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 11,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        const fallstudien = L.layerGroup([BergenBelsen, FallerslebenFrauen, HHDessauerUfer, HHEidelstedt, Luebberstedt, PortaWestfalicaHausberge, Salzwedel, VWWerkHalle1, WedelFrauen]);
        const datenrecherche = L.layerGroup([Boizenburg, BraunschweigBuessingNAG, BraunschweigVechelde, BraunschweigSSReitschule, BremenFarge, BremenBlumenthal, BremenHindenburgkaserne, BremenObernheide, BremenOsterort, BremenSchuetzenhof, HelmstedtBeendorfFrauen, HHHammerbrook, HHLangenhorn, HHNeugraben, HHSasel, HHSteinwerder, HHTiefstack, HHWandsbek, HLangenhagen, HLimmer, Hildesheim, HMuehlenberg, Horneburg, MeppenVersen, NeuengammeStammlager, SalzgitterDruette, Schandelah, WatensteidtLeindeMen, WatensteidtLeindeFrauen, WilhelmshavenAlterBanterWeg, Wittenberge, Woebbelin]);

        const overlays = {
            'In Fallstudien untersucht und erwähnt': fallstudien,
            'In Daten-Recherche vorkommend': datenrecherche,
        };

        const map = L.map('map', {
            center: [53.23, 9.86],
            zoom: 8,
            layers: [osm,
                fallstudien,
                datenrecherche,
            ]
        });

        const baseLayers = {
            'OpenStreetMap': osm,
        };


        const layerControl = L.control.layers(baseLayers, overlays).addTo(map);

    </script>

{% endblock %}