<span>
    <a href="{{ path('app_home', {_locale: 'de'}) }}"
       style="color: {{ app.request.locale == 'de' ? 'black' : 'grey' }}; text-decoration: none; font-weight: {{ app.request.locale == 'de' ? 'bold' : 'normal' }};">
        DE
    </a>
        |
    <a href="{{ path('app_home', {_locale: 'en'}) }}"
       style="color: {{ app.request.locale == 'en' ? 'black' : 'grey' }}; text-decoration: none; font-weight: {{ app.request.locale == 'en' ? 'bold' : 'normal' }};">
        EN
    </a>
</span>