<span>
    <a href="{{ path('app_home', {_locale: 'de'}) }}"
       style="color: {{ app.request.locale == 'de' ? 'black' : 'grey' }}; text-decoration: none; font-weight: {{ app.request.locale == 'de' ? 'bold' : 'normal' }};">
        DE
    </a>
        |
    <a href="{{ path('app_home', {_locale: 'en'}) }}"
       style="color: {{ app.request.locale == 'en' ? 'black' : 'grey' }}; text-decoration: none; font-weight: {{ app.request.locale == 'en' ? 'bold' : 'normal' }};">
        EN
    </a>
</span>

<li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ app.request.locale|locale_name(app.request.locale) }}
           </a>
       <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
               <li><a class="dropdown-item" href="{{ path('app_home', {_locale: 'de'}) }}">DE</a></li>
               <li><a class="dropdown-item" href="{{ path('app_home', {_locale: 'en'}) }}">EN</a></li>
           </ul>
   </li>