<div class="container">

    <div class="hero device title-lg">
        <div class="container mt-5">
            <div class="row pt-1 pb-1">
                <div class="col">
                    <h1 class="fw-bold">
                        <a href="{{ path('app_home') }}">
                            Holocaust in Ungarn und Deportationen nach Norddeutschland 1944.
                        </a>
                    </h1>
                    <p class="subtitle">Fallstudien zu Deportationsrouten, Lagern und Deportierten</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid setback">
            <span class="navbar-brand">
                <h1 class="brand-text">Holocaust in Ungarn und Deportationen<br/> nach Norddeutschland 1944</h1>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link" title="Startseite">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_map') }}" class="nav-link"
                           title="Kartenansicht">Orte</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_deportation') }}" class="nav-link" title="Deportationsrouten">Deportationsrouten</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_biographies') }}" class="nav-link"
                           title="Biografien">Biografien</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_sources') }}" class="nav-link selected" title="Was wir wissen und was wir nicht wissen">Quellen</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_context') }}" class="nav-link"
                           title="Historischer Kontext">Historischer&nbsp;Kontext</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_about') }}" class="nav-link"
                           title="Projektkontext">HUNGMEM</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>