
<nav class="navbar navbar-expand-md navbar-light nav nav-pills">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-pills">
            <li class="nav-item">
                <a href="{{ path('app_home') }}" class="nav-link" title="Übersicht aller Interviews">Interviews</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_map') }}" class="nav-link" title="Kartenansicht von in den Interviews genannten Orten">Karte</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_about') }}" class="nav-link" title="Informationen zum Interview-Projekt">Über&nbsp;das&nbsp;Projekt</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_context') }}" class="nav-link" title="Historischer Kontext zu jüdischem Leben in Hamburg">Das&nbsp;jüdische&nbsp;Hamburg</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_usage') }}" class="nav-link" title="Informationen zu Nutzung und Lizenzierung">Nutzung</a>
            </li>
            
        </ul>
    </div>
    <a href="">
        <img class="institute" width="45%" src="{{ asset('images/IGdJ-Logo.svg') }}"
             alt="Logo des Instituts für die Geschichte des deutschen Juden"/>
    </a>
</nav>