<nav class="navbar navbar-expand-md navbar-light nav nav-pills">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-pills">
            <li class="nav-item">
                <a href="{{ path('app_home') }}" class="nav-link" title="Startseite">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_map') }}" class="nav-link"
                   title="Kartenansicht">Orte</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_deportation') }}" class="nav-link" title="Deportationsrouten">Deportationsrouten</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_biographies') }}" class="nav-link"
                   title="Biografien">Biografien</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_sources') }}" class="nav-link" title="Was wir wissen und was wir nicht wissen">Quellen</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_context') }}" class="nav-link"
                   title="Historischer Kontext">Historischer Kontext</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_about') }}" class="nav-link"
                   title="Projektkontext">HUNGMEM</a>
            </li>

        </ul>
    </div>
    <a href="">
        <img class="institute" width="45%" src="{{ asset('images/IGdJ-Logo.svg') }}"
             alt="Logo des Instituts für die Geschichte des deutschen Juden"/>
    </a>
</nav>