{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Übersicht Interviews {% endblock %}

{% block body %}

    <div class="container g-4 py-5">

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_camargo') }}" title="Interview mit Julia Camargo ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Camargo.png') }}"
                             alt="Foto von Julia Camargo aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_camargo') }}" title="Interview mit Julia Camargo ansehen">
                            Julia Camargo
                        </a>
                        </h3>
                        <p>Julia Camargo kam 1995 im Rahmen des Kontingentflüchtlingsgesetzes aus der Ukraine nach
                            Deutschland. Die für den gemeinsam mit dem Jüdischen Museum Berlin ausgerichteten ...
                            <a href="{{ path('app_camargo') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_fenyes') }}" title="Interview mit Gabriela Fenyes ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Fenyes.jpg') }}"
                             alt="Foto von Gabriela Fenyes aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_fenyes') }}" title="Interview mit Gabriela Fenyes ansehen">
                            Gabriela Fenyes
                        </a>
                        </h3>
                        <p>Gabriela Fenyes war die erste Frau im Vorstand der Jüdischen Gemeinde Hamburg. In dem
                            Interviewausschnitt berichtet sie über ihre Gemeindearbeit und das jüdische Leben in Hamburg
                            ...
                            <a href="{{ path('app_fenyes') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_guenther') }}" title="Interview mit John Guenther ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Guenther_200.jpg') }}"
                             alt="Foto von John Guenther aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_guenther') }}" title="Interview mit John Guenther ansehen">
                                John Guenther
                        </a>
                        </h3>
                        <p>John Günther wurde 1935 in Stuttgart geboren, wo er an der Akademie der Bildenden Künste
                            studierte
                            und 1961 seinen aus einer orthodox-jüdischen Familie stammenden ...
                            <a href="{{ path('app_guenther') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_guggenheim') }}" title="Interview mit Barbara Guggenheim ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Guggenheim.jpg') }}"
                             alt="Foto von Barbara Guggenheim aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_guggenheim') }}" title="Interview mit Barbara Guggenheim ansehen">
                                Barbara
                                Guggenheim
                        </a>
                        </h3>
                        <p>Barbara Guggenheim wurde 1957 in Zürich geboren und ist ehemalige Literaturagentin und
                            Gründungsmitglied des Jüdischen Salons am Grindel in Hamburg. In diesem ...
                            <a href="{{ path('app_guggenheim') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_heimann') }}" title="Interview mit Michael Heimann ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Heimann.jpg') }}"
                             alt="Foto von Michael Heimann aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_heimann') }}" title="Interview mit Michael Heimann ansehen">
                            Michael
                                Heimann</a>
                        </h3>
                        <p>Michael Heimanns Mutter stammt aus Wien, sein Vater aus Breslau. Beide konnten während der
                            Zeit des
                            Nationalsozialismus mit Kindertransporten nach Schweden gelangen ... <a
                                    href="{{ path('app_heimann') }}"
                                    title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p></div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_horwitz') }}" title="Interview mit Daphna Horwitz ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Horwitz.jpg') }}"
                             alt="Foto von Daphna Horwitz aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_horwitz') }}" title="Interview mit Daphna Horwitz ansehen">
                            Daphna
                                Horwitz</a>
                        </h3>
                        <p>1935 flohen die Großeltern von Daphna Horwitz, Eva und Sam Horwitz, von Hamburg aus vor den
                            Nationalsozialisten nach Palästina. Dort hatte der Großvater bereits 1925 ...
                            <a href="{{ path('app_horwitz') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_korn') }}" title="Interview mit Eliana Korn ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Korn.jpg') }}"
                             alt="Foto von Eliana Korn aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_korn') }}" title="Interview mit Eliana Korn ansehen">
                            Eliana Korn
                        </a>
                        </h3>
                        <p>Eliana Korn wurde in Frankfurt am Main geboren, wo sie einen jüdischen Kindergarten sowie
                            anschließend eine jüdische Schule besuchte und Mitglied der Jüdischen Gemeinde ...
                            <a href="{{ path('app_korn') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_lahnstein') }}" title="Interview mit Sonja Lahnstein-Kandel ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Lahnstein.jpg') }}"
                             alt="Foto von Sonja Lahnstein-Kandel aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_lahnstein') }}" title="Interview mit Sonja Lahnstein-Kandel ansehen">
                                Sonja
                                Lahnstein-Kandel</a>
                        </h3>
                        <p>Sonja Lahnstein-Kandel wurde 1950 als Sonja Kandel in Zagreb, Jugoslawien, geboren. Mt 16
                            Jahren kam
                            sie gemeinsam mit ihren Eltern nach Hamburg, wo ihr Vater ...
                            <a href="{{ path('app_lahnstein') }}">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_landshut') }}" title="Interview mit Judith Landshut ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Landshut.jpg') }}"
                             alt="Foto von Judith Landshut aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_landshut') }}" title="Interview mit Judith Landshut ansehen">
                            Judith
                                Landshut</a>
                        </h3>
                        <p>Judith Landshut wurde 1950 in der Tschechoslowakei geboren. 1969 floh sie, gemeinsam mit
                            ihrer
                            Schwester und ohne ihre Eltern, nach Israel, wo sie zunächst in einem Kibbuz
                            ...
                            <a href="{{ path('app_landshut') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_lohse') }}" title="Interview mit Ulrich Michael Lohse ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Lohse.png') }}"
                             alt="Foto von Michale Lohse aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_lohse') }}" title="Interview mit Ulrich Michael Lohse ansehen">
                            Ulrich
                                Michael Lohse</a>
                        </h3>
                        <p>Der in Hamburg geborene Ulrich Michael Lohse erzählt über seine jüdische Familienherkunft,
                            seine Hinwendung zum jüdischen Glauben und die Rolle der Religion
                            ...
                            <a href="{{ path('app_lohse') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_lubinska') }}" title="Interview mit Elsara Lubinska ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Lubinska.jpg') }}"
                             alt="Foto von Elsara Lubinska aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_lubinska') }}" title="Interview mit Elsara Lubinska ansehen">
                            Elsara
                                Lubinska</a>
                        </h3>
                        <p>Elsara Lubinksa wurde 1945 in Buchara, Usbekistan, geboren und wuchs in der Ukraine auf. Nach
                            einem
                            Studium in Nowosibirsk wohnte sie in Moskau, von wo aus sie ...
                            <a href="{{ path('app_lubinska') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_melamed') }}" title="Interview mit Carmen Melamed ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Melamed.jpg') }}"
                             alt="Foto von Carmen Melamed aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_melamed') }}" title="Interview mit Carmen Melamed ansehen">
                            Carmen
                                Melamed</a>
                        </h3>
                        <p>Carmen Melamed wurde 1937 als Tochter einer jüdischen Mutter und eines nicht-jüdischen Vaters
                            in Hamburg geboren. Nach Abschluss der Schule begann ihre langjährige ...
                            <a href="{{ path('app_melamed') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_nasirzadeh') }}" title="Interview mit Mona Nasirzadeh ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Nasirzadeh.jpg') }}"
                             alt="Foto von Mona Nasirzadeh aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_nasirzadeh') }}" title="Interview mit Mona Nasirzadeh ansehen">
                            Mona
                                Nasirzadeh</a>
                        </h3>
                        <p>Anhand einer Fotografie ihrer Eltern, aufgenommen am Hochzeitstag, gibt Mona Nasirzadeh, 1975
                            in Teheran geboren, Einblicke in die Geschichte ihrer Familie, die 1979 aus dem Iran ...
                            <a href="{{ path('app_nasirzadeh') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_parnass') }}" title="Interview mit Peggy Parnass ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Parnass.png') }}"
                             alt="Foto von Peggy Parnass aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_parnass') }}" title="Interview mit Peggy Parnass ansehen">
                            Peggy
                                Parnass</a>
                        </h3>
                        <p>Peggy Parnass wurde 1927 in Hamburg geboren. Als Zwölfjährige konnten sie und ihr jüngerer
                            Bruder
                            mit einem Kindertransport nach Stockholm gebracht ...
                            <a href="{{ path('app_parnass') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_pestov') }}" title="Interview mit Elias Pestov ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Pestov.jpg') }}"
                             alt="Foto von Elias Pestov aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_pestov') }}" title="Interview mit Elias Pestov ansehen">
                            Elias
                                Pestov
                        </a>
                        </h3>
                        <p> Elias Pestov wurde in Hamburg geboren und besuchte das Joseph-Carlebach-Bildungshaus, das
                            2007 als
                            erste jüdische Schule nach dem Zweiten Weltkrieg eröffnet wurde ...
                            <a href="{{ path('app_pestov') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_rosenblum') }}" title="Interview mit Avi Rosenblum ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Rosenblum.jpg') }}"
                             alt="Foto von Avi Rosenblum aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_rosenblum') }}" title="Interview mit Avi Rosenblum ansehen">
                            Avi
                                Rosenblum</a>
                        </h3>
                        <p>Persönliche und politische Gründe führten Avi Rosenblum vor 15 Jahren von Haifa nach Hamburg.
                            Hier
                            engagiert er sich im soziokulturellen Bereich und versucht
                            ...
                            <a href="{{ path('app_rosenblum') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_trebitsch') }}" title="Interview mit Katharina Trebitsch ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Trebitsch.png') }}"
                             alt="Foto von Katharina Trebitsch aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_trebitsch') }}" title="Interview mit Katharina Trebitsch ansehen">
                                Katharina Trebitsch
                        </a>
                        </h3>
                        <p>Ein Gebetsbuch der Großmutter, eine Fotografie ihres Großvaters sowie ein Holzschiff ihres
                            Vaters, der Filmproduzent Gyula Trebitsch, sind die für die 1949 geborene Fernsehproduzentin
                            ...
                            <a href="{{ path('app_trebitsch') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_wallenstein') }}" title="Interview mit Abi Wallenstein ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Wallenstein.png') }}"
                             alt="Foto von Abi Wallenstein aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_wallenstein') }}" title="Interview mit Abi Wallenstein ansehen">
                            Abi
                                Wallenstein</a>
                        </h3>
                        <p>Abi Wallenstein wurde 1945 in Jerusalem geboren. Mit 13 Jahren zogen seine Eltern und er nach
                            Neuss, wo der Vater vor dem Krieg eine Praxis besessen hatte und dessen Räumlichkeiten ...
                            <a href="{{ path('app_wallenstein') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_wittenberg') }}" title="Interview mit Andreas Wittenberg ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Wittenberg.jpg') }}"
                             alt="Foto von Andreas Wittenberg aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_wittenberg') }}" title="Interview mit Andreas Wittenberg ansehen">
                                Andreas
                                Wittenberg</a>
                        </h3>
                        <p> Andreas Wittenberg wurde 1955 in Hamburg geboren. Seine Eltern, Steffi und Kurt Wittenberg,
                            hatten
                            sich als jüdische Geflüchtete in Montevideo kennengelernt ...
                            <a href="{{ path('app_wittenberg') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mt-5">
                    <a href="{{ path('app_zunik') }}" title="Interview mit Igor Zunik ansehen">
                        <img class="img-fluid" src="{{ asset('images/profile/Zunik.jpg') }}"
                             alt="Foto von Igor Zunik aus dem Gespräch">
                    </a>
                    <div class="card-body">
                        <h3>
                        <a href="{{ path('app_zunik') }}" title="Interview mit Igor Zunik ansehen">
                            Igor Zunik
                        </a>
                        </h3>
                        <p>Igor Zunik, 1985 in Kiew geboren, kam als Neunjähriger gemeinsam mit seinen Eltern und seiner
                            Großmutter im Rahmen des Kontingentflüchtlingsgesetzes aus der heutigen Ukraine nach ...
                            <a href="{{ path('app_zunik') }}" title="Weiterlesen und Interview ansehen">[mehr]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}