{% extends 'base.html.twig' %}

{% block title %} Fallstudie Dessauer Ufer | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-deportationen.html.twig' %}


    <div class="container g-4 py-5 study">
        <h2></h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p class="abstract">
                    <sup><a href="#endnote1" id="footnote1">1</a></sup>

                </p>
            </div>
        </div>

        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
                <p>
                    <a href="{{ asset('images/studies/') }}"
                       data-lightbox="map-gruppe-300"
                       data-title="Deportationsroute der „Gruppe der 300“."><img class="gallery img-fluid"
                                                                                 src="{{ asset('images/studies/') }}"
                                                                                 alt="Karte der Deportationsroute aus Oradea und Cluj-Napoca über Auschwitz und view weitere Lager ins Konzentrationslager Bergen-Belsen "/></a>
                <p class="caption">
                </p>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Wer war in der 300er-Gruppe?</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>

            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; </h4>
                    <p>

                    </p>
                </div>
                <div class="infobox mt-2">
                    <h4>&#9432; Juden und Jüdinnen</h4>
                    <p>

                    </p>
                </div>
            </div>
        </div>


        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
                <p>

                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; </h4>
                    <p>

                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; </h4>
                    <p style="font-size: 0.9rem;">
                        <a href="{{ path('app_map') }}" title="Kartenübersicht">
                            &#10149; Übersicht der Lager mit aus Ungarn deportierten Zwangsarbeitern und
                            Zwangsarbeiterinnen
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
                <img class="img-fluid" src="{{ asset('images/studies/') }}"
                     alt="Blick in eine Produktionshalle der V1 im Konzentrationslager Mittelbau-Dora im Mai 1946"/>
                <p class="caption">
                    Blick in eine Produktionshalle der V1 im Konzentrationslager Mittelbau-Dora, Mai 1946, Fotograf:
                    unbekannt, D-Day Museum, Portsmouth, 089.006, online unter:
                    <a href="https://fotoarchiv.dora.de/detail/2595"
                       title="Seite des Fotoarchivs der  Stiftung Gedenkstätten Buchenwald und Mittelbau-Dora">https://fotoarchiv.dora.de/detail/2595</a>,
                    Public Domain.
                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
            </div>

        </div>

        <h3 class="mt-4"></h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
                <p>

                </p>
                <p>

                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; </h4>
                    <p style="font-size: 0.9rem;">

                    </p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Kartenübersicht">
                            &#10149; Zur Karte
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Quellen und Forschung</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>

                </p>
                <img class="img-fluid" src="{{ asset('images/placeholder_840x560.jpg') }}"
                     alt="Häftlingsnummern"/>
                <p class="caption">

                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <ul class="bibliography">
                    <li>
                    </li>
                </ul>
            </div>
        </div>

        <h3 class="mt-4">Fußnoten</h3>
        <div class="row">
            <div class="col-lg-8 caption">
                <ol>
                    <li id="endnote1">

                        <a href="#footnote1">&uarr;</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Zitierhinweis</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Louis Wörner: Die Befreiung des Außenlagers Salzwedel, in: Holocaust in Ungarn und Deportationen nach
                    Norddeutschland 1944, hrsg. vom
                    Institut für die Geschichte der deutschen Juden, URL:
                    https://holocaust-ungarn-norddeutschland.de{{ path('app_deportation_salzwedel') }}. Lizenz: CC BY 4.0.
                </p>
            </div>
        </div>

    </div>

{% endblock %}