{% extends 'base.html.twig' %}

{% block title %} Gruppenstudie Salzwedel | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-deportationen.html.twig' %}


    <div class="container g-4 py-5 study">
        <h2>Zwangsarbeit in der Rüstungsindustrie. Die Befreiung des KZ-Außenlagers Salzwedel</h2>
        <div class="row">
            <div class="col-lg-8 mb-2 abstract">
                <p>
                    Bereits vor dem Beginn des Zweiten Weltkrieges hatten die Nationalsozialisten mit dem forcierten
                    Ausbau der deutschen Rüstungsindustrie begonnen. So waren allein von 1933 bis 1938 die
                    Rüstungsausgaben von vier Prozent auf über die Hälfte des Staatshaushaltes gestiegen. Von diesem
                    Rüstungsboom profitierten die deutschen Rüstungsunternehmen, die jedoch zunehmend mit einem Mangel
                    an Arbeitskräften konfrontiert waren.<sup><a href="#endnote1" id="footnote1">1</a></sup>
                    Ab 1942 begannen die Nationalsozialisten, auch KZ-Gefangenen in
                    der deutschen Kriegsindustrie einzusetzen. Ab 1944 wurden hierzu auch Häftlinge aus den
                    Konzentrations- und Vernichtungslagern im deutsch-besetzten Osteuropa an Industriestandorte ins
                    Deutsche Reich deportiert. Die KZ-Häftlinge wurden in eigenen Lagern untergebracht, deren Bewachung
                    weiterhin durch die SS organisiert wurde, die auch für die Arbeit der Häftlinge bezahlt wurde. Die
                    Zwangsarbeit stellte für die Betriebe eine profitable Möglichkeit der Ertragsteigerung da, die mit
                    der maximalen Ausbeutung der Arbeitskraft der unterernährten und ungeschützten Häftlinge einherging.
                    <sup><a href="#endnote2" id="footnote2">2</a></sup>
                </p>
                <p>
                    Als die Rüstungsproduktion 1944 ihren Höhepunkt erreichte, waren insgesamt 5,7 Millionen
                    ausländische Zivilarbeiter, 1,9 Millionen Kriegsgefangene und etwa 400.000 KZ-Häftlinge an
                    Produktionsstandorten im Deutschen Reich tätig und stellten knapp ein Viertel der
                    Beschäftigten.<sup><a href="#endnote3" id="footnote3">3</a></sup> Mit
                    dem Vorrücken der Alliierten versuchten viele Rüstungsunternehmen, sich der Häftlinge wieder zu
                    entledigen, nicht zuletzt um ihre Nachkriegsposition nicht zu gefährden. Die Räumung der Lager und
                    der Abtransport der Häftlinge verlief dabei nicht einheitlich und war durch unterschiedliche
                    Interessen der NS-Institutionen und die unübersichtliche Lage der letzten Kriegsmonate
                    gekennzeichnet.<sup><a href="#endnote4" id="footnote4">4</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Zwangsarbeit</h4>
                    <p>
                        Das nationalsozialistische Deutschland griff in hohem Maße auf Zwangsarbeit
                        zurück um seinen Arbeitskräftebedarf zu decken, allein im Deutschen Reich
                        mussten während des Zweiten Weltkrieges über 13,5 Millionen Menschen
                        Zwangsarbeit leisten. Zwangsarbeit wurde dabei in allen Industriezweigen aber
                        auch in der Landwirtschaft und in Privathaushalten eingesetzt. Die
                        Zwangsarbeiterinnen und Zwangsarbeiter gehörten insbesondere in den letzten
                        Kriegsjahren zum sichtbaren Alltag im nationalsozialistischen Deutschland.
                    </p>
                    <p>
                        <a href="{{ path('app_context') }}#zwangsarbeit"
                           title="Mehr Informationen zu Zwangsarbeit und historischem Kontext">
                            &#10149; Mehr Informationen zu Zwangsarbeit
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Zwangsarbeit in Salzwedel</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die Draht- und Metallwarenfabrik in Salzwedel profitierte ebenfalls vom Deutschen Rüstungsboom,
                    bereits 1937 war sie mit 600 Beschäftigten der größte Industriebetrieb in Salzwedel. Auch hier wurde
                    auf ausländische Zwangsarbeiter zurückgegriffen.<sup><a href="#endnote5" id="footnote5">5</a></sup>
                    1944 wurde ein Lager, das bis dahin für
                    osteuropäische Zwangsarbeiterinnen genutzt worden war, zu einem Außenlager des KZ Neuengamme
                    umgestaltet.<sup><a href="#endnote6" id="footnote6">6</a></sup>
                    Im Spätsommer 1944 kam hier der erste Transport von weiblichen KZ-Häftlingen an, die in
                    Auschwitz für die Arbeit selektiert worden waren. Die Gruppe bestand vor allem aus Jüdinnen, die
                    erst kurz zuvor aus Ungarn oder den von Ungarn annektierten Gebieten deportiert worden
                    waren.<sup><a href="#endnote7" id="footnote7">7</a></sup> So war
                    ein Teil der Frauen im Mai 1944 aus dem Ghetto der heute rumänischen Stadt Oradea nach Auschwitz
                    deportiert worden. Viele der Frauen stammten aus dem heute zur Ukraine gehörenden Transkarpatien,
                    das in der Zwischenkriegszeit der Tschechoslowakei zugesprochen und seit 1939 von Ungarn
                    besetzt worden war, beispielsweise aus der heute ukrainischen Stadt Tjatschiw.
                </p>
                <h3 class="mt-4">Ungarische Annektionen und Besetzungen im Zweiten Weltkrieg</h3>
                <p>
                    Von 1938 bis 1941 annektierte das mit dem nationalsozialistischen Deutschland verbündete Ungarn
                    größere Gebiete der Tschechoslowakei, Rumäniens und Jugoslawien. Etwa 45 Prozent der jüdischen
                    Bevölkerung des damaligen Ungarns lebten in diesen Gebieten, als das Land 1944 durch das
                    nationalsozialistische Deutschland besetzt wurde.
                </p>
                <p>
                    Die ehemals tschechoslowakischen und rumänischen Gebiete Ungarns gehörten zu den ersten Gebieten,
                    aus denen Jüdinnen und Juden ins Konzentrations- und Vernichtungslager Auschwitz-Birkenau deportiert
                    wurden. Nicht alle von ihnen sprachen Ungarisch oder verstanden sich als Ungarn oder Ungarinnen, sie
                    alle gehören jedoch zur Gruppe der aus Ungarn deportierten Juden und
                    Jüdinnen.<sup><a href="#endnote8" id="footnote8">8</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Jüdinnen und Juden</h4>
                    <p>
                        Die aus Ungarn deportierten Juden und Jüdinnen gehörten verschiedenen Gemeinden und
                        religiösen Strömungen im Judentum an. Nicht alle definierten sich zwangsläufig selbst als jüdisch. Für
                        ihre Verfolgung durch die Nationalsozialisten war weder ihre Religion noch eine
                        kulturelle Zugehörigkeit zum Judentum oder die Selbstzuschreibung
                        entscheidend. Das Zentrum der nationalsozialistischen Weltanschauung bildete
                        ein rassistischer Antisemitismus, der Jüdinnen und Juden nach ihrer Abstammung
                        definierte. Auch Christen und Christinnen sowie Atheisten und Atheistinnen
                        wurden unabhängig von ihrer Selbstdefinition oder kulturellen Zugehörigkeit
                        durch die Nationalsozialisten als Juden verfolgt, wenn sie deren
                        Abstammungskriterien entsprachen. Nicht alle hier als Jüdinnen und Juden
                        bezeichneten Personen identifizierten sich selbst als jüdisch, sie alle wurden
                        jedoch als jüdisch verfolgt. </p>
                </div>
                <div class="infobox mt-2">
                    <h4>&#9432; Mehr zum historischen Hintergrund</h4>
                    <p>
                        <a href="{{ path('app_context') }}" title="Text zum historischen Kontext">
                            &#10149; Historischer
                            Kontext
                        </a>
                    </p>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-8">
            <p>
                Überlebende schätzten die Größe des ersten Transportes von Auschwitz nach Salzwedel auf etwa 500
                Frauen.<sup><a href="#endnote9" id="footnote9">9</a></sup>
                In der Folgezeit wurden weitere weibliche KZ-Häftlinge in das neue Außenlager deportiert.
                Die meisten dieser Frauen waren ebenfalls als Jüdinnen verfolgt worden und stammten aus Polen. Teile
                der Frauen kamen aber auch aus Italien, der Tschechoslowakei, Griechenland, den Niederlanden und
                Deutschland. In den späteren Transporten befanden sich aber ebenfalls wieder größere Gruppen von
                Frauen, die aus Ungarn deportiert worden waren. Auch die Frauen der späteren Transporte waren im
                Konzentrations- und Vernichtungslager Auschwitz gewesen. Anders als der erste Transport waren sie
                aber nicht direkt nach Salzwedel, sondern zunächst in das Konzentrationslager Bergen-Belsen
                deportiert und dort für die Arbeit in Salzwedel ausgewählt
                worden.<sup><a href="#endnote10" id="footnote10">10</a></sup>
            </p>
        </div>
        <div class="col-lg-4">
            <div class="infobox mt-2">
                <h4>&#9432; KZ Bergen-Belsen</h4>
                <p>
                    Das KZ Bergen-Belsen war 1943 zunächst als „Austauschlager“ für die Unterbringung jüdischer
                    Geiseln gegründet worden. Schnell wurden ihm aber weitere Funktionen zugewiesen und ein Männer-
                    sowie ein Frauenlager eingerichtet. Ab Ende 1944 wurde Bergen-Belsen Ziel vieler Todesmärsche
                    und Räumungstransporte und entwickelte sich aufgrund der katastrophalen Bedingungen zu einem
                    Sterbelager. Nach der Befreiung wurde in Bergen-Belsen ein polnisches und ein jüdisches
                    Displaced Persons-Camp eingerichtet.<sup><a href="#endnote11" id="footnote11">11</a></sup>
                </p>
                <p>
                    <a href="{{ path('app_map') }}" title="Kartenübersicht">
                        &#10149; Zur Karte
                    </a>
                </p>
            </div>
        </div>
    </div>

        <h3 class="mt-4">Das Außenlager Salzwedel</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Wie viele Frauen insgesamt im KZ-Außenlager Salzwedel Zwangsarbeit leisten mussten, lässt sich nicht
                    mehr ermitteln, erhaltene Unterlagen weisen jedoch mindestens 1.518 Frauen
                    nach.<sup><a href="#endnote12" id="footnote12">12</a></sup> Die Frauen sollten
                    zusammen mit weiteren Zwangsarbeiterinnen und Zwangsarbeitern, aber auch deutschen Zivilarbeitern die
                    Produktion von Infanterie und Flakmunition in der Draht- und Metallwarenfabrik gewährleisten.
                    Überlebende, wie Kornélia Weisz berichteten insbesondere von dem Kontakt und der Unterstützung durch
                    französische Kriegsgefangene, vereinzelt aber auch von Unterstützung durch deutsche
                    Zivilarbeiter.<sup><a href="#endnote13" id="footnote13">13</a></sup>
                    Die KZ-Häftlinge mussten wie in anderen Außenlagern in Zwölf-Stunden-Schichten arbeiten, die, wie
                    Überlebende berichteten, lediglich durch eine 15-minütige Mittagspause unterbrochen
                    wurden.<sup><a href="#endnote14" id="footnote14">14</a></sup> Ferner
                    erinnerten sich die Überlebenden, dass sie morgens eine Scheibe Brot und eine Tasse Kaffeeersatz
                    erhielten, mittags eine vor allem aus Wasser bestehende Suppe und abends eine weitere Scheibe Brot.
                    Ihren Berichten zufolge gab es für die circa 1.500 Frauen nur eine
                    Toilettenbarracke.<sup><a href="#endnote15" id="footnote15">15</a></sup> Die Versorgung
                    entsprach damit der vieler Außenlager und führte bei den Häftlingen zur Entkräftung und der
                    Verbreitung von Krankheiten. Zur Betreuung der Kranken war eine ungarische Jüdin eingeteilt, die
                    jedoch lediglich acht bis zwölf Frauen im Krankenrevier aufnehmen durfte, wo sie zumindest zeitweise
                    von der Arbeit freigestellt waren. Einige erkrankte Frauen wurden auch ins Stadtkrankenhaus
                    gebracht, wo sie allerdings keine Behandlung erhielten, sondern lediglich die Möglichkeit, sich
                    auszukurieren. Schwerkranke Häftlinge wurden auch nach Bergen-Belsen deportiert. Es ist davon
                    auszugehen, dass viele dieser Frauen dort ermordet wurden.<sup><a href="#endnote16" id="footnote16">16</a></sup>
                </p>
                <p>
                    Überlebenden zufolge sei seit Beginn des Jahres 1945 zunehmend kein Material in der Fabrik mehr
                    vorhanden gewesen und die Zivilarbeiter nicht mehr erschienen. Die Überlebende Mina Rapport
                    berichtete ferner, dass ein deutscher Vorarbeiter sie vor dem baldigen Kriegsende warnte, da er die
                    Ermordung der Häftlinge vor der Befreiung
                    fürchtete.<sup><a href="#endnote17" id="footnote17">17</a></sup> Vermutlich Ende März 1945 wurde die
                    Arbeit
                    eingestellt. Kurz darauf verdoppelte sich die Anzahl der Frauen nahezu, als Transporte aus anderen
                    KZ-Außenlagern, die geräumt worden waren, in Salzwedel ankamen. Die neu hinzukommenden Frauen hatten
                    zuvor bereits verschiedene nordwestdeutsche Außenlager überlebt und kamen vor allem aus den
                    Außenlagern Porta Westfalica-Hausberge und Fallersleben.
                </p>
                    <a href="{{ asset('images/studies/Deportationsroute-Salzwedel-1.jpg') }}"
                       data-lightbox="map-salzwedel"
                       data-title="Deportationen aus anderen Außenlagern nach Salzwedel">
                        <img class="gallery img-fluid"
                             src="{{ asset('images/studies/Deportationsroute-Salzwedel-1.jpg') }}"
                             alt="Karte mit Pfeilen vom Außenlager Porta Westfalica nach Fallersleben (Frauen) und von Fallersleben nach Salzwedel"/></a>
                <p class="caption">
                    Deportationen aus anderen Außenlagern nach Salzwedel. &copy; Institut für die Geschichte der
                    deutschen Juden. Lizenz: CC BY 4.0 &#128269; Zum Vergrößern klicken.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Außenlager Salzwedel</h4>
                    <p>
                        1944 wurde ein Lager, das bis dahin für osteuropäische Zwangsarbeiterinnen genutzt worden war,
                        zu einem Frauenaußenlager des KZ Neuengamme umgestaltet. Die etwa 1.500 Häftlinge mussten
                        Zwangsarbeit in einem Rüstungsunternehmen leisten. Am 14. April 1945 konnten amerikanische
                        Truppen das Lager befreien, in das zuvor noch Häftlinge anderer Außenlager deportiert worden
                        waren.
                    </p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Kartenübersicht">
                            &#10149; Zur Karte der Lager
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Die Häftlinge aus dem Außenlager Porta Westfalica-Hausberge</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Das Frauenaußenlager Porta Westfalica-Hausberge wurde im Februar 1945 eingerichtet. Die etwa 1.000
                    Häftlinge mussten Radioröhren für die Firma Philipps und ihre Tochterfirmen herstellen. Im Januar
                    1945 wurde das Lager geräumt und die Häftlinge in verschiedene andere Außenlager, unter anderem nach
                    Fallersleben, deportiert.
                </p>
                <p>
                    Ein Teil der Frauen, die bereits in einem Außenlager des KZ Groß-Rosen Radioröhren hatten
                    produzieren müssen, war im Januar 1945 angesichts der sich nähernden sowjetischen Armee zunächst zu
                    Fuß und anschließend mit einem Güterzug nach Porta Westfalica deportiert worden. Während dieses
                    Transportes waren die Frauen kaum mit Lebensmitteln versorgt worden. Ein anderer Teil der Frauen in
                    Porta Westfalica kam aus dem Außenlager Horneburg im Umland von Hamburg, wo sie ebenfalls zur
                    Produktion von Radioröhren herangezogen worden waren. Sie waren in Auschwitz für den Arbeitseinsatz
                    ausgewählt worden und befanden sich ab Oktober 1944 in Horneburg, bis sie im Februar 1945 nach Porta
                    Westfalica-Hausberge deportiert wurden. Alle Überlebenden beschreiben die Lebens- und
                    Arbeitsbedingungen im Außenlager Porta Westfalica-Hausberge als äußerst grausam und brutal. Da auch
                    im Westen die Alliierten vorrückten, wurde das Lager am 1. April 1945 geräumt und die Frauen erneut
                    deportiert. Ein Teil der Häftlinge kam dabei ins Außenlager Fallersleben im heutigen
                    Wolfsburg.<sup><a href="#endnote18" id="footnote18">18</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; KZ Porta Westfalica</h4>
                    <p>
                        Das Frauenaußenlager Porta Westfalica-Hausberge wurde im Februar 1945 eingerichtet. Die etwa
                        1.000 Häftlinge mussten Radioröhren für die Firma Philipps und ihre Tochterfirmen herstellen. Im
                        Januar 1945 wurde das Lager geräumt und die Häftlinge in verschiedene andere Außenlager, unter
                        anderem nach Fallersleben, deportiert.
                    </p>
                    <p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Kartenübersicht">
                            &#10149; Zur Karte der Lager
                        </a>
                    </p>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Die Häftlinge aus dem Außenlager Fallersleben</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Das Frauenaußenlager Fallersleben war wie das Außenlager Salzwedel im Spätsommer 1944 eingerichtet
                    worden. Die ersten Häftlinge waren ebenfalls Jüdinnen, die aus Ungarn nach Auschwitz deportiert und
                    zeitgleich zu den Frauen in Salzwedel von der SS für einen Arbeitseinsatz ausgewählt worden
                    waren.<sup><a href="#endnote19" id="footnote19">19</a></sup>
                    Neben diesen ebenfalls circa 500 Frauen des ersten Transportes kamen auch hier weitere Frauen aus
                    Bergen-Belsen an, so dass die Belegschaft des Lagers aus mindestens 650 Frauen bestand. Die Frauen
                    waren im VW-Werk in der Nähe von Fallersleben, im heutigen Wolfsburg, in Waschkauen untergebracht.
                    Auf dem Gelände war zuvor eine Gruppe von 300 jüdischen Männern untergebracht gewesen, die ebenfalls
                    aus Ungarn deportiert worden waren. Die Frauen mussten im VW-Werk in Zwölf-Stunden-Schichten
                    Tellerminen und Panzerfäuste produzieren. Die Versorgung entsprach der anderer Außenlager. Da die
                    Frauen direkt im Werk untergebracht waren, sahen sie während ihrer Zeit hier kein Tageslicht.
                </p>
                <img class="img-fluid" src="{{ asset('images/studies/salzwedel/CH11516_1 Tellerminen.jpg') }}"
                     alt="Zwangsarbeiterin bei der Produktion von Tellerminen in Fallersleben"/>
                <p class="caption">
                    Eine Zwangsarbeiterin bei der Produktion von Tellerminen in Fallersleben, später wurde diese Arbeit
                    von den KZ-Häftlingen übernommen. Mit freundlicher Genehmigung der Volkswagen Aktiengesellschaft.
                </p>
                <p>
                    Bei den Beschreibungen von Fallersleben durch Überlebende wie Edréne Kovács muss berücksichtigt
                    werden, dass sie ihre Haft dort vor dem Hintergrund der Erfahrungen in Auschwitz bewerteten. Nur so
                    lässt sich einordnen, warum sie die trockenen Unterkünfte und die Duschräume betonten, die die
                    Möglichkeit für ein zumindest geringes Maß an Körperpflege geboten
                    hätten.<sup><a href="#endnote20" id="footnote20">20</a></sup> Im März 1945 kamen etwa
                    200 Frauen aus dem Außenlager Porta Westfalica-Hausberge in Fallersleben an. Die Überlebende des
                    Außenlagers Fallersleben Hanna Mandel berichtete, wie bedrückt sie vom Zustand dieser Frauen bei
                    ihrer Ankunft in Fallersleben gewesen war, und dass unter ihnen Panik ausgebrochen sei, als sie ebenfalls
                    zu den Duschen geführt wurden. Die Frauen, die Auschwitz überlebt hatten, befürchteten, nun kurz vor
                    Kriegsende noch durch Giftgas ermordet zu werden zu werden.<sup><a href="#endnote21" id="footnote21">21</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Die letzten Kriegswochen im Außenlager Salzwedel</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Gemeinsam wurden die Frauen aus den Außenlagern Fallersleben und Porta Westfalica-Hausberge erneut
                    deportiert. Durch die Ankunft der aus den anderen Außenlagern geräumten Frauen erhöhte sich die
                    Anzahl der Häftlinge in Salzwedel auf circa 3.000 Frauen.<sup><a href="#endnote22" id="footnote22">22</a></sup>
                    Die Versorgungssituation verschlechterte
                    sich dadurch noch einmal, Überlebende berichteten, dass die Lebensmittelausgabe eingestellt worden
                    sei. Die Frauen hungerten und ernährten sich teilweise von rohen
                    Rüben.<sup><a href="#endnote23" id="footnote23">23</a></sup> Fast alle Überlebenden
                    bezeugten, dass in den letzten Tagen vor der Befreiung die Sorge vor einer gezielten Ermordung der
                    Häftlinge durch eine Sprengung des Lagers bestand. Mehrere Überlebende wie beispielsweise Fela
                    Gastwirth berichteten, dass dies durch die in unmittelbarer Nähe des Außenlagers untergebrachten
                    französischen Kriegsgefangenen verhindert worden sei, die von dem Plan erfahren hätten und daraufhin
                    die Stromversorgung unterbrochen hätten.<sup><a href="#endnote24" id="footnote24">24</a></sup>
                    Der Überlebenden Eva Braun zufolge, hätten die
                    französischen Kriegsgefangenen auch das Lager umstellt und der SS
                    gedroht.<sup><a href="#endnote25" id="footnote25">25</a></sup> Auch die Überlebende Hanna
                    Mandel erinnerte, dass sie von französischen Kriegsgefangenen gewarnt worden sei, dass das Lager
                    angezündet werden solle. In ihrer Baracke hatten die Frauen daraufhin mehrere Bretter gelockert und
                    einen Wachdienst an Astlöchern eingerichtet, um, falls die Baracke in Brand gesetzt werden würde,
                    rechtzeitig die Wände rauszuschlagen und einen Ausbruchsversuch unternehmen zu können. Dazu sei es
                    aber nicht gekommen.<sup><a href="#endnote26" id="footnote26">26</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <p>
                    Einige Frauen berichteten auch, dass der Kommandant des Lagers sich geweigert
                    hätte, die Häftlinge vor der Befreiung zu ermorden. Die Überlebende Rose Brewster verwies allerdings
                    auch darauf, dass dieser sich zuvor von den verantwortlichen Häftlingsvertretern im Gegenzug das
                    Versprechen habe geben lassen, nach der Befreiung positiv über ihn
                    auszusagen.<sup><a href="#endnote27" id="footnote27">27</a></sup>
                </p>
                <p>
                    Am 14. April 1945 wurde das Lager durch amerikanische Truppen befreit. Nur wenige Kilometer entfernt
                    hatten SS, Wehrmacht und Volksturmeinheiten sowie Hitlerjungen am Tag zuvor 1.061 männliche
                    KZ-Häftlinge beim Massaker von Gardelegen in einer Scheune verbrannt.
                </p>
                <img class="img-fluid" src="{{ asset('images/studies/salzwedel/T2694HäftlingszugHinten.jpg') }}"
                     alt="Eine Gruppe von männlichen und weiblichen KZ-Häftlingen von hinten zu sehen"/>
                <p class="caption">
                    Befreite männliche und weibliche KZ-Häftlinge in Gardelegen am 5. Juni 1945. Privatbesitz,
                    Johann-Friedrich-Danneil-Museum, Salzwedel.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Todesmärsche und „Endphaseverbrechen“</h4>
                    <p>
                        In der Endphase des Krieges wurden etliche Konzentrationslager und KZ-Außenlager durch die
                        Nationalsozialisten vor der Ankunft der sich nähernden Alliierten geräumt. Die Häftlinge wurden
                        entweder in Güterwaggons, selten in Lastwagen transportiert oder unter Misshandlungen gezwungen,
                        zu
                        Fuß in weiterhin unter deutscher Kontrolle stehende Gebiete zu marschieren. Während der oft
                        tage-,
                        teilweise auch wochenlang dauernden Märsche wurden die Häftlinge in der Regel kaum versorgt,
                        viele
                        von ihnen verhungerten oder verdursteten in den Güterwaggons, viele brachen während der Märsche
                        aufgrund der Erschöpfung zusammen oder wurden durch die SS oder andere wachhabende Einheiten
                        ermordet. Durch die Überlebenden wurde deshalb für diese Räumungen der Begriff „Todesmarsch“
                        geprägt. Teile der Todesmärsche endeten in der gezielten Ermordung der Häftlinge, von denen das
                        sogenannte „Massaker von Gardelegen“ eines der bekanntesten ist. Über 1.000 Häftlinge aus
                        Außenlagern des KZ Neuengamme und des KZ Mittelbau-Dora wurden dort in einer Feldscheune
                        zusammengetrieben, die von der SS und weiteren NS-Organisationen in Brand gesetzt
                        wurde.<sup><a href="#endnote28" id="footnote28">28</a></sup>
                    </p>
                </div>
            </div>

        </div>

        <h3 class="mt-4">Nach der Befreiung</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die Überlebende Gabriella Goitein berichtete:
                </p>
                <p class="quote">
                    „Und dann haben die gesagt, wir können gehen. Wir sind gegangen diesen Weg, und es war ein
                    Friedenstag und Sonne war da. Und die Franzosen, die Kriegsgefangenen, die Franzosen, die haben uns
                    zu sich in ihr Lager geholt, und wir saßen bei langen Tischen, und die haben irgendwie […]
                    beschaffen Brot und Eier. Und die hatten solche großen Pfannen gehabt und die Eier gebrochen auf die
                    Pfanne und gemischt. Wir saßen da, und ich habe gegessen Brot mit Ei. Das war meine
                    Befreiung.“<sup><a href="#endnote29" id="footnote29">29</a></sup>
                </p>
                <p>
                    Viele Überlebende wie beispielsweise Kornélia Weisz berichteten, dass die amerikanischen Soldaten,
                    die entsetzt von der Versorgung und Ausstattung der Frauen waren, diese aufforderten, sich selbst in
                    der Stadt zu versorgen.<sup><a href="#endnote30" id="footnote30">30</a></sup>
                    Viele der befreiten KZ-Häftlinge hätten daraufhin das Lager verlassen und
                    seien in die Kleinstadt gezogen, wo sie Lebensmittel und Klamotten geplündert hätten. Die
                    Überlebende Sándorné Margit Less erzählte: </p>
                <p class="quote">
                    „Dann waren die Tore offen, wir sind herausgelaufen, eine nach der anderen. Wir wußten nicht, was
                    wir machen sollten. Wir hatten keine normale Kleidung. Wir waren schmutzig, voller Läuse. In den
                    letzten Wochen hatten wir nichts zu essen bekommen, nicht einmal diese dünne Rübensuppe. Essen,
                    essen war das Einzige, woran wir gedacht haben. Wir sind nach der Befreiung in eine Molkerei
                    gekommen. Hier waren viele verschiedene Milchwaren […]. Eine Frau hat einen Soldatenhelm gefunden
                    und hat ihn in Milch getaucht, aber diese Helme hatten Löcher, und zu beiden Seiten ist die Milch
                    herausgeflossen. Sie hat getrunken, getrunken, und die Milch ist herausgeflossen. Dieses Bild steht
                    mir vor Augen.“<sup><a href="#endnote31" id="footnote31">31</a></sup>
                </p>
                <img class="img-fluid"
                     src="{{ asset('images/studies/salzwedel/T2692Häftlingszugnah.jpg') }}"
                     alt="Eine Gruppe von winkenden befreiten Frauen"/>
                <p class="caption">
                    Befreite Frauen in den Straßen von Salzwedel, Foto: Dale Ramsey, US-Armee, vermutlich 14.4.1945,
                    Johann-Friedrich-Danneil-Museum, Salzwedel
                </p>
                <p>
                    Neben der Plünderung von Geschäften und zum Beispiel Stoff in einem Kaufhaus kamen die befreiten
                    Frauen dabei auch in Kontakt mit der Salzwedeler Zivilbevölkerung. Auch wenn einige Frauen sich
                    erinnerten, dass sie zunächst von Rachegefühlen getrieben gewesen wären und die Überlebende Klári
                    Sztehlo berichtete, dass die Einwohner und Einwohnerinnen Angst vor den befreiten KZ-Häftlinge
                    gehabt hätten, finden sich keine Hinweise auf Gewalttaten.<sup><a href="#endnote32" id="footnote32">32</a></sup>
                    Noch Jahre nach der Befreiung finden sich
                    aber in einer Stadtchronik Formulierungen, die vor allem den Schaden der ungeregelten Plünderung für
                    die Salzwedeler und Salzwedelerinnen hervorheben, ohne Verständnis für die Häftlinge und ihre
                    Situation zu haben.
                </p>
                <p>
                    Die befreiten Häftlinge wurden zunächst in ehemaligen Kasernen auf dem Flugplatz Salzwedel
                    untergebracht, wo die hungernden und häufig kranken Frauen wieder zu Kräften kommen sollten. Ein
                    Teil von ihnen verstarb jedoch nach der Befreiung noch an den Haftfolgen. Ihre Gräber befinden sich
                    bis heute in Salzwedel. Ein Teil der befreiten Frauen kehrte nach einiger Zeit in ihre Herkunftsorte
                    zurück, deren nationale Zugehörigkeit sich im Falle der Frauen aus Transkarpatien und den ehemals
                    rumänischen Gebieten erneut geändert hatte. Während ersteres Teil der Sowjetunion wurde, wurden die
                    anderen Gebiete wieder Teil Rumäniens. Nicht wenige der überlebenden Frauen entschieden sich gegen
                    eine Rückkehr und verblieben zunächst als sogenannte „Displaced Persons“ (DP) unter der Versorgung
                    der United Nations Relief and Rehabilitation Administration (UNRRA), einer Hilfsorganisation der UN,
                    bis sie ins westliche Ausland oder in das unter britischer Mandatsherrschaft stehende Palästina, den
                    zukünftigen Staat Israel auswanderten.
                </p>
                <a href="{{ asset('images/studies/salzwedel/Lukacs_Agnes-Brief-1945-05-03.jpg') }}"
                   title="Bild vergrößern"
                   data-lightbox="salzwedel-letter"
                   data-title="Ágnes Lukács, Brief an ihre Eltern in Budapest, 3. Mai 1945. Johann-Friedrich-Danneil-Museum,
                    Salzwedel.">
                    <img class="gallery img-fluid"
                         src="{{ asset('images/studies/salzwedel/Lukacs_Agnes-Brief1945-05-03_preview.jpg') }}"
                         alt="Brief von Ágnes Lukács an ihre Eltern in Budapest. Text und eine kleine Zeichnung, auf der drei Frauen dargestellt sind."/></a>
                <p class="caption">
                    Ágnes Lukács, Brief an ihre Eltern in Budapest, 3. Mai 1945. Johann-Friedrich-Danneil-Museum,
                    Salzwedel. &#128269; Zum Vergrößern klicken.
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Quellen und Forschung</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Unmittelbar nach der Befreiung wurde eine erhaltene Liste der befreiten Frauen mit deren letzten
                    Wohnorten angelegt. Für das KZ-Außenlager Salzwedel sind damit zumindest die Namen der überlebenden
                    Frauen ebenso wie deren Herkunftsorte bekannt.<sup><a href="#endnote33" id="footnote33">33</a></sup>
                    Dies ist ein großer Unterschied zu anderen
                    Außenlagern, deren überlebende Häftlinge in der Regel an anderen Orten befreit wurden, wodurch nur
                    sehr begrenzte Rückschlüsse auf die Haftorte möglich sind.
                </p>
        <!--
                <img class="img-fluid" style="width: 640px;" src="{{ asset('images/placeholder_840x560.jpg') }}"
                     alt="Interaktive Karte der Herkunftsorte "/>
                <p class="caption">
                    Karte der Herkunftsorte der Frauen
                <p>
                -->
                    Der Großteil der Unterlagen der Verwaltung der Neuengammer Außenlager wurde vor der Befreiung
                    vernichtet. Lediglich eine Aufstellung des SS-Standortarztes in Neuengamme über die Belegung der
                    Außenlager im März 1945 dokumentiert die Anzahl der Häftlinge zu diesem Zeitpunkt. Auch wenn sich
                    damit Rückschlüsse auf die Größe des Außenlagers ziehen lassen, bleiben die Quellen der
                    nationalsozialistischen Konzentrationslagerverwaltung der Perspektive der Täter verhaftet, die die
                    Häftlinge ihrer Menschlichkeit und Individualität beraubte und zu Verwaltungsherausforderungen
                    reduzierte. Aus dieser Täterquelle ergeben sich keine Einblicke in die biografischen Hintergründe
                    der Häftlinge oder deren individuelle Lebensbedingungen. Über die Häftlinge und ihre alltägliche
                    Erfahrung in den KZ-Außenlagern lässt sich in diesen Quellen nichts erfahren. Auch andere Quellen
                    geben nur bruchstückhaft Aufschluss über die Lebensrealität und Hintergründe der Häftlinge. Bis in
                    die 1990er-Jahre war das öffentlich verfügbare Wissen um das Außenlager Salzwedel äußerst gering. Zu
                    DDR-Zeiten war bereits ein kleines Modell des Lagers im Johann-Friedrich Danneil Museum ausgestellt
                    sowie eine Broschüre veröffentlicht worden, die jedoch auf die Solidarität einiger deutscher
                    Arbeiter mit den Verfolgten fokussiert war. Erst in den 1990er-Jahren erschienen erste umfassendere
                    Darstellungen, die vor allem auf den Unterlagen der britischen Besatzungsbehörden beruhten, die
                    Ermittlungen gegen das Wachpersonal begonnen und in diesem Zuge auch Überlebende befragt hatten.
                    Zwar konnte kein Wachpersonal verurteilt werden, die Unterlagen sind jedoch erhalten und bilden
                    heute eine wichtige Quelle für die historische Forschung.<sup><a href="#endnote34" id="footnote34">34</a></sup>
                </p>
                <p>
                    Im Rahmen der Erinnerungsarbeit wurden ab 1996 zudem mehrfach überlebende Frauen von der Stadt
                    Salzwedel eingeladen und in diesem Zuge auch zu ihrer Haftzeit
                    interviewt.<sup><a href="#endnote35" id="footnote35">35</a></sup> Die 50 Jahre nach der
                    Befreiung geteilten Erinnerungen der Frauen sind durch Verdrängung, Vergessen, aber auch den
                    Austausch mit anderen geformt. Zudem prägt nicht zuletzt auch die Interviewsituation selbst das
                    Erzählte und Nicht-Erzählte. Dennoch bilden die Erinnerungsberichte eine der wichtigsten Quellen für
                    die Geschichte des Außenlagers Salzwedel. Die aus Polen stammende Überlebende Kitty Hart-Moxon hat
                    zudem bereits in den 1960er-Jahren begonnen, öffentlich über ihre Zeit im Konzentrations- und
                    Vernichtungslager Auschwitz sowie in verschiedenen KZ-Außenlagern – darunter auch Salzwedel – zu
                    publizieren. Aufbauend auf im Verlauf von zehn Jahren geführten Gesprächen zwischen dem Theologen
                    Norbert Rech und der ungarischen Überlebenden Hanna Mandel erschien 2008 ebenfalls ein Buch über ihr
                    Leben.<sup><a href="#endnote36" id="footnote36">36</a></sup>
                </p>
                <p>
                    Es sind diese Berichte der Überlebenden, auf denen die Forschung, aber auch die Erinnerung und das
                    Gedenken an das Außenlager Salzwedel aufbaut.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <ul class="bibliography">
                    <li>
                        Dietrich Banse, „ich wollte überleben und der Welt erzählen“. Zur Geschichte des Frauenlagers
                        Salzwedel – Außenlager des KZ Neuengamme, Salzwedel 2005.
                    </li>
                    <li>
                        Randolp L. Braham, Historical Overview, in: Ders. (Hrsg.), The geographical encyclopedia of the
                        Holocaust in Hungary, Vol. 1, Evanston 2013, S. XV-XCV.
                    </li>
                    <li>
                        Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009.
                    </li>
                    <li>
                        Lukkas Busche / Andreas Froese (Hrsg.), Gardelegen 1945. Das Massaker und seine Nachwirkungen.
                        Begleitender Katalog zur Dauerausstellung der Gedenkstätte Feldscheune Isenschnibbe Gardelegen,
                        Gardelegen / Leipzig / Magdeburg 2022.
                    </li>
                    <li>
                        Hans Ellger, Salzwedel, in: Wolfgang Benz / Barbara Diestel (Hrsg.), Der Ort des Terrors.
                        Geschichte der nationalsozialistischen Konzentrationslager, Band 5: Hinzert. Auschwitz.
                        Neuengamme, München 2007, S. 514-516.
                    </li>
                    <li>
                        Hans Ellger, Zwangsarbeit und weibliche Überlebensstrategien. Die Geschichte der
                        Frauenaußenlager des Konzentrationslagers Neuengamme 1944/1945, Berlin 2007.
                    </li>
                    <li>
                        Kitty Hart-Moxon, „Wo die Hoffnung erfriert“, Leipzig 2001.
                    </li>
                    <li>
                        Susanne Heim et al. (Hrsg.), Die Verfolgung und Ermordung der europäischen Juden durch das
                        nationalsozialistische Deutschland 1933–1945, Band 15. Ungarn 1944-1945. Bearbeitet von Regina
                        Fritz. Berlin / Boston 2021.
                    </li>
                    <li>
                        Johann-Friedrich-Danneil-Museum Salzwedel / Freundeskreis KZ-Gedenkstätte Neuengamme (Hrsg),
                        „laßt es ruhn!?“ – Gegen ein Vergessen. Besuch ehemaliger Häftlinge des KZ-Außenlagers Salzwedel
                        vom 30. April bis 6. Mai 2001.
                    </li>
                    <li>
                        Hanna Mandel, Beim Gehen entsteht der Weg. Gespräche über das Leben vor und nach Auschwitz,
                        Hamburg 2008.
                    </li>
                    <li>
                        Salzwedeler Museen / Freundeskreis der KZ Gedenkstätte Neuengamme (Hrsg.), Erinnerung.
                        Besuchswoche ehemaliger Inhaftierter des Konzentrationslagers Salzwedel 12 – 18. Juli 1999,
                        Hamburg 2001.
                    </li>
                    <li>
                        Mark Spoerer, Zwangsarbeit unter dem Hakenkreuz, Stuttgart / München 2001.
                    </li>
                    <li>
                        Stiftung niedersächsische Gedenkstätten (Hrsg.), Bergen-Belsen. Kriegsgefangenenlager 1940-1945,
                        Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der Dauerausstellung,
                        Celle 2009.
                    </li>
                </ul>
            </div>
        </div>

        <h3 class="mt-4">Fußnoten</h3>
        <div class="row">
            <div class="col-lg-8 caption">
                <ol>
                    <li id="endnote1">
                        Vgl. Mark Spoerer, Zwangsarbeit unter dem Hakenkreuz, Stuttgart / München 2001, S. 29- 34.
                        <a href="#footnote1">&uarr;</a>
                    </li>
                    <li id="endnote2">
                        Vgl. Marc Buggeln, Arbeit und Gewalt, Das Außenlagersystem des KZ Neuengamme, Göttingen 2009, S.
                        36-51.
                        <a href="#footnote2">&uarr;</a>
                    </li>
                    <li id="endnote3">
                        Vgl. Spoerer, Zwangsarbeit, S. 9.
                        <a href="#footnote3">&uarr;</a>
                    </li>
                    <li id="endnote4">
                        Vgl. Buggeln, Arbeit und Gewalt, S. 625-657.
                        <a href="#footnote4">&uarr;</a>
                    </li>
                    <li id="endnote5">
                        Dietrich Banse, „ich wollte überleben und der Welt erzählen“. Zur Geschichte des Frauenlagers
                        Salzwedel – Außenlager des KZ Neuengamme, Salzwedel 2005, S. 10.
                        <a href="#footnote5">&uarr;</a>
                    </li>
                    <li id="endnote6">
                        Banse, überleben, S. 18.
                        <a href="#footnote6">&uarr;</a>
                    </li>
                    <li id="endnote7">
                        Banse, überleben, S. 31.
                        <a href="#footnote7">&uarr;</a>
                    </li>
                    <li id="endnote8">
                        Randolp L Braham, Historical Overview, in: Ders. (Hrsg.), The geographical encyclopedia of the
                        Holocaust in Hungary, Vol. 1, Evanston 2013, S. XV-XCV; Susanne Heim et al. (Hrsg.), Die
                        Verfolgung und Ermordung der europäischen Juden durch das nationalsozialistische Deutschland
                        1933–1945, Band 15. Ungarn 1944-1945. Bearbeitet von Regina Fritz. Berlin / Boston 2021.
                        <a href="#footnote8">&uarr;</a>
                    </li>
                    <li id="endnote9">
                        Zit. nach Banse, überleben, S. 39.
                        <a href="#footnote9">&uarr;</a>
                    </li>
                    <li id="endnote10">
                        Zit. nach Banse, überleben, S. 31, 39.
                        <a href="#footnote10">&uarr;</a>
                    </li>
                    <li id="endnote11">
                        Vgl. Stiftung niedersächsische Gedenkstätten (Hrsg.), Bergen-Belsen. Kriegsgefangenenlager
                        1940-1945, Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der
                        Dauerausstellung, Celle 2009, S. 200.
                        <a href="#footnote11">&uarr;</a>
                    </li>
                    <li id="endnote12">
                        Vgl. Banse, überleben, S. 31.
                        <a href="#footnote12">&uarr;</a>
                    </li>
                    <li id="endnote13">
                        Vgl. Bericht Kornélia Weisz, in: Salzwedeler Museen / Freundeskreis der KZ Gedenkstätte
                        Neuengamme (Hrsg.), Erinnerung. Besuchswoche ehemaliger Inhaftierter des Konzentrationslagers
                        Salzwedel 12.–18. Juli 1999, Hamburg 2001; Bericht Monzu Aviel, in:
                        Johann-Friedrich-Danneil-Museum Salzwedel / Freundeskreis KZ-Gedenkstätte Neuengamme (Hrsg),
                        „laßt es ruhn!?“ – Gegen ein Vergessen. Besuch ehemaliger Häftlinge des KZ-Außenlagers Salzwedel
                        vom 30. April bis 6. Mai 2001; Kitty Hart-Moxon, „Wo die Hoffnung erfriert“, Leipzig 2001, zit.
                        nach: Banse, überleben, S. 77; Mina Rapport, zit. nach. Banse, überleben, S. 54.
                        <a href="#footnote13">&uarr;</a>
                    </li>
                    <li id="endnote14">
                        Vgl. Banse, überleben, S. 46.
                        <a href="#footnote14">&uarr;</a>
                    </li>
                    <li id="endnote15">
                        Vgl. Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung.
                        <a href="#footnote15">&uarr;</a>
                    </li>
                    <li id="endnote16">
                        Vgl. Buggeln, Arbeit und Gewalt, S. 325f; Banse, überleben, S. 47f.
                        <a href="#footnote16">&uarr;</a>
                    </li>
                    <li id="endnote17">
                        Vgl. Bericht Mina Rapport, in: Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung.
                        <a href="#footnote17">&uarr;</a>
                    </li>
                    <li id="endnote18">
                        Vgl. Buggeln, Arbeit und Gewalt, S. 636; Hans Ellger, Zwangsarbeit und weibliche
                        Überlebensstrategien. Die Geschichte der Frauenaußenlager des Konzentrationslagers Neuengamme
                        1944/1945, Berlin 2007, S. 237-238.
                        <a href="#footnote18">&uarr;</a>
                    </li>
                    <li id="endnote19">
                        Vgl. Hanna Mandel, Beim Gehen entsteht der Weg. Gespräche über das Leben vor und nach Auschwitz,
                        Hamburg 2008, S. 91f.
                        <a href="#footnote19">&uarr;</a>
                    </li>
                    <li id="endnote20">
                        Vgl. Edréne Kovács, in: Salzwedeler Museen / Freundeskreis der KZ Gedenkstätte Neuengamme
                        (Hrsg.) Erinnerung. Besuchswoche ehemaliger Inhaftierter des Konzentrationslagers Salzwedel 12 –
                        18. Juli 1999, Hamburg 2001.
                        <a href="#footnote20">&uarr;</a>
                    </li>
                    <li id="endnote21">
                        Vgl. Mandel, Gespräche, S. 106.
                        <a href="#footnote21">&uarr;</a>
                    </li>
                    <li id="endnote22">
                        Vgl. Banse, überleben, S. 65, 66; Hans Ellger, Salzwedel, in: Wolfgang Benz / Barbara Diestel
                        (Hrsg.), Der Ort des Terrors. Geschichte der nationalsozialistischen Konzentrationslager, Band
                        5: Hinzert. Auschwitz. Neuengamme, München 2007, S. 514-516.
                        <a href="#footnote22">&uarr;</a>
                    </li>
                    <li id="endnote23">
                        Vgl. u.a. Hart-Moxon, Hoffnung, zit. nach: Danneil-Museum / Freundeskreis (Hrsg.), Tag der
                        Befreiung.
                        <a href="#footnote23">&uarr;</a>
                    </li>
                    <li id="endnote24">
                        Vgl. Fela Gastwirth, in: Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung.
                        <a href="#footnote24">&uarr;</a>
                    </li>
                    <li id="endnote25">
                        Vgl. Eva Braun (Luchs), in: Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung.
                        <a href="#footnote25">&uarr;</a>
                    </li>
                    <li id="endnote26">
                        Vgl. Mandel, Gespräche, S. 110f.
                        <a href="#footnote26">&uarr;</a>
                    </li>
                    <li id="endnote27">
                        Vgl. Rose Brewster, in: Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung.
                        <a href="#footnote27">&uarr;</a>
                    </li>
                    <li id="endnote28">
                        Lukkas Busche / Andreas Froese (Hrsg.), Gardelegen 1945. Das Massaker und seine Nachwirkungen.
                        Begleitender Katalog zur Dauerausstellung der Gedenkstätte Feldscheune Isenschnibbe Gardelegen,
                        Gardelegen / Leipzig / Magdeburg 2022.
                        <a href="#footnote28">&uarr;</a>
                    </li>
                    <li id="endnote29">
                        Zit. nach: Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung.
                        <a href="#footnote29">&uarr;</a>
                    </li>
                    <li id="endnote30">
                        Vgl. Bericht Kornélia Weisz, in: Salzwedeler Museen / Freundeskreis (Hrsg.), Erinnerung.
                        <a href="#footnote30">&uarr;</a>
                    </li>
                    <li id="endnote31">
                        Vgl. Bericht Sándorné Margit Less, in: Salzwedeler Museen / Freundeskreis (Hrsg.), Erinnerung.
                        <a href="#footnote31">&uarr;</a>
                    </li>
                    <li id="endnote32">
                        Vgl. Klári Sztehlo, in: Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung; Banse,
                        überleben, S. 69.
                        <a href="#footnote32">&uarr;</a>
                    </li>
                    <li id="endnote33">
                        „List of Jewish Survivors liberated from the Salzwedel camp. Submitted by Jewish Soldiers“, in:
                        Jewish Agency for Palestine / Search Bureau for missing relatives (Hrsg.), Register of Jewish
                        Survivors. List of Jews rescued in different European countries, Jerusalem 1945; Listen
                        Überlebender und eine Einblättrige Liste von Gefangenen, die nach der Befreiung in Flensburg
                        verstarben, 1.1.30.1/3418814 / ITS Digital Archive, Arolsen Archives, online unter:
                        <a href="https://collections.arolsen-archives.org/de/document/3418814"
                           title="Website Arolsen Archives">
                            https://collections.arolsen-archives.org/de/document/3418814</a>; List of Jewish survivors
                        in camp
                        Salzwedel 15.3.1946 various nationalities + 2 copies, 1.1.30.1/301000 / ITS Digital Archive,
                        Arolsen Archives, online unter:
                        <a href="https://collections.arolsen-archives.org/en/archive/3-1-1-3_301000"
                           title="Website Arolsen Archives">
                            https://collections.arolsen-archives.org/en/archive/3-1-1-3_301000</a>.
                        <a href="#footnote33">&uarr;</a>
                    </li>
                    <li id="endnote34">
                        Vgl. Banse, überleben, S. 9f.
                        <a href="#footnote34">&uarr;</a>
                    </li>
                    <li id="endnote35">
                        Vgl. Danneil-Museum / Freundeskreis (Hrsg.), Tag der Befreiung; Salzwedeler Museen /
                        Freundeskreis (Hrsg.), Erinnerung. Johann-Friedrich-Danneil-Museum Salzwedel / Freundeskreis
                        KZ-Gedenkstätte Neuengamme (Hrsg.), „laßt es ruhn!?“.
                        <a href="#footnote35">&uarr;</a>
                    </li>
                    <li id="endnote36">
                        Vgl. Mandel, Gespräche.
                        <a href="#footnote36">&uarr;</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Zitierhinweis</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Louis Wörner, Die Befreiung des Außenlagers Salzwedel, in: Der Holocaust in Ungarn und die Deportationen nach Norddeutschland. Biographien, Lager und Zwangsarbeit, hrsg. vom
                    Institut für die Geschichte der deutschen Juden, URL:
                    https://holocaust-ungarn-norddeutschland.de{{ path('app_deportation_salzwedel') }}.
                    Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/" title="Lizenzbestimmungen auf der Seite von Creative Commons">CC BY 4.0</a>.
                </p>
            </div>
        </div>

    </div>

{% endblock %}