{% extends 'base.en.html.twig' %}

{% block title %} Group study Salzwedel | {{ parent() }} {% endblock %}

{% block body %}
    

    <div class="container g-4 py-5 study">
        <h2>Forced labor in the armaments industry. The liberation of the Salzwedel satellite camp</h2>
        <div class="row">
            <div class="col-lg-8 mb-2 abstract">
                <p>
                    Even before the start of the Second World War, the National Socialists had begun to accelerate the expansion 
                    of the German arms industry. From 1933 to 1938 alone, armaments spending rose from four percent to over half 
                    of the national budget. German armaments companies profited from this armaments boom, but they were increasingly 
                    confronted with a shortage of labor.<sup><a href="#endnote1" id="footnote1">1</a></sup>
                    From 1942 onward, the National Socialists began to deploy concentration camp prisoners, too, in the German 
                    war industry. Starting in 1944, prisoners from the concentration and extermination camps in German-occupied 
                    Eastern Europe as well were deported to industrial sites in the German Reich for this purpose. The concentration 
                    camp prisoners were quartered in their own camps, the guarding of which continued to be organized by the SS, 
                    which was also paid for the prisoners’ work. Forced labor was a profitable way for the companies to increase 
                    their profits, which went hand in hand with the maximum exploitation of the labor of the malnourished and 
                    unprotected prisoners.<sup><a href="#endnote2" id="footnote2">2</a></sup>
                </p>
                <p>
                    When armaments production reached its peak in 1944, a total of 5.7 million foreign civilian workers, 1.9 million 
                    prisoners of war, and about 400,000 concentration camp inmates were working at production sites in the German Reich, 
                    accounting for almost a quarter of the workforce.<sup><a href="#endnote3" id="footnote3">3</a></sup> 
                    With the advance of the Allies, many armaments companies tried to get rid of the prisoners again, not least in 
                    order not to jeopardize their post-war position. The evacuation of the camps and the removal of the prisoners did 
                    not proceed uniformly and was characterized by the differing interests of the Nazi institutions and the confusing 
                    situation in the final months of the war.<sup><a href="#endnote4" id="footnote4">4</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Forced labor</h4>
                    <p>
                        National Socialist Germany made extensive use of forced labor to meet its labor needs; in the 
                        German Reich alone, over 13.5 million people had to perform forced labor during the Second World War. 
                        Forced labor was used in all branches of industry, but also in agriculture and in private households. 
                        Forced laborers were a visible part of everyday life in National Socialist Germany, especially in 
                        the final years of the war.
                    </p>
                    <p>
                        <a href="{{ path('app_context') }}#zwangsarbeit"
                           title="More information on forced labor and historical context">
                            &#10149; More information on forced labor
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Forced labor in Salzwedel</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    The Draht- und Metallwarenfabrik in Salzwedel, a wire and metal goods plant, profited from the German armaments 
                    boom as well; by 1937 it was the largest industrial company in Salzwedel with 600 employees. Foreign forced 
                    laborers were used at this location, too.<sup><a href="#endnote5" id="footnote5">5</a></sup>
                    In 1944, a camp that had previously been used for Eastern European forced laborers was converted into a satellite 
                    camp of the Neuengamme concentration camp.<sup><a href="#endnote6" id="footnote6">6</a></sup>
                    In the late summer of 1944, the first transport of female concentration camp prisoners who had been selected 
                    for work in Auschwitz arrived there. The group comprised mainly Jewish women who had only recently been deported 
                    from Hungary or the territories annexed by Hungary.<sup><a href="#endnote7" id="footnote7">7</a></sup> 
                    Some of the women had been deported to Auschwitz in May 1944 from the ghetto in what is today the Romanian 
                    city of Oradea. Many of the women came from Transcarpathia, today part of Ukraine, which had been awarded to 
                    Czechoslovakia in the interwar period and occupied by Hungary since 1939, for example from what is today the 
                    Ukrainian town of Tiachiv.
                </p>
                <h3 class="mt-4">Hungarian annexations and occupations during the Second World War</h3>
                <p>
                    From 1938 to 1941, Hungary, which was allied with Nazi Germany, annexed large areas of Czechoslovakia, Romania, 
                    and Yugoslavia. About 45 percent of the Jewish population of what was then Hungary lived in these areas when the 
                    country was occupied by Nazi Germany in 1944.
                </p>
                <p>
                    The former Czechoslovakian and Romanian regions of Hungary were among the first areas from which Jews were 
                    deported to the Auschwitz-Birkenau concentration and extermination camp. Not all of them spoke Hungarian or 
                    considered themselves to be Hungarian, but they all belonged to the group of Jews deported from Hungary.<sup><a href="#endnote8" id="footnote8">8</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Jewish men and women</h4>
                    <p>
                        The Jewish men and women deported from Hungary belonged to various communities and religious movements 
                        within Judaism. Not all of them necessarily defined themselves as Jewish. Neither their religion nor 
                        their cultural affiliation to Judaism or self-identification was decisive for their persecution by 
                        the National Socialists. At the heart of the National Socialist worldview was a racist antisemitism 
                        that defined Jews according to their descent. Christians and atheists were also persecuted as Jews by 
                        the National Socialists, regardless of their self-definition or cultural affiliation, if they met their 
                        criteria of descent. Not all of the persons referred to here as Jews identified themselves as Jewish, 
                        but they were all persecuted as Jewish.
                    </p>
                </div>
                <div class="infobox mt-2">
                    <h4>&#9432; More on the historical background</h4>
                    <p>
                        <a href="{{ path('app_context') }}" title="Text on historical context">
                            &#10149; Historical context
                        </a>
                    </p>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-8">
            <p>
                Survivors estimated the size of the first transport from Auschwitz to Salzwedel at around 500 women.<sup><a href="#endnote9" id="footnote9">9</a></sup>
                More female concentration camp prisoners were subsequently deported to the new satellite camp. Most of these 
                women had also been persecuted as Jews and came from Poland. However, some of the women also originated from 
                Italy, Czechoslovakia, Greece, the Netherlands, and Germany. The later transports also included larger groups of 
                women who had been deported from Hungary. The women in the subsequent transports, too, had been in the Auschwitz 
                concentration and extermination camp. Unlike the first transport, however, they were not deported directly to 
                Salzwedel but first to the Bergen-Belsen concentration camp, where they were selected for work in Salzwedel.<sup><a href="#endnote10" id="footnote10">10</a></sup>
            </p>
        </div>
        <div class="col-lg-4">
            <div class="infobox mt-2">
                <h4>&#9432; The Bergen-Belsen concentration camp</h4>
                <p>
                    The Bergen-Belsen concentration camp was initially founded in 1943 as an “exchange camp” to quarter 
                    Jewish hostages. However, it was quickly assigned other functions and a men’s and women’s camp was set up. 
                    From the end of 1944 onward, Bergen-Belsen became the destination of many death marches and evacuation 
                    transports, developing into a death camp due to the appalling conditions. After liberation, a Polish 
                    and a Jewish displaced persons camp were set up in Bergen-Belsen.<sup><a href="#endnote11" id="footnote11">11</a></sup>
                </p>
                <p>
                    <a href="{{ path('app_map') }}" title="Map overview">
                        &#10149; To the map of the camps
                    </a>
                </p>
            </div>
        </div>
    </div>

        <h3 class="mt-4">The Salzwedel satellite camp</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    It is no longer possible to determine how many women were forced to work in the Salzwedel satellite camp, but 
                    surviving documents establish at least 1,518 women there.<sup><a href="#endnote12" id="footnote12">12</a></sup> 
                    Together with other forced laborers and German civilian workers, the women were supposed to ensure the production 
                    of infantry and anti-aircraft munitions in the Draht- und Metallwarenfabrik. Survivors, such as Kornélia Weisz, 
                    reported contact with and support from French prisoners of war in particular, as well as occasional help from 
                    German civilian workers.<sup><a href="#endnote13" id="footnote13">13</a></sup>
                    As in other satellite camps, the concentration camp prisoners had to work twelve-hour shifts, which, as survivors 
                    reported, were only interrupted by a 15-minute lunch break.<sup><a href="#endnote14" id="footnote14">14</a></sup> 
                    Survivors also recalled that they were given a slice of bread and a cup of coffee substitute in the morning, 
                    a soup consisting mainly of water at lunchtime, and another slice of bread in the evening. According to their 
                    reports, there was only one toilet barrack for the approximately 1,500 women.<sup><a href="#endnote15" id="footnote15">15</a></sup> 
                    The provisioning was thus similar to that of many satellite camps and led to the prisoners becoming exhausted 
                    and to the spread of diseases. A Hungarian Jewish woman was assigned to care for the sick, but she was only 
                    allowed to accept in eight to twelve women in the infirmary, where they were at least temporarily released 
                    from work. Some sick women were also taken to the city hospital, where they were not given any treatment but 
                    only the opportunity to recuperate. Seriously ill prisoners were deported to Bergen-Belsen as well. One can 
                    assume that many of these women were murdered there.<sup><a href="#endnote16" id="footnote16">16</a></sup>
                </p>
                <p>
                    According to survivors, there had been an increasing lack of material in the factory since the beginning of 1945 
                    and the civilian workers had stopped turning up. Survivor Mina Rapport reported furthermore that a German foreman 
                    warned her that the war would soon be over, as he feared that the prisoners would be murdered before liberation.<sup><a href="#endnote17" id="footnote17">17</a></sup> 
                    The work was probably stopped at the end of March 1945. Shortly afterward, the number of women almost doubled 
                    when transports from other satellite camps that had been evacuated arrived in Salzwedel. The new arrivals had 
                    previously survived various satellite camps in northwestern Germany and came mainly from the Porta 
                    Westfalica-Hausberge and Fallersleben satellite camps.
                </p>
                    <a href="{{ asset('images/studies/Deportationsroute-Salzwedel.jpg') }}"
                       data-lightbox="map-salzwedel"
                       data-title="Deportations from other satellite camps to Salzwedel">
                        <img class="gallery img-fluid"
                             src="{{ asset('images/studies/Deportationsroute-Salzwedel.jpg') }}"
                             alt="Map with arrows from the Porta Westfalica satellite camp to Fallersleben (women) and from Fallersleben to Salzwedel"/></a>
                <p class="caption">
                    Deportations from other satellite camps to Salzwedel. &copy; Institute for the History of the German Jews. 
                    License: CC BY 4.0 &#128269; Click to enlarge.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Salzwedel satellite camp</h4>
                    <p>
                        In 1944, a camp that had previously been used for Eastern European forced laborers was converted 
                        into a women’s satellite camp of the Neuengamme concentration camp. The approximately 1,500 prisoners 
                        had to perform forced labor in an armaments company. On April 14, 1945, American troops were able to 
                        liberate the camp to which prisoners from other satellite camps had previously been deported.
                    </p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Map overview">
                            &#10149; To the map of the camps
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">The prisoners from the Porta Westfalica-Hausberge satellite camp</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    The Porta Westfalica-Hausberge women’s satellite camp was established in February 1945. The approximately 
                    1,000 prisoners had to produce radio tubes for the Philipps company and its subsidiaries. The camp was 
                    evacuated in January 1945 and the prisoners were deported to various other satellite camps, including Fallersleben.
                </p>
                <p>
                    Some of the women, who had already been forced to produce radio tubes in a satellite camp of the Gross-Rosen 
                    concentration camp, were deported to Porta Westfalica in January 1945, first on foot and then on a freight 
                    train as the Soviet army approached. During this transport, the women were hardly provided with any food. 
                    Another group of women in Porta Westfalica came from the Horneburg satellite camp in the Hamburg area, where 
                    they had been forced to produce radio tubes as well. They had been selected for work in Auschwitz and were in 
                    Horneburg from October 1944 onward until being deported to Porta Westfalica-Hausberge in February 1945. All 
                    survivors describe the living and working conditions in the Porta Westfalica-Hausberge satellite camp as extremely 
                    cruel and brutal. As the Allies advanced in the west, too, the camp was evacuated on April 1, 1945 and the women 
                    were deported again. Some of the prisoners were sent to the Fallersleben satellite camp in present-day Wolfsburg.<sup><a href="#endnote18" id="footnote18">18</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Porta Westfalica concentration camp</h4>
                    <p>
                        The Porta Westfalica-Hausberge women’s satellite camp was established in February 1945. 
                        The approximately 1,000 prisoners had to produce radio tubes for the Philipps Company and its subsidiaries. 
                        The camp was evacuated in January 1945 and the prisoners were deported to various other satellite camps, 
                        including Fallersleben.
                    </p>
                    <p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Map overview">
                            &#10149; To the map of the camps
                        </a>
                    </p>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">The prisoners from the Fallersleben satellite camp</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Like the Salzwedel satellite camp, the Fallersleben satellite camp for women was set up in the late summer of 1944. 
                    The first prisoners were also Jewish women who had been deported from Hungary to Auschwitz and had been selected by 
                    the SS for forced labor duty at the same time as the women in Salzwedel.<sup><a href="#endnote19" id="footnote19">19</a></sup>
                    In addition to the approximately 500 women from the first transport, other women from Bergen-Belsen arrived there 
                    as well, so that the camp’s workforce consisted of at least 650 women. The women were quartered in the VW factory 
                    near Fallersleben, today Wolfsburg, in pithead baths. The site had previously accommodated a group of 300 Jewish 
                    men who likewise had been deported from Hungary. The women had to work twelve-hour shifts at the VW factory 
                    producing plate mines and anti-tank rocket launchers. The provisions were the same as in other satellite camps. 
                    As the women were housed directly in the factory, they saw no daylight during their time there.
                </p>
                <img class="img-fluid" src="{{ asset('images/studies/salzwedel/CH11516_1 Tellerminen.jpg') }}"
                     alt="A forced laborer producing plate mines in Fallersleben"/>
                <p class="caption">
                    A forced laborer producing plate mines in Fallersleben; this work was later taken over by concentration camp prisoners. 
                    Courtesy of Volkswagen Aktiengesellschaft.
                </p>
                <p>
                    In the descriptions of Fallersleben by survivors such as Edréne Kovács, it must be taken into account that they 
                    assessed their imprisonment there against the background of their experiences in Auschwitz. This is the only 
                    way to understand why they emphasized the dry accommodation and the shower rooms, which would have offered the 
                    opportunity for at least a small degree of personal hygiene.<sup><a href="#endnote20" id="footnote20">20</a></sup> 
                    In March 1945, about 200 women arrived in Fallersleben from the Porta Westfalica-Hausberge satellite camp. 
                    Hanna Mandel, a survivor of the Fallersleben satellite camp, reported how depressed she had been by the 
                    condition of these women upon their arrival in Fallersleben and that panic had broken out among them when 
                    they were also led to the showers. The women who had survived Auschwitz feared that they would be murdered by 
                    poison gas shortly before the end of the war.<sup><a href="#endnote21" id="footnote21">21</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Die letzten Kriegswochen im Außenlager Salzwedel</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Together, the women from the Fallersleben and Porta Westfalica-Hausberge satellite camps were deported again. 
                    The arrival of the women evacuated from the other satellite camps increased the number of prisoners in Salzwedel 
                    to around 3,000 women.<sup><a href="#endnote22" id="footnote22">22</a></sup>
                    The supply situation worsened once again as a result; survivors reported that the distribution of food had been 
                    stopped. The women were starving and sometimes fed on raw turnips.<sup><a href="#endnote23" id="footnote23">23</a></sup> 
                    Almost all survivors testified that in the final days before the liberation, there was concern that the prisoners 
                    would be deliberately murdered by blowing up the camp. Several survivors, such as Fela Gastwirth, reported that 
                    this was prevented by the French prisoners of war housed in the immediate vicinity of the satellite camp, who 
                    had learned of the plan and subsequently cut off the power supply.<sup><a href="#endnote24" id="footnote24">24</a></sup>
                    According to survivor Eva Braun, the French prisoners of war had also surrounded the camp and threatened the SS.<sup><a href="#endnote25" id="footnote25">25</a></sup> 
                    Survivor Hanna Mandel also recalled that she had been warned by French prisoners of war that the camp was to 
                    be set on fire. As a result, the women had loosened several boards in their barrack and set up a guard service 
                    at knotholes so that, if the barrack was set on fire, they could knock out the walls in time and attempt to 
                    escape. However, this did not happen.<sup><a href="#endnote26" id="footnote26">26</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <p>
                    Some women also reported that the camp commandant had refused to murder the prisoners before the liberation. 
                    However, survivor Rose Brewster also pointed out that he had previously been promised by the responsible 
                    prisoner representatives that he would testify positively about him after the liberation.<sup><a href="#endnote27" id="footnote27">27</a></sup>
                </p>
                <p>
                    The camp was liberated by American troops on April 14, 1945. Just a few kilometers away, the SS, Wehrmacht, 
                    and Volksturm units as well as Hitler Youth had burned to death 1,061 male concentration camp prisoners in a 
                    barn the day before in the Gardelegen massacre.
                </p>
                <img class="img-fluid" src="{{ asset('images/studies/salzwedel/T2694HäftlingszugHinten.jpg') }}"
                     alt="A group of male and female concentration camp prisoners seen from behind"/>
                <p class="caption">
                    Liberated male and female concentration camp prisoners in Gardelegen on June 5, 1945, 
                    private property, Johann-Friedrich-Danneil-Museum, Salzwedel.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Death marches and “final phase crimes”</h4>
                    <p>
                        In the final phase of the war, a number of concentration camps and satellite camps were evacuated by 
                        the Nazis before the approaching Allies arrived. The prisoners were either transported in freight cars, 
                        rarely in trucks, or forced to march on foot to areas still under German control. During the marches, 
                        which often lasted for days, sometimes even weeks, the prisoners were usually barely fed, many of them 
                        starving or dying of thirst in the freight cars, many collapsing during the marches due to exhaustion 
                        or being murdered by the SS or other units on guard duty. Survivors therefore coined the term “death march” 
                        for these evacuations. Some of the death marches ended in the targeted murder of prisoners, of which 
                        the so-called “Gardelegen massacre” constitutes one of the best known. More than 1,000 prisoners from 
                        satellite camps of the Neuengamme and Mittelbau-Dora concentration camps were rounded up in a field 
                        barn there, which was then set on fire by the SS and other Nazi organizations.<sup><a href="#endnote28" id="footnote28">28</a></sup>
                    </p>
                </div>
            </div>

        </div>

        <h3 class="mt-4">After the liberation</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    The survivor Gabriella Goitein reported:
                </p>
                <p class="quote">
                    „And then they said we could go. We walked this path, and it was a day of peace and there was sunshine. 
                    And the French, the prisoners of war, the French, they took us to their camp and we sat at long tables and 
                    they somehow [...] got bread and eggs. And they had these big pans and they broke the eggs onto the pan 
                    and mixed them. We sat there and I ate bread and eggs. That was my liberation.“<sup><a href="#endnote29" id="footnote29">29</a></sup>
                </p>
                <p>
                    Many survivors, such as Kornélia Weisz, reported that the American soldiers, who were appalled by the women’s 
                    supplies and equipment, told them to look after themselves in the town.<sup><a href="#endnote30" id="footnote30">30</a></sup>
                    Many of the liberated concentration camp prisoners then left the camp and moved to the small town, where 
                    they looted food and clothes. The survivor Sándorné Margit Less told related, </p>
                <p class="quote">
                    „Then the gates were open and we ran out, one after the other. We didn’t know what to do. We had no normal clothes. 
                    We were dirty, teeming with lice. We hadn’t had anything to eat in the last few weeks, not even this thin 
                    turnip soup. Food, food was the only thing we thought about. After the liberation we went to a dairy. 
                    There were lots of different dairy products [...]. One woman found a soldier’s helmet and dipped it in milk, 
                    but these helmets had holes in them and the milk poured out of both sides. She drank, drank, and the milk flowed out. 
                    This image is the picture in my mind’s eye.“<sup><a href="#endnote31" id="footnote31">31</a></sup>
                </p>
                <img class="img-fluid"
                     src="{{ asset('images/studies/salzwedel/T2692Häftlingszugnah.jpg') }}"
                     alt="A Group of waving liberated women"/>
                <p class="caption">
                    Liberated women in the streets of Salzwedel, photo: Dale Ramsey, US Army, probably April 14, 1945, 
                    Johann-Friedrich-Danneil-Museum, Salzwedel.
                </p>
                <p>
                    In addition to looting stores and, for example, fabric in a department store, the liberated women also came into 
                    contact with the civilian population of Salzwedel. Even though some women recalled that they were initially driven 
                    by feelings of revenge and the survivor Klári Sztehlo reported that the inhabitants were afraid of the liberated 
                    concentration camp prisoners, there is no evidence of acts of violence.<sup><a href="#endnote32" id="footnote32">32</a></sup>
                    Years after the liberation, however, a town chronicle still contains formulations that emphasize above all the 
                    damage caused to the people of Salzwedel by the unregulated looting, without any sympathy for the prisoners and 
                    their situation.
                </p>
                <p>
                    The liberated prisoners were initially housed in former barracks at Salzwedel airfield, where the starving and 
                    often sick women were supposed to regain their strength. However, some of them died after liberation as a result 
                    of their imprisonment. Their graves can still be found in Salzwedel today. After some time, a number of the 
                    liberated women returned to their places of origin, whose national affiliation had changed again in the case 
                    of the women from Transcarpathia and the former Romanian territories. While the former became part of the 
                    Soviet Union, the other areas became part of Romania again. Quite a few of the surviving women decided against 
                    returning and initially remained as so-called “displaced persons” (DPs) under the care of the United Nations 
                    Relief and Rehabilitation Administration (UNRRA), an aid organization of the UN, until they emigrated to 
                    Western countries or to Palestine, the future state of Israel, which was under British Mandate rule at the time.
                </p>
                <a href="{{ asset('images/studies/salzwedel/Lukacs_Agnes-Brief-1945-05-03.jpg') }}"
                   title="Click to enlarge the image"
                   data-lightbox="salzwedel-letter"
                   data-title="Ágnes Lukács, letter to her parents in Budapest, May 3, 1945, Johann-Friedrich-Danneil-Museum, Salzwedel.">
                    <img class="gallery img-fluid"
                         src="{{ asset('images/studies/salzwedel/Lukacs_Agnes-Brief1945-05-03_preview.jpg') }}"
                         alt="Letter from Ágnes Lukács to her parents in Budapest. Text and a small drawing depicting three women."/></a>
                <p class="caption">
                    Ágnes Lukács, letter to her parents in Budapest, May 3, 1945, Johann-Friedrich-Danneil-Museum, 
                    Salzwedel. &#128269; Click to enlarge.
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Sources and research</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Immediately after the liberation, a preserved list of the liberated women and their last places of residence 
                    was compiled. As a result, at least the names of the surviving women and their places of origin are known for 
                    the Salzwedel satellite camp.<sup><a href="#endnote33" id="footnote33">33</a></sup>
                    This constitutes a major difference to other satellite camps, whose surviving prisoners were generally 
                    liberated at other locations, which means that only very limited conclusions can be drawn about the places 
                    of imprisonment.
                </p>
        <!--
                <img class="img-fluid" style="width: 640px;" src="{{ asset('images/placeholder_840x560.jpg') }}"
                     alt="Interactive map of the places of origin "/>
                <p class="caption">
                    Map of the women's places of origin
                <p>
                -->
                    The majority of documents compiled by the Neuengamme satellite camp administration were destroyed before 
                    the liberation. Only a list from the SS site doctor in Neuengamme concerning occupancy of the satellite 
                    camps in March 1945 documents the number of inmates at that time. Even if this allows conclusions to be 
                    drawn about the size of the satellite camp, the sources of the National Socialist concentration camp 
                    administration are still bound to the perspective of the perpetrators, who robbed the prisoners of their 
                    humanity and individuality, reducing them to administrative challenges. This perpetrator source provides 
                    no insight into the biographical backgrounds of the prisoners or their individual living conditions. 
                    Nothing can be learned from these sources about the internees and their everyday experiences in the satellite 
                    camps. Other sources also provide only fragmentary information about the reality of the prisoners’ lives and 
                    their backgrounds. Until the 1990s, there was very little publicly available information about the Salzwedel 
                    satellite camp. In GDR times, a small model of the camp had already been exhibited in the Johann-Friedrich 
                    Danneil Museum and a brochure had been published, but this focused on the solidarity of some German workers 
                    with the persecuted. It was not until the 1990s that the first more comprehensive accounts appeared, based 
                    primarily on the documents of the British occupation authorities, who had begun investigations into the 
                    guards and had also interviewed survivors in the process. Although no guards were convicted, the documents 
                    have been preserved and are now an important source for historical research.<sup><a href="#endnote34" id="footnote34">34</a></sup>
                </p>
                <p>
                    As part of commemorative work, surviving women were also invited by the town of Salzwedel on several occasions 
                    from 1996 onward and interviewed about their time in detention.<sup><a href="#endnote35" id="footnote35">35</a></sup> 
                    The recollections shared by the women 50 years after liberation are molded by repression, forgetting, but also 
                    by the exchange with others. In addition, the interview situation itself as well shapes what is told and what 
                    is not told. Nevertheless, the memoirs are one of the most important sources for the history of the Salzwedel 
                    satellite camp. In addition, the Polish-born survivor Kitty Hart-Moxon began publishing about her time in the 
                    Auschwitz concentration and extermination camp and in various satellite camps – including Salzwedel – as early 
                    as the 1960s. Based on ten years of conversations between the theologian Norbert Rech and the Hungarian survivor 
                    Hanna Mandel, a book about her life was published as well in 2008.<sup><a href="#endnote36" id="footnote36">36</a></sup>
                </p>
                <p>
                    These survivors’ accounts form the basis for research, but also for the remembrance and commemoration 
                    of the Salzwedel satellite camp.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <ul class="bibliography">
                    <li>
                        Dietrich Banse, “ich wollte überleben und der Welt erzählen.” Zur Geschichte des Frauenlagers
                        Salzwedel – Außenlager des KZ Neuengamme, Salzwedel 2005.
                    </li>
                    <li>
                        Randolp L. Braham, “Historical Overview,” in: Idem. (ed.), The geographical encyclopedia of the
                        Holocaust in Hungary, Vol. 1, Evanston 2013, pp. XV-XCV.
                    </li>
                    <li>
                        Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009.
                    </li>
                    <li>
                        Lukkas Busche / Andreas Froese (eds.), Gardelegen 1945. Das Massaker und seine Nachwirkungen.
                        Catalog accompanying for the permanent exhibition at the Feldscheune Isenschnibbe Gardelegen Memorial,
                        Gardelegen / Leipzig / Magdeburg 2022.
                    </li>
                    <li>
                        Hans Ellger, “Salzwedel,” in: Wolfgang Benz / Barbara Diestel (eds.), Der Ort des Terrors.
                        Geschichte der nationalsozialistischen Konzentrationslager, Vol. 5: Hinzert. Auschwitz.
                        Neuengamme, München 2007, pp. 514-516.
                    </li>
                    <li>
                        Hans Ellger, Zwangsarbeit und weibliche Überlebensstrategien. Die Geschichte der
                        Frauenaußenlager des Konzentrationslagers Neuengamme 1944/1945, Berlin 2007.
                    </li>
                    <li>
                        Kitty Hart-Moxon, “Wo die Hoffnung erfriert,” Leipzig 2001.
                    </li>
                    <li>
                        Susanne Heim et al. (eds.), Die Verfolgung und Ermordung der europäischen Juden durch das
                        nationalsozialistische Deutschland 1933–1945, Vol. 15. Ungarn 1944-1945. Edited by Regina
                        Fritz. Berlin / Boston 2021.
                    </li>
                    <li>
                        Johann-Friedrich-Danneil-Museum Salzwedel / Freundeskreis KZ-Gedenkstätte Neuengamme (eds.),
                        “laßt es ruhn!?” – Gegen ein Vergessen. Besuch ehemaliger Häftlinge des KZ-Außenlagers Salzwedel
                        vom 30. April bis 6. Mai 2001.
                    </li>
                    <li>
                        Hanna Mandel, Beim Gehen entsteht der Weg. Gespräche über das Leben vor und nach Auschwitz,
                        Hamburg 2008.
                    </li>
                    <li>
                        Salzwedeler Museen / Freundeskreis der KZ Gedenkstätte Neuengamme (eds.), Erinnerung.
                        Besuchswoche ehemaliger Inhaftierter des Konzentrationslagers Salzwedel 12.–18. Juli 1999,
                        Hamburg 2001.
                    </li>
                    <li>
                        Mark Spoerer, Zwangsarbeit unter dem Hakenkreuz, Stuttgart / München 2001.
                    </li>
                    <li>
                        Lower Saxony Memorials Foundation (ed.), Bergen-Belsen. Kriegsgefangenenlager 1940-1945,
                        Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der Dauerausstellung,
                        Celle 2009.
                    </li>
                </ul>
            </div>
        </div>

        <h3 class="mt-4">Fußnoten</h3>
        <div class="row">
            <div class="col-lg-8 caption">
                <ol>
                    <li id="endnote1">
                        Cf. Mark Spoerer, Zwangsarbeit unter dem Hakenkreuz, Stuttgart / München 2001, pp. 29-34.
                        <a href="#footnote1">&uarr;</a>
                    </li>
                    <li id="endnote2">
                        Cf. Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009, pp.
                        36-51.
                        <a href="#footnote2">&uarr;</a>
                    </li>
                    <li id="endnote3">
                        Cf. Spoerer, Zwangsarbeit, p. 9.
                        <a href="#footnote3">&uarr;</a>
                    </li>
                    <li id="endnote4">
                        Cf. Buggeln, Arbeit und Gewalt, pp. 625-657.
                        <a href="#footnote4">&uarr;</a>
                    </li>
                    <li id="endnote5">
                        Dietrich Banse, “ich wollte überleben und der Welt erzählen.” Zur Geschichte des Frauenlagers
                        Salzwedel – Außenlager des KZ Neuengamme, Salzwedel 2005, p. 10.
                        <a href="#footnote5">&uarr;</a>
                    </li>
                    <li id="endnote6">
                        Banse, “überleben,” p. 18.
                        <a href="#footnote6">&uarr;</a>
                    </li>
                    <li id="endnote7">
                        Banse, “überleben,” p. 31.
                        <a href="#footnote7">&uarr;</a>
                    </li>
                    <li id="endnote8">
                        Randolp L. Braham, “Historical Overview,” in: Idem. (ed.), The geographical encyclopedia of the
                        Holocaust in Hungary, Vol. 1, Evanston 2013, pp. XV-XCV; Susanne Heim et al. (eds.), Die
                        Verfolgung und Ermordung der europäischen Juden durch das nationalsozialistische Deutschland
                        1933–1945, Vol. 15. Ungarn 1944-1945. Edited by Regina Fritz, Berlin / Boston 2021.
                        <a href="#footnote8">&uarr;</a>
                    </li>
                    <li id="endnote9">
                        Quoted from Banse, “überleben,” p. 39.
                        <a href="#footnote9">&uarr;</a>
                    </li>
                    <li id="endnote10">
                        Quoted from Banse, “überleben,” pp. 31, 39.
                        <a href="#footnote10">&uarr;</a>
                    </li>
                    <li id="endnote11">
                        See Lower Saxony Memorials Foundation (ed.), Bergen-Belsen. Kriegsgefangenenlager
                        1940-1945, Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der
                        Dauerausstellung, Celle 2009, p. 200.
                        <a href="#footnote11">&uarr;</a>
                    </li>
                    <li id="endnote12">
                        Cf. Banse, “überleben,” p. 31.
                        <a href="#footnote12">&uarr;</a>
                    </li>
                    <li id="endnote13">
                        Cf. Bericht Kornélia Weisz, in: Salzwedeler Museen / Freundeskreis der KZ Gedenkstätte
                        Neuengamme (eds.), Erinnerung. Besuchswoche ehemaliger Inhaftierter des Konzentrationslagers
                        Salzwedel 12.–18. Juli 1999, Hamburg 2001; Bericht Monzu Aviel, in:
                        Johann-Friedrich-Danneil-Museum Salzwedel / Freundeskreis KZ-Gedenkstätte Neuengamme (eds.),
                        “laßt es ruhn!?” – Gegen ein Vergessen. Besuch ehemaliger Häftlinge des KZ-Außenlagers Salzwedel
                        vom 30. April bis 6. Mai 2001; Kitty Hart-Moxon, “Wo die Hoffnung erfriert,” Leipzig 2001, 
                        quoted from: Banse, “überleben,” p. 77; Mina Rapport, quoted from: Banse, “überleben,” p. 54.
                        <a href="#footnote13">&uarr;</a>
                    </li>
                    <li id="endnote14">
                        Cf. Banse, “überleben,” p. 46.
                        <a href="#footnote14">&uarr;</a>
                    </li>
                    <li id="endnote15">
                        Cf. Danneil-Museum / Freundeskreis (eds.), Tag der Befreiung.
                        <a href="#footnote15">&uarr;</a>
                    </li>
                    <li id="endnote16">
                        Cf. Buggeln, Arbeit und Gewalt, pp. 325f; Banse, “überleben,” pp. 47f.
                        <a href="#footnote16">&uarr;</a>
                    </li>
                    <li id="endnote17">
                        Cf. Bericht Mina Rapport, in: Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung.
                        <a href="#footnote17">&uarr;</a>
                    </li>
                    <li id="endnote18">
                        Cf. Buggeln, Arbeit und Gewalt, p. 636; Hans Ellger, Zwangsarbeit und weibliche
                        Überlebensstrategien. Die Geschichte der Frauenaußenlager des Konzentrationslagers Neuengamme
                        1944/1945, Berlin 2007, pp. 237-238.
                        <a href="#footnote18">&uarr;</a>
                    </li>
                    <li id="endnote19">
                        Cf. Hanna Mandel, Beim Gehen entsteht der Weg. Gespräche über das Leben vor und nach Auschwitz,
                        Hamburg 2008, pp. 91f.
                        <a href="#footnote19">&uarr;</a>
                    </li>
                    <li id="endnote20">
                        Cf. Edréne Kovács, in: Salzwedeler Museen / Freundeskreis der KZ Gedenkstätte Neuengamme
                        (eds.) Erinnerung. Besuchswoche ehemaliger Inhaftierter des Konzentrationslagers Salzwedel 
                        12.–18. Juli 1999, Hamburg 2001.
                        <a href="#footnote20">&uarr;</a>
                    </li>
                    <li id="endnote21">
                        Cf. Mandel, Gespräche, p. 106.
                        <a href="#footnote21">&uarr;</a>
                    </li>
                    <li id="endnote22">
                        Cf. Banse, “überleben,” pp. 65, 66; Hans Ellger, “Salzwedel,” in: Wolfgang Benz / Barbara Diestel
                        (eds.), Der Ort des Terrors. Geschichte der nationalsozialistischen Konzentrationslager, Vol. 5: Hinzert. Auschwitz. Neuengamme, München 2007, pp. 514-516.
                        <a href="#footnote22">&uarr;</a>
                    </li>
                    <li id="endnote23">
                        Cf. e.g. Hart-Moxon, “Hoffnung,” quoted from: Danneil-Museum / Freundeskreis (ed.), Tag der
                        Befreiung.
                        <a href="#footnote23">&uarr;</a>
                    </li>
                    <li id="endnote24">
                        Cf. Fela Gastwirth, in: Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung.
                        <a href="#footnote24">&uarr;</a>
                    </li>
                    <li id="endnote25">
                        Cf. Eva Braun (Luchs), in: Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung.
                        <a href="#footnote25">&uarr;</a>
                    </li>
                    <li id="endnote26">
                        Cf. Mandel, Gespräche, pp. 110f.
                        <a href="#footnote26">&uarr;</a>
                    </li>
                    <li id="endnote27">
                        Cf. Rose Brewster, in: Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung.
                        <a href="#footnote27">&uarr;</a>
                    </li>
                    <li id="endnote28">
                        Lukkas Busche / Andreas Froese (eds.), Gardelegen 1945. Das Massaker und seine Nachwirkungen.
                        Catalog accompanying the permanent exhibition at the Feldscheune Isenschnibbe Gardelegen Memorial,
                        Gardelegen / Leipzig / Magdeburg 2022.
                        <a href="#footnote28">&uarr;</a>
                    </li>
                    <li id="endnote29">
                        Quoted from: Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung.
                        <a href="#footnote29">&uarr;</a>
                    </li>
                    <li id="endnote30">
                        Cf. Bericht Kornélia Weisz, in: Salzwedeler Museen / Freundeskreis (ed.), Erinnerung.
                        <a href="#footnote30">&uarr;</a>
                    </li>
                    <li id="endnote31">
                        Cf. Bericht Sándorné Margit Less, in: Salzwedeler Museen / Freundeskreis (ed.), Erinnerung.
                        <a href="#footnote31">&uarr;</a>
                    </li>
                    <li id="endnote32">
                        Cf. Klári Sztehlo, in: Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung; Banse,
                        “überleben,” p. 69.
                        <a href="#footnote32">&uarr;</a>
                    </li>
                    <li id="endnote33">
                        “List of Jewish Survivors liberated from the Salzwedel camp. Submitted by Jewish Soldiers,” in:
                        Jewish Agency for Palestine / Search Bureau for missing relatives (eds.), Register of Jewish
                        Survivors. List of Jews rescued in different European countries, Jerusalem 1945; Listen
                        Überlebender und eine Einblättrige Liste von Gefangenen, die nach der Befreiung in Flensburg
                        verstarben, 1.1.30.1/3418814 / ITS Digital Archive, Arolsen Archives, online at:
                        <a href="https://collections.arolsen-archives.org/de/document/3418814"
                           title="Website Arolsen Archives">
                            https://collections.arolsen-archives.org/de/document/3418814</a>; List of Jewish survivors
                        in camp
                        Salzwedel 15.3.1946 various nationalities + 2 copies, 1.1.30.1/301000 / ITS Digital Archive,
                        Arolsen Archives, online at:
                        <a href="https://collections.arolsen-archives.org/en/archive/3-1-1-3_301000"
                           title="Website Arolsen Archives">
                            https://collections.arolsen-archives.org/en/archive/3-1-1-3_301000</a>.
                        <a href="#footnote33">&uarr;</a>
                    </li>
                    <li id="endnote34">
                        Cf. Banse, “überleben,” pp. 9f.
                        <a href="#footnote34">&uarr;</a>
                    </li>
                    <li id="endnote35">
                        Cf. Danneil-Museum / Freundeskreis (ed.), Tag der Befreiung; Salzwedeler Museen /
                        Freundeskreis (ed.), Erinnerung. Johann-Friedrich-Danneil-Museum Salzwedel / Freundeskreis
                        KZ-Gedenkstätte Neuengamme (ed.), “laßt es ruhn!?”.
                        <a href="#footnote35">&uarr;</a>
                    </li>
                    <li id="endnote36">
                        Cf. Mandel, Gespräche.
                        <a href="#footnote36">&uarr;</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-4">
                <p>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Citation reference</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Louis Wörner, “Die Befreiung des Außenlagers Salzwedel,” 
                    in: Der Holocaust in Ungarn und die Deportationen nach Norddeutschland. Biographien, Lager und Zwangsarbeit, 
                    edited by the Institute for the History of the German Jews, URL:
                    https://holocaust-ungarn-norddeutschland.de{{ path('app_deportation_salzwedel') }}.
                    License: <a href="https://creativecommons.org/licenses/by/4.0/" 
                    title="License terms on the Creative Commons website">CC BY 4.0</a>.
                </p>
            </div>
        </div>

    </div>

{% endblock %}