{% extends 'base.html.twig' %}

{% block title %} Camargo | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <video width="100%"  height="100%" controls poster="{{ asset('images/poster/Camargo.jpg') }}">
                    <source src="{{ asset('videos/Camargo.mov') }}" type="video/mp4">
                </video>
                <div>
                    <p>Julia Camargo über die Armbanduhr ihrer Großmutter. © IGdJ, 2022.</p>
                </div>
                <div class="pt-5">
                    <p class="quote">„Die Uhr hat nur einen emotionalen Wert, sie ist eigentlich aus Metall.“</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="metadata p-4">
                    <p>Gesamtlänge des Interviews: 06:54</p>
                    <p>Gezeigter Ausschnitt: 03:58</p>
                    <p>Interviewerin: Karen Körber</p>
                    <p>Ort des Interviews: Hamburg</p>
                    <p>Interview geführt am: 19.6.2022 (Objekttag in Kooperation mit dem Jüdischen Museum Berlin)</p>
                    <p>Schnitt: Anna Menny, Aline Philippen</p>
                    <p>Objekt(e): Armbanduhr der Großmutter</p>
                    <p>Schlagwort(e): Objekttag,
                        Migration,
                        Sowjetunion,
                        Zweiter Weltkrieg,
                        Nationalsozialismus,
                        Kontingentflüchtlingsgesetz</p>
                    <p>Genannte Orte: Nürnberg,
                        Hamburg,
                        Usbekistan,
                        Ukraine
                    </p>
                    <p>Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</a> (Text), <a
                                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY-NC-ND 4.0</a>
                        (Video)</p>
                </div>
            </div>
        </div>
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <h2 class="title-show">Julia Camargo</h2>
                <p>
                    Julia Camargo kam 1995 im Rahmen des Kontingentflüchtlingsgesetzes aus der Ukraine nach Deutschland.
                    Die bei den gemeinsam mit dem Jüdischen Museum Berlin ausgerichteten Hamburger Objekttag
                    präsentierte Armbanduhr erinnert sie an die Flucht ihrer damals 18-jährigen Großmutter vor den
                    Nationalsozialisten. Das Gespräch beleuchtet insbesondere die Lebensgeschichte der Großmutter sowie
                    die Ankunft der Familie in Deutschland in den 1990er-Jahren.
                </p>
            </div>
            <div class="col-lg-6 col-xl-6">
                <a href="{{ asset('images/objekte/Camargo_Objekt_Armbanduhr2.jpg') }}"
                   data-lightbox="camargo"
                   data-title="Armbanduhr der Großmutter von Julia Camargo. Foto: Stephan Pramme, Jüdisches Museum Berlin">
                    <img class="img-fluid" class="gallery"
                         src="{{ asset('images/objekte/Camargo_Objekt_Armbanduhr2_Voransicht.jpg') }}"
                         alt="Julia Camargo mit der Armbanduhr ihrer Großmutter. Foto: Stephan Pramme, Jüdisches Museum Berlin."/>
                </a>
                <a href="{{ asset('images/objekte/Camargo_mit_Objekt.jpg') }}"
                   data-lightbox="camargo"
                   data-title="Julia Camargo mit der Armbanduhr ihrer Großmutter. Foto: Stephan Pramme, Jüdisches
                    Museum Berlin.">
                </a>
                <a href="{{ asset('images/objekte/Camargo_Objekt_Armbanduhr.jpg') }}"
                   data-lightbox="camargo"
                   data-title="Armbanduhr der Großmutter von Julia Camargo. Foto: Stephan Pramme, Jüdisches Museum Berlin">
                </a>
                <p class="caption img-fluid" style="width:450px;">Armbanduhr der Großmutter von Julia Camargo. Foto: Stephan Pramme, Jüdisches
                            Museum Berlin. [Bildergalerie]</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
