{% extends 'base.html.twig' %}

{% block title %} Horwitz | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <video width="100%"  height="100%" controls poster="{{ asset('images/poster/Horwitz.jpg') }}">
                    <source src="{{ asset('videos/Horwitz.mp4') }}" type="video/mp4">
                </video>
                <div>
                    <p>Daphna Horwitz über die Aktentasche ihrer Großmutter. © IGdJ, 2022.</p>
                </div>
                <div class="pt-5">
                    <p class="quote">„Diese Tasche ist für mich so etwas ist wie ein Bindungsglied, eine Verbindung zu
                        meiner Urgroßmutter und meiner Großmutter.“</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="metadata p-4">
                    <p>Gesamtlänge des Interviews: 09:09</p>
                    <p>Gezeigter Ausschnitt: 06:35</p>
                    <p>Interviewerin: Karen Körber, Anna Menny</p>
                    <p>Ort des Interviews: Hamburg</p>
                    <p>Interview geführt am: 2.6.2022</p>
                    <p>Schnitt: Anna Menny, Aline Philippen</p>
                    <p>Objekt(e): Tasche der
                        Urgroßmutter</p>
                    <p>Schlagwort(e): Objekttag,
                        Zionismus,
                        Migration</p>
                    <p>Genannte Orte: Parchim,
                        Hamburg,
                        Palästina/ Israel
                    </p>
                    <p>Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</a> (Text), <a
                                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY-NC-ND 4.0</a>
                        (Video)</p>
                </div>
            </div>
        </div>
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <h2 class="title-show">Daphna Horwitz</h2>
                <p>
                    1935 flohen die Großeltern von Daphna Horwitz, Eva und Sam Horwitz, von Hamburg aus vor den
                    Nationalsozialisten nach Palästina. Dort hatte der Großvater bereits 1925 in Herzlia ein Stück Land
                    erworben. Mit im Gepäck war eine Handtasche, die Eva Horwitz, geb. Bernhard, zuvor von ihrer
                    Mutter Ella Bernhard erhalten hatte und fortan mit Dokumenten zu ihrer Auswanderung und Briefen
                    sowie Postkarten ihrer Familie füllte. Der Wunsch, mehr über die eigene Familiengeschichte,
                    insbesondere über die Flucht ihrer Großeltern, zu erfahren, führte Daphna Horwitz im November 2021
                    zu der Tasche, die ihr ein Onkel samt Inhalt zur Verfügung stellte. Daphna Horwitz wurde 1972 in
                    Hamburg geboren und ist Diversity Trainerin, Change Managerin, Wirtschaftshistorikerin und Politologin.
                    Seit 2020 ist Daphna Horwitz ehrenamtliches Mitglied der Kultuskommission der Reformsynagoge in der
                    Jüdischen Gemeinde Hamburg.
                </p>
            </div>
            <div class="col-lg-6 col-xl-6">
                <a href="{{ asset('images/objekte/Horwitz_Aktentasche.jpg') }}"
                   data-lightbox="horwitz"
                   data-title="Aktentasche der Familie Horwitz. Foto: Stephan Pamme, Jüdisches Museum Berlin.">
                    <img class="gallery"
                         src="{{ asset('images/objekte/Horwitz_Aktentasche_Voransicht.jpg') }}"
                         alt="Aktentasche der Familie Horwitz"/>
                </a>
                <a href="{{ asset('images/objekte/Horwitz_Aktentasche-offen.jpg') }}"
                   data-lightbox="horwitz"
                   data-title="Aktentasche der Familie Horwitz. Foto: Stephan Pamme, Jüdisches Museum Berlin.">
                    <img class="gallery"
                         src="{{ asset('images/objekte/Horwitz_Aktentasche-offen_Voransicht.jpg') }}"
                         alt="Aktentasche der Familie Horwitz" />
                </a>
                <a href="{{ asset('images/objekte/Horwitz_Aktentasche_Briefe.jpg') }}"
                   data-lightbox="horwitz"
                   data-title="Aktentasche, Dokumente und Briefe der Familie Horwitz. Foto: IGdJ.">
                    <img class="gallery"
                         src="{{ asset('images/objekte/Horwitz_Aktentasche_Briefe_Voransicht.jpg') }}"
                         alt="Aktentasche, Dokumente und Briefe der Familie Horwitz. Foto: IGdJ" />
                </a>
                <a href="{{ asset('images/objekte/Horwitz_Brief.jpg') }}"
                   data-lightbox="horwitz"
                   data-title="Brief der Familie Horwitz. Foto: IGdJ.">
                    <img class="gallery"
                         src="{{ asset('images/objekte/Horwitz_Brief_Voransicht.jpg') }}"
                         alt="Brief der Familie Horwitz. Foto: IGdJ" />
                </a>
                <p class="caption img-fluid" style="width:450px;">Aktentasche und Briefe der Familie Horwitz. Fotos: Stephan Pamme, Jüdisches Museum Berlin und IGdJ. [Bildergalerie]</p>
            </div>
        </div>
    </div>
{% endblock %}
