{% extends 'base-map.en.html.twig' %}

{% block title %} Individual biography Merényi sisters | {{ parent() }} {% endblock %}


{% block body %}
    

    <div class="container g-4 py-5 study">
        <h2>The sisters Lea and Zsuzsa Merényi – Focus “Return”</h2>
        <div class="row">
            <h3>About the persons</h3>
            <div class="col-lg-8 mb-2">
                <p class="abstract">
                    Lea Merényi was born on December 3, 1914 in Budapest, Hungary, but grew up in Germany. When she was about three 
                    years old, her family moved to Hannover because her father got a job as an engineer at the Hanomag Company. 
                    Lea Merényi’s younger sister Zsuzsa was born in Germany almost eleven years later on June 24, 1925. According 
                    to Lea, the Merényi sisters had a very close relationship until Zsuzsa’s death in 1990. They also had a younger 
                    brother, Istvan (Stefan). They were brought up as Christians. Her father worked as an engineer in the Ganz factory 
                    in Budapest, but Lea Merényi recalled in an interview with a contemporary witness that she gave to employees of 
                    the Bergen-Belsen Memorial on November 29, 2005<sup><a href="#endnote1" id="footnote1">1</a></sup> 
                    that as a child, she always spent her vacations with her grandparents in Wuppertal-Barmen in Germany. The following 
                    information about Zsuzsa Merényi is partly based on the recollections of her sister.
                </p>
            </div>
            <div class="col-lg-4">
                <div id="map" style="height: 15rem;">
                </div>
            </div>
        </div>

        <h3 class="mt-4">Fascism in Hungary</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    In 1933, for reasons unknown to Lea Merényi, the family moved back from Hannover to Budapest, where most of 
                    the relatives lived. In the interview, she said that all three siblings first had to learn Hungarian in Hungary. 
                    However, it was easy for them as their parents had always spoken Hungarian with each other. Lea Merényi began 
                    a dancing career in her twenties.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-sm-5">
                        <img class="img-fluid"  src="{{ asset('images/biographies/Lea-Merenyi.jpg') }}"
                             alt="Photograph of Lea Merényi in the 1930s"/>
                        <p class="caption">
                            Photograph of Lea Merényi in the 1930s, Bergen-Belsen Memorial Archive, inventory number 1600-0226, 
                            rights: Katalin Lörinc-Walters.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-5">
                        <img class="img-fluid" src="{{ asset('images/biographies/Zsuzsa _Merenyi.jpg') }}"
                             alt="Photograph by Zsuzsa Merényi (detail from a group photograph)"/>
                        <p class="caption">
                            Photograph by Zsuzsa Merényi (detail from a group photograph), Bergen-Belsen Memorial Archive, 
                            inventory number 1600-0225, rights: Katalin Lörinc-Walters.
                        </p>
                    </div>
                </div>
                <p>
                    At the outbreak of the Second World War in 1939, there were about 500,000 Jews living in Hungary. The situation 
                    of the Jewish population had already worsened since 1938 as a result of the “Jewish Laws” and official 
                    antisemitism had increased due to discriminatory legislation. The situation came to a head in 1939 when 
                    several thousand Jewish men were drafted into forced labor.<sup><a href="#endnote2" id="footnote2">2</a></sup>
                    Lea Merényi’s dance group also experienced the growing antisemitism in Hungary. She recalled in the interview 
                    that the group was disbanded due to antisemitic laws and that many of her friends at the time emigrated 
                    to America. Concurrently the death of her father in 1939 was a heavy blow for the family. From then on, 
                    her mother had to support the family.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Jewish men and women</h4>
                    <p>
                        The Jewish men and women deported from Hungary belonged to various communities and religious movements 
                        within Judaism. Not all of them necessarily defined themselves as Jewish. Neither their religion nor 
                        their cultural affiliation to Judaism or self-identification was decisive for their persecution by 
                        the National Socialists. At the heart of the National Socialist worldview was a racist antisemitism 
                        that defined Jews according to their descent. Christians and atheists were also persecuted as Jews 
                        by the National Socialists, regardless of their self-definition or cultural affiliation, if they 
                        met their criteria of descent. Not all of the persons referred to here as Jews identified themselves 
                        as Jewish, but they were all persecuted as Jewish.
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Start of the deportations</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    In 1944, the family had to move out of their home. This probably also happened as a result of the “Jewish Laws” 
                    enacted by the Hungarian government. The “Fourth Jewish Law” of 1942 resulted in the complete disenfranchisement 
                    of the Jewish population, whereby the right to own property and the acquisition of land and forestry goods such 
                    as wood was severely restricted.<sup><a href="#endnote3" id="footnote3">3</a></sup> 
                    As a result, from then on the family, along with several other families, lived at a friend’s home in Arena Utca.
                </p>
                <p>
                    Shortly after the occupation of Hungary by German troops in March 1944, the systematic deportation of the 
                    Hungarian Jewish population began. On December 4, 1944, Lea and Zsuzsa Merényi’s family were attacked by 
                    Arrow Cross Party members at their home in Arena Utca. Lea Merényi later recalled that she and her sister 
                    had their linens, New Testament, and toothbrushes taken away by the Arrow Cross Party members. The arbitrariness 
                    and unpredictability of these thefts left the sisters helpless and angry.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; More about Hungary in the Second World War</h4>
                    <p>
                        <a href="{{ path('app_context') }}" title="Text on historical context">
                            &#10149; Historical context
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Deportation to the Bergen-Belsen concentration camp</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Lea Merényi and her sister Zsuzsa were deported from an assembly point in the sixth district of Budapest to 
                    the Bergen-Belsen concentration camp, where they both arrived on December 14, 1944. They were separated from 
                    their brother and mother that day. It was not until many years later that they learned that the older women, 
                    including their mother, had been deported to the Budapest ghetto. The German occupiers rounded up the Jewish 
                    population in collaboration with the Hungarian Ministry of the Interior and the police.
                </p>
                <p>
                    Ghettos were set up for various purposes, but above all they served the National Socialists to concentrate, 
                    marginalize, and exploit Jews. In the ghettos, the occupying forces appointed Jewish councils that had to 
                    implement German orders together with the Jewish ghetto police and were responsible for the administration 
                    of the forced quartering. Ghettoization in Hungary initially began in the former Slovakian town of Kassa (Košice), 
                    where some 15,000 people were detained on the site of two brick factories. Subsequently, two ghettos were also 
                    established in Munkács in former brickworks, where a further 26,000 Jews were crammed together. Due to the lack 
                    of space and insufficient food supplies, epidemic typhus as well as other diseases quickly spread in the ghettos 
                    and many people succumbed to them. About 440,000 Jews were ghettoized by the end of June 1944 and then deported 
                    to Auschwitz.
                </p>
                <p>
                    Like everyone who had received a deportation order, Lea and Zsuzsa Merényi were forced to gather at an assembly 
                    point with only a few personal belongings. Such points were often located near train stations. At the station, 
                    the deportees were crammed into sealed and completely overcrowded freight cars, often without ventilation 
                    openings or a roof. The journeys often lasted several days, during which the persons crowded in the cars received 
                    neither food nor water. As a result, the deportations in inhumane conditions claimed many victims.<sup><a href="#endnote4" id="footnote4">4</a></sup>
                    In the interview, Lea Merényi did not remember who guarded her transport, but she reported that the train was 
                    waiting at Jozsefvárosi station and that one of her fellow prisoners took care of the water supply with the 
                    help of a bucket when the train stopped. The train journey to the Bergen-Belsen concentration camp took 
                    about ten days.
                </p>
            </div>
        </div>

        <h3 class="mt-4">The so-called “Hungarian camp” in Bergen-Belsen</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    In retrospect, Lea Merényi spoke of her time in the so-called “Hungarian camp” of the Bergen-Belsen concentration 
                    camp as being very lucky, as the sisters were not separated. The sisters were housed in Barrack 10 of the 
                    “Hungarian camp.” In the interview, Lea Merényi could not remember being beaten or deprived of food by the 
                    SS guards in charge. However, her recollections do not reflect the everyday life of the majority of prisoners 
                    in Bergen-Belsen. A total of 52,000 concentration camp prisoners from many European countries were murdered 
                    in the camp or died immediately after liberation as a result of their imprisonment.<sup><a href="#endnote5" id="footnote5">5</a></sup>
                    Zsuzsa Merényi kept a diary in the camp and also recorded her memories in the form of drawings. In the interview, 
                    Lea Merényi said that the sisters found courage in each other and drew strength from each other’s presence 
                    in the camp.
                </p>
                <img class="img-fluid" style="width: 640px;" src="{{ asset('images/biographies/Merenyi_08.jpg') }}"
                     alt="Drawing from Zsuzsa Merényi’s picture diary kept in Bergen-Belsen"/>
                <img class="img-fluid" style="width: 640px;" src="{{ asset('images/biographies/Merenyi_11.jpg') }}"
                     alt="Drawing from Zsuzsa Merényi’s picture diary kept in Bergen-Belsen"/>
                <p class="caption">
                    Drawings from Zsuzsa Merényi’s picture diary kept in Bergen-Belsen. Bergen-Belsen Memorial Archive, 
                    donated by Katalin Lörinc.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; The Bergen-Belsen concentration camp</h4>
                    <p style="font-size: 0.9rem;">
                        The Bergen-Belsen concentration camp was initially founded in 1943 as an “exchange camp” to 
                        quarter Jewish hostages. However, it was quickly assigned other functions and a men’s and women’s 
                        camp was set up. From the end of 1944 onward, Bergen-Belsen became the destination of many death 
                        marches and evacuation transports, developing into a death camp due to the appalling conditions. 
                        After liberation, a Polish and a Jewish displaced persons camp were set up in Bergen-Belsen.<sup><a href="#endnote6" id="footnote6">6</a></sup>
                    </p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Map overview">
                            &#10149; To the map of the camps
                        </a>
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <p>
                    The sisters shared a fate similar to that of many other Jews who were deported from Hungary to Bergen-Belsen. 
                    The so-called “Hungarian camp” was set up by the SS in July 1944 for approximately 1,700 Jews from the 
                    so-called Kasztner group. In December 1944, two further transports comprising about 4,200 prisoners from 
                    Pressburg (today Bratislava in Slovakia) and Budapest were quartered in this part of the camp. In the summer 
                    of the same year, thousands of women and girls were deported from Auschwitz to Bergen-Belsen. They made up 
                    the largest group of Hungarian prisoners in the so-called “Hungarian camp.” In the men’s camp, too, Hungarian 
                    Jews were held who had been taken to Bergen-Belsen via other concentration camps as well. In addition, numerous 
                    Hungarian Romani women and men arrived at the women’s and men’s camp in the fall of 1944.<sup><a href="#endnote7" id="footnote7">7</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox mt-2">
                    <h4>&#9432; The Kasztner Group</h4>
                    <p style="font-size: 0.9rem;">
                        More about the Kasztner Group and the story of Yehuda Blum.
                    </p>
                    <p>
                        <a href="{{ path('app_bio_blum') }}" title="To the case study of Yehuda Blum and the Kasztner-Gruppe">
                            &#10149; To the biographical case study
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Evacuation transports to Theresienstadt</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    At the beginning of April 1945, the Bergen-Belsen concentration camp was largely evacuated by the SS due 
                    to the approaching front. Three transports by train were organized, which were supposed to take approximately 
                    6,700 prisoners to the Theresienstadt ghetto north of Prague. Lea and Zsuzsa Merényi were put on a train 
                    together with about 2,500 other prisoners on April 10, 1945. Some 14 days later, the train was liberated by 
                    Soviet soldiers near Tröbitz. During this transport alone, at least 133 prisoners perished due to inadequate 
                    care, weakness, and illness.<sup><a href="#endnote8" id="footnote8">8</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#128279; More on this topic</h4>
                    <p>
                        The evacuation of the Lübberstedt satellite camp. In freight cars through northern Germany
                    </p>
                    <p>
                        <a href="{{ path('app_deportation_luebberstedt') }}"
                           title="More information on the evacuation of concentration camps based on the case study on Lübberstedt">
                            &#10149; Read on
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">After liberation: the sisters return to Hungary</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    After the liberation near Tröbitz, the sisters stayed in the village for a while. Zsuzsa Merényi fell ill 
                    with typhoid fever there and was cared for by Lea Merényi until she recovered. Unlike many other Hungarians, 
                    the sisters returned to their home country after the liberation. However, the family’s home in Budapest was 
                    already occupied by other people, so within Hungary Lea Merényi initially moved in with her aunt Delora. 
                    After her return, Lea Merényi worked for the Hungarian Railway Company (MAV) for about a year, later as a 
                    German teacher, retiring in the 1970s.
                </p>
                <p>
                    Following her return, Zsuzsa Merényi married and together with her husband, founded the Budapest Ballet Academy, 
                    where she also gave lessons.
                </p>
                <p>
                    Only upon their return did the sisters learn that their mother had perished in the ghetto in Budapest. 
                    The search for their brother, their grandparents from Wuppertal-Barmen, and other relatives was unsuccessful. 
                    Their brother Istvan (Stefan) had died in Bergen-Belsen at the beginning of 1945, just a few yards away from 
                    the sisters – information that never reached them during their lifetime.
                </p>
                <p>
                    Zsuzsa Merényi passed away on August 15, 1990, Lea 17 years later, on December 31, 2007 in Hungary.
                </p>
            </div>
        </div>

        <h3 class="mt-4">Source situation</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    These biographies are primarily based on the stories and recollections of Lea Merényi, which she processed 
                    in two interviews and eyewitness accounts with the Bergen-Belsen Memorial. Since 1999, video interviews 
                    have been conducted with the survivors of the concentration and prisoner-of-war camp, as well as other 
                    contemporary witnesses, toward the scholarly, educational, and museum work of the memorial on site. These 
                    memoirs enable the survivors to put their own narrative about the Shoah in a historical context and actively 
                    shape the work of the Memorial. In Lea Merényi’s case, the interview also enabled her to talk about her 
                    experiences, as she had made an agreement with her sister not to speak about the past. Her subjective 
                    descriptions of her experiences were supplemented by information from an interview with Zsuzsa Merényi on 
                    April 20, 1990<sup><a href="#endnote9" id="footnote9">9</a></sup> as well as key historical data, primarily 
                    based on the catalog of the exhibition at the Bergen-Belsen Memorial. In addition, diary entries and drawings 
                    by Zsuzsa Merényi exist. 
                </p>
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Helen Abram / Veronika Lehotay, Deutsch-ungarischer Rechtstransfer im NS. online at:
                    <a href="https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden"
                       title="To the website of the University of Göttingen">
                        https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden
                    </a>
                    (last accessed: Juny 29, 2024).
                </p>
                <p>
                    Regina Fritz, “Eine frühe Dokumentation des Holocaust in Ungarn. Die »Untersuchungskommission zur
                    Erforschung und Bekanntmachung der von den Nationalsozialisten und Pfeilkreuzlern verübten
                    Verbrechen« (1945),” in: Zeithistorische Forschungen / Studies in Contemporary History,
                    online-edition, 14 (2017) 2, online at:
                    <a href="https://zeithistorische-forschungen.de/2-2017/5496"
                       title="To the website of Zeithistorische Forschungen (Studies in Contemporary History)">
                        https://zeithistorische-forschungen.de/2-2017/5496
                    </a>
                    (last accessed: July 3, 2024).
                </p>
                <p>
                    Bergen-Belsen Memorial. Lower Saxony Memorials Foundation, History
                    Bergen Belsen, online at:
                    <a href="https://bergen-belsen.stiftung-ng.de/en/history"
                       title="To the website of the Bergen-Belsen Memorial">
                        https://bergen-belsen.stiftung-ng.de/en/history
                    </a>
                    (last accessed: July 6, 2024).
                </p>
                <p>
                    Kornelia Papp, Die Deportation der Juden aus Ungarn. Deutsches Historisches Museum, Berlin.
                    15.05.2015, online at:
                    <a href=" https://www.dhm.de/lemo/kapitel/der-zweite-weltkrieg/voelkermord/deportation-ungarischer-juden.html"
                       title="To the website of the Deutsches Historisches Museum (German Historical Museum)">
                        https://www.dhm.de/lemo/kapitel/der-zweite-weltkrieg/voelkermord/deportation-ungarischer-juden.html
                    </a>
                    (last accessed: July 5, 2024).
                </p>
                <p>
                    Lower Saxony Memorials Foundation, Bergen-Belsen. Kriegsgefangenenlager 1940-1945,
                    Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der Dauerausstellung, Celle
                    2019.
                </p>
                <p>
                    Yad Vashem. The World Holocaust Remembrance Center, Deportation to the Death Camps, online at:
                        <a href="https://www.yadvashem.org/holocaust/about/final-solution/deportation.html#narrative_info"
                           title="Website Yad Vashem">
                        https://www.yadvashem.org/holocaust/about/final-solution/deportation.html#narrative_info
                        </a>
                    (last accessed: July 3, 2024).
                </p>
                <p>
                    Yad Vashem. The World Holocaust Remembrance Center, The Fate of the Jews in South-Eastern Europe During the 
                    First Years of the War, online at:
                    <a href="https://www.yadvashem.org/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info"
                        title="Website Yad Vashem">
                        https://www.yadvashem.org/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info</a>
                    (last accessed: July 3, 2024).
                </p>
                <p>
                    Yad Vashem. The World Holocaust Remembrance Center, The Munkács Ghetto, online at:
                    <a href=" https://www.yadvashem.org/yv/en/exhibitions/communities/munkacs/ghetto.asp"
                       title="To the website of Yad Vashem">
                        https://www.yadvashem.org/yv/en/exhibitions/communities/munkacs/ghetto.asp
                    </a>
                    (last accessed: July 25, 2024).
                </p>
            </div>
        </div>

        <h3 class="mt-4">Footnotes</h3>
        <div class="row">
            <div class="col-lg-8 caption">
                <ol>
                    <li id="endnote1">
                        Lower Saxony Memorials Foundation / Bergen-Belsen Memorial, interview with Lea Merényi on November 29, 2005, 
                        BV 359.
                        <a href="#footnote1">&uarr;</a>
                    </li>
                    <li id="endnote2">
                        Cf. Yad Vashem. The World Holocaust Remembrance Center, The Fate of the Jews in South-Eastern Europe During the 
                        First Years of the War, online at:
                        <a href="https://www.yadvashem.org/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info"
                           title="Website Yad Vashem">
                            https://www.yadvashem.org/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info</a>
                        (last accessed: July 3, 2024).
                        <a href="#footnote2">&uarr;</a>
                    </li>
                    <li id="endnote3">
                        Cf. Helen Abram / Veronika Lehota, Deutsch-ungarischer Rechtstransfer im NS, online at:
                        <a href="https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden/"
                           title="Website University of Göttingen">
                        https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden
                        </a>
                        (last accessed: June 29, 2024).
                        <a href="#footnote3">&uarr;</a>
                    </li>
                    <li id="endnote4">
                        Cf. Yad Vashem. The World Holocaust Remembrance Center, Deportation to the Death Camps, online at:
                        <a href="https://www.yadvashem.org/holocaust/about/final-solution/deportation.html#narrative_info"
                           title="Website Yad Vashem">
                        https://www.yadvashem.org/holocaust/about/final-solution/deportation.html#narrative_info
                        </a>
                        (last accessed: July 3, 2024).
                        <a href="#footnote4">&uarr;</a>
                    </li>
                    <li id="endnote5">
                        See Bergen-Belsen Memorial. Lower Saxony Memorials Foundation, History Bergen Belsen, online at:
                        <a href="https://bergen-belsen.stiftung-ng.de/en/history/"
                           title="Website Bergen-Belsen Memorial">
                        https://bergen-belsen.stiftung-ng.de/en/history/
                        </a>
                        (last accessed: July 6, 2024).
                        <a href="#footnote5">&uarr;</a>
                    </li>
                    <li id="endnote6">
                        See Lower Saxony Memorials Foundation, Bergen-Belsen. Kriegsgefangenenlager 1940-1945, 
                        Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der Dauerausstellung, Celle 2019, p. 200.
                        <a href="#footnote6">&uarr;</a>
                    </li>
                    <li id="endnote7">
                        Lower Saxony Memorials Foundation, Bergen-Belsen, p. 289.
                        <a href="#footnote7">&uarr;</a>
                    </li>
                    <li id="endnote8">
                        See Lower Saxony Memorials Foundation, Bergen-Belsen, p. 188. Lower Saxony Memorials Foundation / 
                        Bergen-Belsen Memorial, interview with Zsuzsa Merényi on April 20, 1990, BT 447.
                        <a href="#footnote8">&uarr;</a>
                    </li>
                </ol>
            </div>
        </div>

        <h3 class="mt-4">Citation reference</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Lara Meinert, “Die Schwestern Lea und Zsuzsa Merényi – Fokus ‘Rückkehr’,” 
                    in: Der Holocaust in Ungarn und die Deportationen nach Norddeutschland. Biographien, Lager und Zwangsarbeit,
                    edited by the Institute for the History of the German Jews,
                    URL: https://holocaust-ungarn-norddeutschland.de{{ path('app_bio_mereny') }}.
                    License: <a href="https://creativecommons.org/licenses/by/4.0/" 
                    title="License terms on the Creative Commons website">CC BY 4.0</a>.
                </p>
            </div>
        </div>

    </div>

    <script>

        const budapest = L.marker([47.5, 19.05]).bindPopup('<strong>Budapest </strong><br/>');
        const hannover = L.marker([52.374444, 9.738611]).bindPopup('<strong>Budapest </strong><br/>');

        const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
        const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

        const streets = L.tileLayer(mbUrl, {
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            attribution: mbAttr
        });

        const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 11,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        const map = L.map('map', {
            center: [50.764444, 15.046944],
            zoom: 4,
            layers: [osm,
                budapest,
                hannover,
            ]
        });

        const baseLayers = {
            'OpenStreetMap': osm,
        };

        const layerControl = L.control.layers(baseLayers, overlays).addTo(map);

    </script>

{% endblock %}