{% extends 'base-map.html.twig' %}

{% block title %} Einzelbiografie Merényi-Schwestern | {{ parent() }} {% endblock %}


{% block body %}
    {% include 'elements/navigation-biographies.html.twig' %}


    <div class="container g-4 py-5 study">
        <h2>Die Schwestern Lea und Zsuzsa Merényi – Fokus „Rückkehr“</h2>
        <div class="row">
            <h3>Zu den Personen</h3>
            <div class="col-lg-8 mb-2">
                <p class="abstract">
                    Lea Merényi wurde am 3. Dezember 1914 im ungarischen Budapest geboren, wuchs jedoch in Deutschland
                    auf. Als sie ungefähr drei Jahre alt war, zog ihre Familie nach Hannover, da der Vater eine
                    Anstellung als Ingenieur bei der Firma Hanomag bekam. Lea Merényis jüngere Schwester Zsuzsa wurde
                    knapp elf Jahre später am 24. Juni 1925 in Deutschland geboren. Die Schwestern Merényi hatten laut
                    Lea bis zu dem Tod von Zsuzsa im Jahr 1990 ein sehr enges Verhältnis zueinander. Sie hatten noch
                    einen jüngeren Bruder, István (Stefan). Sie wurden christlich erzogen. Ihr Vater arbeitete als
                    Ingenieur in der Ganz-Fabrik in Budapest, doch Lea Merényi erinnerte sich in einem
                    Zeitzeuginnen-Interview, dass sie Mitarbeitenden der Gedenkstätte Bergen-Belsen am 29. November 2005
                    gab,
                    <sup><a href="#endnote1" id="footnote1">1</a></sup> dass sie die Ferien als Kind stets bei ihren
                    Großeltern in Wuppertal-Barmen in Deutschland verbrachte. Die nachfolgenden Informationen über
                    Zsuzsa Merényi basieren zum Teil auch auf den Erinnerungen ihrer Schwester.
                </p>
            </div>
            <div class="col-lg-4">
                <div id="map" style="height: 15rem;">
                </div>
            </div>
        </div>

        <h3 class="mt-4">Der Faschismus in Ungarn</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    1933 zog die Familie aus Lea Merényi unbekannten Gründen von Hannover zurück nach Budapest, wo ein
                    Großteil der Verwandtschaft lebte. Im Interview erzählte sie, dass alle drei Geschwister in Ungarn
                    die ungarische Sprache erst lernen mussten. Allerdings sei es ihnen leichtgefallen, da auch ihre
                    Eltern untereinander immer Ungarisch miteinander gesprochen hätten. Lea Merényi begann in ihren
                    Zwanzigern eine Tanzkarriere.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-sm-5">
                        <img class="img-fluid"  src="{{ asset('images/biographies/Lea-Merenyi.jpg') }}"
                             alt="Aufnahme der drei Geschwister Lea (links), Zsuzsa und István Merényi"/>
                        <p class="caption">
                            Aufnahme von Lea Merényi in den 1930er-Jahren, Archiv Gedenkstätte Bergen-Belsen, Inventarnummer 1600-0226, Rechte: Katalin Lörinc-Walters.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-5">
                        <img class="img-fluid" src="{{ asset('images/biographies/Zsuzsa _Merenyi.jpg') }}"
                             alt="Aufnahme der drei Geschwister Lea (links), Zsuzsa und István Merényi"/>
                        <p class="caption">
                            Aufnahme von Zsuzsa Merényi (Ausschnitt aus einer Gruppenaufnahme). Archiv Gedenkstätte Bergen-Belsen, Inventarnummer 1600-0225, Rechte: Katalin Lörinc-Walters.
                        </p>
                    </div>
                </div>
                <p>
                    Bei Ausbruch des Zweiten Weltkrieges 1939 lebten in Ungarn etwa 500.000 Jüdinnen und Juden. Bereits
                    seit 1928 hatte sich durch die „Judengesetze“ die Situation der jüdischen Bevölkerung
                    verschärft und der offizielle Antisemitismus durch diskriminierende Gesetze zugenommen. 1939 spitzte
                    sich die Situation weiter zu, als mehrere tausend jüdische Männer zur Zwangsarbeit eingezogen
                    wurden.<sup><a href="#endnote2" id="footnote2">2</a></sup>
                    Auch die Tanzgruppe von Lea Merényi erlebte den wachsenden Antisemitismus in Ungarn. Sie
                    erinnerte sich im Interview, dass die Gruppe aufgrund antisemitischer Gesetze aufgelöst worden sei
                    und viele ihrer damaligen Freundinnen nach Amerika ausgewandert wären. Zugleich bedeutete der Tod
                    des Vaters im Jahr 1939 einen schweren Schlag für die Familie. Die Mutter musste fortan für den
                    Unterhalt der Familie aufkommen.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Jüdinnen und Juden</h4>
                    <p>
                        Die aus Ungarn deportierten Juden und Jüdinnen gehörten verschiedenen Gemeinden und
                        religiösen Strömungen im Judentum an. Nicht alle definierten sich zwangsläufig selbst als jüdisch. Für
                        ihre Verfolgung durch die Nationalsozialisten war weder ihre Religion noch eine
                        kulturelle Zugehörigkeit zum Judentum oder die Selbstzuschreibung
                        entscheidend. Das Zentrum der nationalsozialistischen Weltanschauung bildete
                        ein rassistischer Antisemitismus, der Jüdinnen und Juden nach ihrer Abstammung
                        definierte. Auch Christen und Christinnen sowie Atheisten und Atheistinnen
                        wurden unabhängig von ihrer Selbstdefinition oder kulturellen Zugehörigkeit
                        durch die Nationalsozialisten als Juden verfolgt, wenn sie deren
                        Abstammungskriterien entsprachen. Nicht alle hier als Jüdinnen und Juden
                        bezeichneten Personen identifizierten sich selbst als jüdisch, sie alle wurden
                        jedoch als jüdisch verfolgt. </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Beginn der Deportationen</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Im Jahr 1944 musste die Familie aus ihrer Wohnung ausziehen. Dies geschah vermutlich ebenfalls in
                    Folge der von Ungarns Regierung erlassenen „Judengesetze“. Das „Vierte Judengesetz“ von 1942
                    veranlasste die völlige Entrechtung der jüdischen Bevölkerung, wobei das Recht auf Eigentum und der
                    Erwerb von Land und forstwirtschaftlichen Gütern wie Holz massiv eingeschränkt
                    wurde.<sup><a href="#endnote3" id="footnote3">3</a></sup> Daher lebte
                    die Familie fortan gemeinsam mit einigen anderen Familien bei einer Freundin in Arena Utca.
                </p>
                <p>
                    Bereits kurz nach der Besetzung Ungarns durch deutsche Truppen im März 1944, begann die
                    systematische Deportation der ungarischen jüdischen Bevölkerung.
                    Am 4. Dezember 1944 wurde die Familie von Lea und Zsuzsa Merényi an ihrem Wohnort in Arena Utca von
                    Pfeilkreuzlern überfallen. Lea Merényi erinnerte sich später, dass ihrer Schwester und ihr dabei von
                    den Mitgliedern der Pfeilkreuzler ihre Wäsche, das Neue Testament und ihre Zahnbürste weggenommen
                    worden seien. Die Willkür und die Unberechenbarkeit dieser Diebstähle hätten die Schwestern hilflos
                    und wütend gemacht.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Mehr zu Ungarn im Zweiten Weltkrieg</h4>
                    <p>
                        <a href="{{ path('app_context') }}" title="Text zum historischen Kontext">
                            &#10149; Historischer Kontext
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Deportation in das Konzentrationslager Bergen-Belsen</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Lea Merényi wurde zusammen mit ihrer Schwester Zsuzsa von einem Sammelplatz im sechsten Bezirk in
                    Budapest in das Konzentrationslager Bergen-Belsen deportiert, wo beide am 14. Dezember 1944 ankamen.
                    Von ihrem Bruder und ihrer Mutter wurden sie an diesem Tag getrennt.
                    Erst viele Jahre später erfuhren sie, dass die älteren Frauen, darunter auch ihre Mutter, in das
                    Budapester Ghetto deportiert worden waren. Die deutschen Besatzer pferchten die jüdische Bevölkerung
                    in Zusammenarbeit mit dem ungarischen Innenministerium und der Polizei zusammen.</p>
                <p>
                    Ghettos wurden zu
                    unterschiedlichen Zwecken errichtet, vor allem aber dienten sie den Nationalsozialisten zur
                    Konzentrierung, Ausgrenzung und Ausbeutung von Jüdinnen und Juden. In den Ghettos ernannten die
                    Besatzer Judenräte, welche die deutschen Befehle zusammen mit der jüdischen Ghettopolizei umzusetzen
                    hatten und die für die Verwaltung der Zwangsquartiere zuständig waren. Die Ghettoisierung begann in
                    Ungarn zunächst in der ehemals slowakischen Kassa (Košice), wo etwa 15.000 Menschen auf dem Gelände
                    von zwei Ziegelfabriken festgehalten wurden. Daraufhin wurden auch in Munkács zwei Ghettos in
                    ehemaligen Ziegeleien errichtet, wo weitere 26.000 Jüdinnen und Juden zusammengepfercht wurden.
                    Aufgrund des Platzmangels und unzureichender Lebensmittelversorgung breiteten sich schnell
                    Flecktyphus und andere Krankheiten in den Ghettos aus, denen viele Menschen zum Opfer fielen. Rund
                    440.000 Jüdinnen und Juden wurden bis Ende Juni 1944 ghettoisiert und anschließend nach Auschwitz
                    deportiert.
                </p>
                <p>
                    Lea und Zsuzsa Merényi mussten sich wie alle, die einen Deportationsbefehl erhalten hatten, mit nur
                    wenigen persönlichen Gegenständen an einem Sammelpunkt einfinden. Dieser lag häufig in Bahnhofsnähe.
                    Am Bahnhof wurden die Deportierten in versiegelte und völlig überfüllte Güterwaggons oft ohne
                    Lüftungsöffnungen oder Dach gepfercht. Die Fahrten dauerten oft mehrere Tage, in denen die Menschen
                    weder Wasser noch Nahrung erhielten. Daher forderten die Deportationen unter unmenschlichen
                    Bedingungen zahlreiche Opfer.<sup><a href="#endnote4" id="footnote4">4</a></sup>
                    Lea Merényi erinnerte sich im Interview nicht, von wem ihr Transport
                    bewacht wurde, sie berichtete aber, dass der Zug am Bahnhof Jozsefvárosi bereitgestanden habe, und
                    dass sich einer ihrer Mitgefangenen bei einem Halt des Zuges um die Wasserversorgung mit Hilfe eines
                    Eimers gekümmert habe. Die Zugfahrt in das Konzentrationslager Bergen-Belsen dauerte ungefähr zehn
                    Tage.
                </p>
            </div>
        </div>

        <h3 class="mt-4">Das sogenannte „Ungarnlager“ in Bergen-Belsen</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Über ihre Zeit im sogenannten „Ungarnlager“ des Konzentrationslagers Bergen-Belsen berichtete Lea
                    Merényi im Nachhinein von viel Glück, da die Schwestern nicht getrennt worden seien. Die Schwestern
                    waren in Baracke 10 des „Ungarnlagers“ untergebracht. Lea Merényi konnte sich im Interview weder an
                    Schläge noch an Essensentzug durch die zuständigen SS-Wachen erinnern. Ihre Erinnerungen spiegeln
                    allerdings nicht den Alltag des Großteils der Häftlinge in Bergen-Belsen wider. Insgesamt wurden
                    52.000 KZ-Häftlinge aus vielen Ländern Europas im Lager ermordet oder starben unmittelbar nach der
                    Befreiung an den Folgen ihrer Haft.<sup><a href="#endnote5" id="footnote5">5</a></sup>
                    Zsuzsa Merényi führte Tagebuch im Lager und hielt ihre
                    Erinnerungen auch in Form von Zeichnungen fest. Im Interview erzählte Lea Merényi, dass die
                    Schwestern Mut ineinander gefunden und Kraft aus der gegenseitigen Präsenz im Lager geschöpft
                    hätten.
                </p>
                <img class="img-fluid" style="width: 640px;" src="{{ asset('images/biographies/Merenyi_08.jpg') }}"
                     alt="Zeichnung aus dem in Bergen-Belsen geführten Bildertagebuch von Zsuzsa Merényi"/>
                <img class="img-fluid" style="width: 640px;" src="{{ asset('images/biographies/Merenyi_11.jpg') }}"
                     alt="Zeichnung aus dem in Bergen-Belsen geführten Bildertagebuch von Zsuzsa Merényi"/>
                <p class="caption">
                    Zeichnungen aus dem in Bergen-Belsen geführten Bildertagebuch von Zsuzsa Merényi. Archiv Gedenkstätte Bergen-Belsen, Schenkung Katalin Lörinc.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Das KZ Bergen-Belsen</h4>
                    <p style="font-size: 0.9rem;">
                        Das KZ Bergen-Belsen war 1943 zunächst als „Austauschlager“ für die Unterbringung jüdischer
                        Geiseln gegründet worden. Schnell wurden ihm aber weitere Funktionen zugewiesen und ein Männer-
                        sowie ein Frauenlager eingerichtet. Ab Ende 1944 wurde Bergen-Belsen Ziel vieler Todesmärsche
                        und Räumungstransporte und entwickelte sich aufgrund der katastrophalen Bedingungen zu einem
                        Sterbelager. Nach der Befreiung wurde in Bergen-Belsen ein polnisches und ein jüdisches
                        Displaced Persons-Camp eingerichtet.<sup><a href="#endnote6" id="footnote6">6</a></sup>
                    </p>
                    <p>
                        <a href="{{ path('app_map') }}" title="Kartenübersicht">
                            &#10149; Zur Karte der Lager
                        </a>
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die Schwestern teilten ein ähnliches Schicksal wie viele andere Jüdinnen und Juden, die aus Ungarn
                    nach Bergen-Belsen deportiert wurden. Das sogenannte „Ungarnlager“ war von der SS im Juli 1944 für
                    die etwa 1.700 Jüdinnen und Juden der sogenannten Kasztner-Gruppe, eingerichtet worden. Im Dezember
                    1944 wurden zwei weitere Transporte mit etwa 4.200 Häftlingen aus Pressburg (heute Bratislava in der
                    Slowakei) und Budapest in diesem Lagerteil untergebracht. Bereits im Sommer desselben Jahres wurden
                    tausende Frauen und Mädchen von Auschwitz nach Bergen-Belsen deportiert. Sie machten die größte
                    Gruppe der ungarischen Häftlinge im sogenannten „Ungarnlager“ aus. Auch im Männerlager wurden
                    ungarische Juden festgehalten, die ebenfalls über andere Konzentrationslager nach Bergen-Belsen
                    gebracht worden waren. Außerdem kamen im Herbst 1944 zahlreiche ungarische Romnja und Roma im
                    Frauen- und Männerlager an.<sup><a href="#endnote7" id="footnote7">7</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox mt-2">
                    <h4>&#9432; Die Kasztner-Gruppe</h4>
                    <p style="font-size: 0.9rem;">
                        Mehr zur Kasztner-Gruppe und der Geschichte von Yehuda Blum.
                    </p>
                    <p>
                        <a href="{{ path('app_bio_blum') }}" title="Zur Fallstudie Yehuda Blum und Kasztner-Gruppe">
                            &#10149; Zur Biografischen Fallstudie
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Räumungstransporte nach Theresienstadt</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Anfang April 1945 wurde das Konzentrationslager Bergen-Belsen aufgrund der sich nähernden Front
                    größtenteils von der SS geräumt. Es wurden drei Transporte mit Zügen organisiert, welche etwa 6.700
                    Häftlinge vermutlich in das Ghetto Theresienstadt nördlich von Prag bringen sollten. Lea und Zsuzsa
                    Merényi wurden am 10. April 1945 zusammen mit etwa 2.500 weiteren Gefangenen in einen Zug gebracht.
                    Etwa 14 Tage später wurde der Zug bei Tröbitz von sowjetischen Soldaten befreit. Allein während
                    dieses Transports starben mindestens 133 Häftlinge aufgrund unzureichender Versorgung, Schwäche und
                    Krankheit.<sup><a href="#endnote8" id="footnote8">8</a></sup>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#128279; Mehr zu diesem Thema</h4>
                    <p>
                        Die Räumung des KZ-Außenlagers Lübberstedt. In
                        Güterwaggons durch Norddeutschland
                    </p>
                    <p>
                        <a href="{{ path('app_deportation_luebberstedt') }}"
                           title="Mehr Informationen zur Räumung von Konzentrationslagern anhand der Fallstudie zu Lübberstedt">
                            &#10149; Hier weiterlesen
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Nach der Befreiung: Rückkehr der Schwestern nach Ungarn</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Nach der Befreiung bei Tröbitz blieben die Schwestern eine Zeit lang im Ort. Dort erkrankte Zsuzsa
                    Merényi an Typhus und wurde von Lea Merényi bis zu ihrer Genesung gepflegt. Die Schwestern kehrten
                    anders als viele andere Ungarinnen und Ungarn nach der Befreiung in ihr Heimatland zurück. Die
                    Wohnung der Familie in Budapest war jedoch bereits von anderen Menschen besetzt, daher zog Lea
                    Merényi in Ungarn zunächst zu ihrer Tante Delora. Nach ihrer Rückkehr arbeitete Lea Merényi für etwa
                    ein Jahr bei der ungarischen Eisenbahngesellschaft (MAV), später dann als Deutschlehrerin, in den
                    1970er-Jahren ging sie in Rente.
                </p>
                <p>
                    Zsuzsa Merényi heiratete nach ihrer Rückkehr und gründete gemeinsam mit ihrem Mann die Budapester
                    Balletthochschule, wo sie auch unterrichtete.
                </p>
                <p>
                    Erst nach ihrer Rückkehr erfuhren die Schwestern, dass ihre Mutter im Ghetto in Budapest umgekommen
                    war. Die Suche nach dem Bruder, den Großeltern aus Wuppertal-Barmen sowie weiteren Verwandten blieb
                    erfolglos. Ihr Bruder István war Anfang 1945, nur wenige Meter von den Schwestern entfernt,
                    in Bergen-Belsen umgekommen – eine Information, welche sie zu Lebzeiten nicht mehr erreichte.
                </p>
                <p>
                    Zsuzsa Merényi verstarb am 15. August 1990, Lea 17 Jahre später, am 31. Dezember 2007 in Ungarn.
                </p>
            </div>
        </div>

        <h3 class="mt-4">Quellenlage</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die vorliegenden Biografien basieren vor allem auf den Erzählungen und Erinnerungen von Lea Merényi,
                    welche sie in zwei Interviews bzw. Zeitzeuginnenberichten mit der Gedenkstätte Bergen-Belsen
                    aufarbeitete. Seit 1999 werden Videointerviews mit den Überlebenden des Konzentrations- und
                    Kriegsgefangenenlagers, sowie weiteren Zeitzeugen und Zeitzeuginnen für die wissenschaftliche,
                    pädagogische und museale Arbeit der Gedenkstätte vor Ort geführt. Diese Erinnerungsberichte
                    ermöglichen den Überlebenden ihr eigenes Narrativ über die Shoah in einen historischen Zusammenhang
                    zu bringen und die Arbeit der Gedenkstätte aktiv mitzugestalten. In Lea Merényis Fall ermöglichte
                    ihr das Interview auch das Sprechen über ihre Erlebnisse, denn mit ihrer Schwester hatte sie die
                    Vereinbarung getroffen, nicht über die Vergangenheit zu reden. Ergänzt wurden ihre subjektiven
                    Schilderungen des Erlebten durch Informationen aus einem Interview mit Zsuzsa Merényi vom 20. April
                    1990<sup><a href="#endnote9" id="footnote9">9</a></sup>, sowie historische Eckdaten, wobei sich vor
                    allem am Katalog der Ausstellung der Gedenkstätte
                    Bergen-Belsen orientiert wurde. Darüber hinaus liegen Tagebucheinträge und Zeichnungen von Zsuzsa
                    Merényi vor.
                </p>
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Helen Abram / Veronika Lehotay, Deutsch-ungarischer Rechtstransfer im NS. online unter:
                    <a href="https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden"
                       title="Zur Seite der Universität Göttingen">
                        https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden
                    </a>
                    (letzter Zugriff: 29.06.2024).
                </p>
                <p>
                    Regina Fritz, Eine frühe Dokumentation des Holocaust in Ungarn. Die »Untersuchungskommission zur
                    Erforschung und Bekanntmachung der von den Nationalsozialisten und Pfeilkreuzlern verübten
                    Verbrechen« (1945), in: Zeithistorische Forschungen / Studies in Contemporary History.
                    Online-Ausgabe, 14 (2017), H. 2, online unter:
                    <a href="https://zeithistorische-forschungen.de/2-2017/5496"
                       title="Zur Seite der Zeithistorische Forschungen">
                        https://zeithistorische-forschungen.de/2-2017/5496
                    </a>
                    (letzter Zugriff: 03.07.24).
                </p>
                <p>
                    Gedenkstätte Bergen-Belsen. Stiftung Niedersächsische Gedenkstätten, Geschichte der Gedenkstätte
                    Bergen-Belsen, online unter:
                    <a href="https://bergen-belsen.stiftung-ng.de/de/geschichte"
                       title="Zur Seite der Gedenkstätte Bergen-Belsen">
                        https://bergen-belsen.stiftung-ng.de/de/geschichte
                    </a>
                    (letzter Zugriff: 06.07.2024).
                </p>
                <p>
                    Kornelia Papp, Die Deportation der Juden aus Ungarn. Deutsches Historisches Museum, Berlin.
                    15.05.2015, online unter:
                    <a href=" https://www.dhm.de/lemo/kapitel/der-zweite-weltkrieg/voelkermord/deportation-ungarischer-juden.html"
                       title="Zur Seite des DHM">
                        https://www.dhm.de/lemo/kapitel/der-zweite-weltkrieg/voelkermord/deportation-ungarischer-juden.html
                    </a>
                    (letzter Zugriff: 05.07.2024).
                </p>
                <p>
                    Stiftung niedersächsische Gedenkstätten, Bergen-Belsen. Kriegsgefangenenlager 1940-1945,
                    Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der Dauerausstellung, Celle
                    2019.
                </p>
                <p>
                    Yad Vashem. Internationale Holocaust Gedenkstätte, Die Deportation der europäischen Juden in die
                    Vernichtung, online unter:
                    <a href="https://www.yadvashem.org/de/holocaust/about/final-solution/deportation.html#narrative_info"
                       title="Zur Seite von Yad Vashem">
                        https://www.yadvashem.org/de/holocaust/about/final-solution/deportation.html#narrative_info
                    </a>
                    (letzter Zugriff: 03.07.2024).
                </p>
                <p>
                    Yad Vashem. Internationale Holocaust Gedenkstätte, Die Juden Südosteuropas, online unter:
                    <a href="https://www.yadvashem.org/de/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info"
                       title="Zur Seite von Yad Vashem">
                        https://www.yadvashem.org/de/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info
                    </a>
                    (letzter Zugriff: 03.07.2024).
                </p>
                <p>
                    Yad Vashem. Internationale Holocaust Gedenkstätte, The Munkács Ghetto, online unter:
                    <a href=" https://www.yadvashem.org/yv/en/exhibitions/communities/munkacs/ghetto.asp"
                       title="Zur Seite von Yad Vashem">
                        https://www.yadvashem.org/yv/en/exhibitions/communities/munkacs/ghetto.asp
                    </a>
                    (letzter Zugriff: 25.07.2024).
                </p>
            </div>
        </div>

        <h3 class="mt-4">Fußnoten</h3>
        <div class="row">
            <div class="col-lg-8 caption">
                <ol>
                    <li id="endnote1">
                        Stiftung niedersächsische Gedenkstätten / Gedenkstätte Bergen-Belsen, Interview mit Lea Merényi
                        am 29.11.2005, BV 359.
                        <a href="#footnote1">&uarr;</a>
                    </li>
                    <li id="endnote2">
                        Vgl. Yad Vashem. Internationale Holocaust Gedenkstätte, Die Juden Südosteuropas, online unter:
                        <a href="https://www.yadvashem.org/de/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info"
                           title="Website Yad Vashem">
                        https://www.yadvashem.org/de/holocaust/about/outbreak-of-ww2-anti-jewish-policy/south-eastern-europe.html#narrative_info
                        </a>
                        (letzter Zugriff: 03.07.2024).
                        <a href="#footnote2">&uarr;</a>
                    </li>
                    <li id="endnote3">
                        Vgl. Helen Abram / Veronika Lehota, Deutsch-ungarischer Rechtstransfer im NS, online unter:
                        <a href="https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden/"
                           title="Website Uni Göttingen">
                        https://rechtstransfer-im-ns.uni-goettingen.de/index.php/rechtstransfer/entrechtung-von-juden
                        </a>
                        (letzter Zugriff: 29.06.2024).
                        <a href="#footnote3">&uarr;</a>
                    </li>
                    <li id="endnote4">
                        Vgl. Yad Vashem. Internationale Holocaust Gedenkstätte, Die Deportation der europäischen Juden
                        in die Vernichtung, online unter:
                        <a href="https://www.yadvashem.org/de/holocaust/about/final-solution/deportation.html#narrative_info"
                           title="Website Yad Vashem">
                        https://www.yadvashem.org/de/holocaust/about/final-solution/deportation.html#narrative_info
                        </a>
                        (letzter Zugriff: 03.07.2024).
                        <a href="#footnote4">&uarr;</a>
                    </li>
                    <li id="endnote5">
                        Vgl. Gedenkstätte Bergen-Belsen. Stiftung Niedersächsische Gedenkstätten, Geschichte der
                        Gedenkstätte Bergen-Belsen, online unter:
                        <a href="https://bergen-belsen.stiftung-ng.de/de/geschichte"
                           title="Website Gedenkstätte Bergen-Belsen">
                        https://bergen-belsen.stiftung-ng.de/de/geschichte
                        </a>
                        (letzter Zugriff: 06.07.2024).
                        <a href="#footnote5">&uarr;</a>
                    </li>
                    <li id="endnote6">
                        Vgl. Stiftung niedersächsische Gedenkstätten, Bergen-Belsen. Kriegsgefangenenlager
                        1940-1945, Konzentrationslager 1943-1945, Displaced Persons Camp 1945-1950. Katalog der
                        Dauerausstellung, Celle 2009, S. 200.
                        <a href="#footnote6">&uarr;</a>
                    </li>
                    <li id="endnote7">
                        Stiftung niedersächsische Gedenkstätten, Bergen-Belsen, S. 289.
                        <a href="#footnote7">&uarr;</a>
                    </li>
                    <li id="endnote8">
                        Vgl. Stiftung niedersächsische Gedenkstätten, Bergen-Belsen, S. 188.
                        Stiftung niedersächsische Gedenkstätten / Gedenkstätte Bergen-Belsen, Interview mit Zsuzsa
                        Merényi am 20.04.1990, BT 447.
                        <a href="#footnote8">&uarr;</a>
                    </li>
                </ol>
            </div>
        </div>

        <h3 class="mt-4">Zitierhinweis</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Lara Meinert, Die Schwestern Lea und Zsuzsa Merényi – Fokus „Rückkehr“, in:
                    Der Holocaust in Ungarn und die Deportationen nach Norddeutschland. Biographien, Lager und
                    Zwangsarbeit,
                    hrsg. vom Institut für die Geschichte der deutschen Juden,
                    URL: https://holocaust-ungarn-norddeutschland.de{{ path('app_bio_mereny') }}.
                    Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/"
                               title="Lizenzbestimmungen auf der Seite von Creative Commons">CC BY 4.0</a>.
                </p>
            </div>
        </div>

    </div>

    <script>

        const budapest = L.marker([47.5, 19.05]).bindPopup('<strong>Budapest </strong><br/>');
        const hannover = L.marker([52.374444, 9.738611]).bindPopup('<strong>Budapest </strong><br/>');

        const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
        const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

        const streets = L.tileLayer(mbUrl, {
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            attribution: mbAttr
        });

        const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 11,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        const map = L.map('map', {
            center: [50.764444, 15.046944],
            zoom: 4,
            layers: [osm,
                budapest,
                hannover,
            ]
        });

        const baseLayers = {
            'OpenStreetMap': osm,
        };

        const layerControl = L.control.layers(baseLayers, overlays).addTo(map);

    </script>

{% endblock %}