{% extends 'base.html.twig' %}

{% block title %} Treibitsch | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <video width="100%"  height="100%" controls poster="{{ asset('images/poster/Trebitsch.jpg') }}">
                    <source src="{{ asset('videos/Trebitsch.mp4') }}" type="video/mp4">
                </video>
                <div>
                    <p>Katharina Trebitsch über drei familiengeschichtliche Objekte. © IGdJ, 2022.</p>
                </div>
                <div class="pt-5">
                    <p class="quote">„Das Schiff wurde zum größten Schatz unserer Familie.“</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="metadata p-4">
                    <p>Gesamtlänge des Interviews: 07:35</p>
                    <p>Gezeigter Ausschnitt: 06:29</p>
                    <p>Interviewerin: Karen Körber</p>
                    <p>Ort des Interviews: Hamburg</p>
                    <p>Interview geführt am: 19.6.2022 (Objekttag in Kooperation mit dem Jüdischen Museum Berlin)</p>
                    <p>Schnitt: Anna Menny, Aline Philippen</p>
                    <p>Objekt(e): Gebetsbuchs der Großmutter (etwa 1912),
                        Fotografie des Großvaters (etwa 1944), Holzschiff des Vaters</p>
                    <p>Schlagwort(e): Objekttag,
                        KZ Sachsenhausen,
                        KZ Ravensbrück,
                        KZ-Außenlager Barth,
                        KZ Wöbbelin,
                        Holocaust,
                        Nationalsozialismus,
                        Zweiter Weltkrieg</p>
                    <p>Genannte Orte: Budapest,
                        Bor,
                        Oranienburg,
                        Ravensbrück,
                        Barth,
                        Wöbbelin,
                        Hamburg,
                        Schweden,
                        Israel
                    </p>
                    <p>Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</a> (Text), <a
                                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY-NC-ND 4.0</a>
                        (Video)</p>
                </div>
            </div>
        </div>
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <h2 class="title-show">Katharina Trebitsch</h2>
                <p>
                    Ein Gebetsbuch der Großmutter, eine Fotografie ihres Großvaters sowie ein Holzschiff ihres Vaters,
                    dem Filmproduzenten Gyula Trebitsch, sind die für die 1949 geborene Fernsehproduzentin Katharina
                    Trebitsch zentralen Objekte ihrer Familiengeschichte. Während sie das Gebetsbuch und die Fotogafie
                    ungefähr auf die Jahre 1912 und 1944 datiert, lässt sich die Übergabe des Holzschiffs an den Vater
                    genau bestimmen, es war das erste Geburtstagsgeschenk nach der Befreiung, überreicht von Mitüberlebenden des KZ-Wöbbelin.
                </p>
            </div>
            <div class="col-lg-6 col-xl-6">
                <a href="{{ asset('images/objekte/Trebitsch_Objekt_Schiff.jpg') }}"
                   data-lightbox="schiff"
                   data-title="Holzschiff, das Katharina Trebitsch' Vater 1945 zum Geburtstag von anderen Überlebenden erhalten hat. Foto: Stephan Pramme, Jüdisches
                    Museum Berlin">
                    <img class="gallery img-fluid"
                         src="{{ asset('images/objekte/Trebitsch_Objekt_Schiff_Voransicht.jpg') }}"
                         alt=""/>
                </a>
                <a href="{{ asset('images/objekte/Trebitsch_mit_Objekt.jpg') }}"
                   data-lightbox="schiff"
                   data-title="Katharina Trebitsch mit dem Holzschiff ihres Vaters. Foto: Stephan Pramme, Jüdisches
                    Museum Berlin">
                </a>
                <p class="caption img-fluid" style="width:450px;">Holzschiff, das Katharina Trebitsch' Vater 1945 zum Geburtstag von anderen Überlebenden erhalten hat. Foto: Stephan Pramme, Jüdisches
                    Museum Berlin. [Bildergalerie]</p>
            </div>

        </div>
    </div>
{% endblock %}
